<div id="{{ selector }}"></div>
<script>
    
    document.addEventListener('DOMContentLoaded', () => {

        const container = document.querySelector('#{{ selector }}');
        if (!container) {
            console.log('no container');
            return;
        }

        window.vue.createApp(
            window.vue.components['{{ componentName }}'], 
            {
                test: {{ data|raw }}
            }
        ).mount(container);
    });
</script>