api_platform:
  title: Hello API Platform
  version: 1.0.0
  formats:
    json: ["application/json"]
    multipart: ["multipart/form-data"]
  patch_formats:
    json: ["application/merge-patch+json", "application/json"]
    jsonapi: ["application/vnd.api+json"]
  docs_formats:
    jsonld: ["application/ld+json"]
    jsonopenapi: ["application/vnd.openapi+json"]
    html: ["text/html"]
  error_formats:
    jsonproblem: ["application/problem+json"]
  defaults:
    stateless: true
    cache_headers:
      vary: ["Content-Type", "Authorization", "Origin"]
    extra_properties:
  use_symfony_listeners: true
  serializer:
    hydra_prefix: true
  swagger:
    api_keys:
      JWT:
        name: Authorization
        type: header
    swagger_ui_extra_configuration:
      persistAuthorization: true

when@prod:
  api_platform:
    enable_swagger: false
    enable_swagger_ui: false
    enable_docs: false
    enable_re_doc: false
    graphql:
      enabled: false