twig:
    default_path: '%kernel.project_dir%/templates'
    globals:
        url_site: '%env(BACKEND_URL)%'
        sitename: '%env(SITENAME)%'
        recaptcha:
            site_key: "%env(RECAPTCHA_KEY)%"
        analytics_account: "%env(ANALYTICS_ACCOUNT)%"
        google_site_verification: "%env(GOOGLE_SITE_VERIFICATION)%"
        display_banner:  "%env(bool:DISPLAY_BANNER)%"
        display_notes_de_frais:  "%env(bool:DISPLAY_NOTES_DE_FRAIS)%"
        afficher_competences: "%env(bool:AFFICHER_COMPETENCES)%"
        whatsapp_commu_link: "%env(WHATSAPP_COMMU_LINK)%"
        caf_id: "%env(CAF_ID)%"
        default_alert_article_prefix: "%env(ALERT_ARTICLE_PREFIX)%"
        default_alert_sortie_prefix: "%env(ALERT_SORTIE_PREFIX)%"
        site_version: "%env(string:COMMIT_ID)%"

when@test:
    twig:
        strict_variables: true
