services:
  cafsite:
    build:
      context: ./docker
      args:
        - UID=${UID:-1000}
        - GID=${GID:-1000}
    container_name: www_pca
    profiles: ["dev", "ci"]
    ports:
      - "8000:80"
    volumes:
      - ./docker/vhosts:/etc/apache2/sites-enabled
      - ./docker/utils/xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
      - ./:/var/www
      - ~/.composer:/var/www/.composer
      - ~/.phive:/var/www/.phive
      - ~/.ssh:/var/www/.ssh:ro

  cafdb:
    # The MySQL version must be updated at multiple places (docker-compose, gitlab-ci)
    image: mysql:8.0.33
    ports:
      - "127.0.0.1:3306:3306"
    container_name: db_pca
    profiles: ["dev", "ci"]
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
    restart: always
    volumes:
      - mysql_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin
    container_name: phpmyadmin_pca
    profiles: ["dev"]

    ports:
      - 8080:80
    environment:
      PMA_HOST: ${DB_HOST}
      UPLOAD_LIMIT: ${UPLOAD_LIMIT}

  mailcatcher:
    image: axllent/mailpit
    container_name: mail_pca
    profiles: ["dev"]
    ports:
      - 1025:1025
      - 8025:8025

volumes:
  mysql_data:
