parameters:
  tmpDir: var/cache/phpstan

  ignoreErrors:
    - '#Variable \$mysqli might not be defined\.#'
    - '#Undefined variable: \$mysqli#'
    - '#Constant (APP|SCRIPTS|INCLUDES|PAGES|ATOM|RSS1|RSS2|CONFIG|ROOT|MON_DOMAINE) not found\.#'
    - '#Variable \$p_[a-z_]+ might not be defined#'
    - '#Variable \$pbd might not be defined#'
    - '#Variable \$p\d might not be defined#'
    - '#Undefined variable: \$p_[a-z_]+#'
    - '#Variable \$mon_domaine might not be defined#'
    - '#Variable \$limite_[a-z_]+ might not be defined#'
    - '#Variable \$do_mail_[a-z_]+ might not be defined#'
    - '#Variable \$do_p_chron[a-z0-9_]+ might not be defined#'
    - '#Variable \$p_chron[a-z0-9_]+ might not be defined#'
    - '#Variable \$userAllowedTo might not be defined#'
    - '#Variable \$use_md5_salt might not be defined#'
    - '#Variable \$md5_salt might not be defined#'
    - '#Variable \$scriptsDir might not be defined#'
    - '#Variable \$lang might not be defined#'
    - '#Variable \$versCettePage might not be defined#'
    - '#Instantiated class FeedWriter not found#'

  autoload_files:
    - vendor/bin/.phpunit/phpunit-8.5-0/vendor/autoload.php

  excludePaths:
    - public/scripts/operations/operations.bus_update.php
    - public/scripts/operations/operations.contact.php
    - public/scripts/operations/operations.evt_verif.php
    - public/scripts/operations/operations.dest_create.php
    - public/scripts/operations/operations.dest_update.php
    - public/scripts/operations/operations.evt_save.php
    - public/tools/htmLawed/htmLawed.php
    - public/pages
    - public/includes
    - public/index.php
    - public/app/ajax/pages_reorder.php
    - public/app/ajax/get_content_html.php
    - public/admin/retouches-ajax.php
    - public/admin/ftp.php
    - var/cache

