{% extends 'base.html.twig' %}

{% block title %}Local du club
{% endblock %}

{% block body %}
	<div id="left1">
		<h1 class="page-h1">Local du Club</h1>
		<div class="main-type">
			{{ easy_include('local-club-description') }}<br />

			<iframe src="https://calendar.google.com/calendar/embed?src=c_188624p7sluqcirpnedpvs49j8od6%40resource.calendar.google.com&ctz=Europe%2FParis&wkst=2" style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
		</div>
	</div>
{% endblock %}
