{% extends 'base.html.twig' %}

{% block title %}Local du club
{% endblock %}

{% block body %}
	<div id="left1">
		<h1 class="page-h1">Local du Club</h1>
		<div class="main-type">
			<p>Il est possible de r&eacute;server le local du Club pour des activit&eacute;s li&eacute;es au fonctionnement du Club.</p>

			<p>Elle peut contenir environ 30 personnes assises (formation, pr&eacute;sentation, r&eacute;unions) et environ 70 debout.</p>

			<p>R&egrave;gles de r&eacute;servation du local du Club / Priorit&eacute;s&nbsp;:</p>

			<ol start="1" style="list-style-type:decimal">
				<li>Jeudi&nbsp;: r&eacute;serv&eacute; &agrave; l&rsquo;accueil, inscriptions et &eacute;v&egrave;nements festifs</li>
				<li>R&eacute;unions institutionnelles&nbsp;: Comit&eacute; Directeur et Bureau</li>
				<li>R&eacute;unions de Commissions</li>
				<li>Formations inscrites sur le site</li>
				<li>Autres soir&eacute;es&nbsp;: pr&eacute;parations de raid, sorties, s&eacute;jours &hellip;</li>
			</ol>

			<p>Dans la mesure du possible, informer au moins deux semaines avant la r&eacute;union les personnes ayant d&eacute;j&agrave; r&eacute;serv&eacute; afin qu&rsquo;elles puissent trouver une autre date.<br/>
				Au sein d&rsquo;un m&ecirc;me niveau, c&rsquo;est la premi&egrave;re inscription qui pr&eacute;vaut.</p>

			<p>Rappel&nbsp;: la salle mat&eacute;riel peut &ecirc;tre une salle de repli pour un petit groupe.</p>

			<p>Merci de quitter la salle rang&eacute;e et nettoy&eacute;e.</p>

			<p>Pour faire une demande de r&eacute;servation, veuillez remplir ce formulaire: <a href="https://forms.gle/ZvsHy3wsu4H2vpFk9" target="_blank">https://forms.gle/ZvsHy3wsu4H2vpFk9</a>
			</p>
			<p>Pour annuler une demande de réservation, contactez <a href="mailto:accueil@clubalpinlyon.fr">accueil@clubalpinlyon.fr</a></p>

			<p>Dans tous les cas, l&#39;agenda du local, pr&eacute;sent ci-dessous, fait foi.</p><br />

			<iframe src="https://calendar.google.com/calendar/embed?src=c_188624p7sluqcirpnedpvs49j8od6%40resource.calendar.google.com&ctz=Europe%2FParis&wkst=2" style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
		</div>
	</div>
{% endblock %}
