{% extends 'email/mail.html.twig' %}

{% block html %}
    <tr>
        <td height="25" valign="middle" style="font-size: 1.4rem; line-height: 25px"></td>
    </tr>
    <tr>
        <td valign="top" style="border: 0;">
            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td bgcolor="#ffffff" style="background: #ffffff; border-radius: 2px; padding: 15px 20px;">
                        <h1>{% block rappel_objet %}{{ block('subject') }}{% endblock %}</h1>
                        {% block inner_html '' %}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
{% endblock %}
