{% extends format == 'html' ? 'email/transactional/layout.html.twig' : 'email/transactional/layout.txt.twig' %}

{% block subject -%}
    [Licence expirée] {{ event_name }} du {{ event_date }}
{%- endblock %}

{% block inner_html %}
    <p>
        Attention, vous êtes inscrit sur <a href="{{ event_url }}">cette sortie</a> et votre licence ne sera pas valide au moment de la sortie.<br>
        Voici le lien pour <a href="https://extranet-clubalpin.com/app/out/adhi2/app.php?route=accueil">renouveler</a>.
    </p>
    <p>
        Sans renouvellement, vous ne pourrez pas participer à la sortie (même si vous étiez inscrit).
    </p>
{% endblock %}

{% block inner_txt %}
    Attention, vous êtes inscrit sur cette sortie : {{ event_url }} et votre licence ne sera pas valide au moment de la sortie.
    Voici le lien pour renouveler : https://extranet-clubalpin.com/app/out/adhi2/app.php?route=accueil .

    Sans renouvellement, vous ne pourrez pas participer à la sortie (même si vous étiez inscrit).
{% endblock %}
