{% extends format == 'html' ? 'email/transactional/layout.html.twig' : 'email/transactional/layout.txt.twig' %}

{% block subject -%}
    [Participant(s) avec licence expirée] {{ event_name }} du {{ event_date }}
{%- endblock %}

{% block inner_html %}
    <p>
        Attention, des personnes sont inscrites sur <a href="{{ event_url }}">votre sortie</a> et leur licence n'est plus valable au club, ces personnes doivent renouveler sinon vous ne pourrez pas les laisser participer à la sortie, et devrez donc les désinscrire.
    </p>
{% endblock %}

{% block inner_txt %}
    Attention, des personnes sont inscrites sur votre sortie : {{ event_url }} et leur licence n'est plus valable au club, ces personnes doivent renouveler sinon vous ne pourrez pas les laisser participer à la sortie, et devrez donc les désinscrire.
{% endblock %}
