{% extends format == 'html' ? 'email/transactional/layout.html.twig' : 'email/transactional/layout.txt.twig' %}

{% block subject -%}
    Votre mot de passe
{%- endblock %}

{% block inner_html %}
    <p>Vous avez demandé à ré-initialiser votre mot de passe. Cliquez sur le lien ci-dessous pour ré-initialiser votre mot de passe.
        Attention ce lien ne fonctionne que pendant trois heures.</p>
    <p><a class="bigLink" href="{{ login_link }}" title="">{{ login_link }}</a></p>
    <p>Si vous n'avez pas demandé à recevoir ce mail, il suffit de l'ignorer.</p>
{% endblock %}

{% block inner_txt %}
    Vous avez demandé à ré-initialiser votre mot de passe. Cliquez sur le lien ci-dessous pour ré-initialiser votre mot de passe.
    Attention ce lien ne fonctionne que pendant trois heures.

    {{ login_link }}

    Si vous n'avez pas demandé à recevoir ce mail, il suffit de l'ignorer.
{% endblock %}
