{% extends format == 'html' ? 'email/transactional/layout.html.twig' : 'email/transactional/layout.txt.twig' %}

{% block subject -%}
    Modification de votre mot de passe du Club Alpin Français Lyon-Villeurbanne
{%- endblock %}

{% block inner_html %}
    <h1>Modification de votre mot de passe du Club Alpin Français Lyon-Villeurbanne</h1>
    <p>Votre mot de passe vient d'être modifié. Si vous n'êtes pas à l'origine de cette action, veuillez prendre contact avec les administrateurs du site.</p>
{% endblock %}

{% block inner_txt %}
    Modification de votre mot de passe du Club Alpin Français Lyon-Villeurbanne.

    Votre mot de passe vient d'être modifié. Si vous n'êtes pas à l'origine de cette action, veuillez prendre contact avec les administrateurs du site.
{% endblock %}
