<body style="background-color: #90d0dc; padding:0; margin:0; border:0; font-family:Trebuchet MS; font-size:11px; line-height:18px; ">
    <div style="text-align: center; padding-top: 10px; margin: auto; margin-top: 0px">
        <a href="https://www.clubalpinlyon.fr/" title="Club Alpin Lyon-Villeurbanne">
            <img src="https://www.clubalpinlyon.fr/app/templates/templateimgs/logo.png" alt="logo Club Alpin Lyon-Villeurbanne" title="Club Alpin Lyon-Villeurbanne" style="border:none" border="0" />
        </a>
    </div>
    <div style="background-color: white; margin: 20px; padding: 20px;">
        <div style="margin: auto;">
            [HEADER]
            [MAIN]
            [FOOTER]
        </div>
    </div>
    <div style="height: 10px">
    </div>
	<style type="text/css">
		p, ul{ font-size:15px; }
		a{ color:gray }
		h1{ font-size:25px; font-weight:bold; }
		h2{ font-size:20px; font-weight:bold; }
	</style>
</body>
