{% set is_admin = false %}
{% set is_content_manager = false %}
{% if is_granted(constant('App\\Security\\SecurityConstants::ROLE_ADMIN')) %}
    {% set is_admin = true %}
{% endif %}
{% if is_granted(constant('App\\Security\\SecurityConstants::ROLE_CONTENT_MANAGER')) %}
    {% set is_content_manager = true %}
{% endif %}

<div id="menuAdmin" style="position:relative">
    <!-- specs -->
    <a href="{{ path('admin_logout') }}" title="" class="adminmenulink special"><img src="/img/base/door_out.png" alt="" title="" /> Déconnexion</a>
    <a href="{{ path('homepage') }}" title="Retour au site" class="adminmenulink special"><img src="/img/base/house.png" alt="" title="" /> Retour au site</a>

    <span style="float:left">Menu {% if is_admin %}Administrateur{% elseif is_content_manager %}Gestionnaire Contenu{% endif %} : </span>

    <div style="margin-left:160px">
        {{ render(controller('App\\Controller\\AdminController::adminMenuPages')) }}
    </div>
    <div style="clear:both"></div>
</div>
