.expense-report-form {

    margin-bottom: $gutter-double;

    h3 {
        @extend h3;
        font-size: 1.05rem;
        margin-bottom: $gutter;
    }

    h4 {
        font-size: 0.9rem;
        color: $gray-dark
    }

    fieldset {
        border: 1px solid $gray-light;
        margin: 0;
        margin-top: $gutter;
        padding: 0 $gutter;
        padding-top: calc($gutter * 3);
        position: relative;

        legend {
            @extend h2;
            font-size: 1.1rem;
            position: absolute;
            top: $gutter;
        }

        .field-list {
            display: flex;
            flex-wrap: wrap;

            & > .field {
                
            }
        }
        
        &#refund-required-group {
            .field {
                margin-bottom: 0;
                width: 100%;

                label {
                    display: flex;
                    align-items: center;
                    gap: $gutter-half;
                }
            }
        }
    }

    .field {
        box-sizing: border-box;
        margin-bottom: $gutter;
        padding: $gutter-half $gutter $gutter-half 0;
        width: 50%;

        input, select, textarea {
            background-color: $gray-light;
            box-sizing: border-box;
            border: none;
            border-radius: $gutter-half;
            margin-bottom: $gutter-half;
            padding: $gutter-half;
            width: 100%;
        }

        input[type="radio"] {
            margin-bottom: 0;
            width: auto;
        }

        label {
            display: block;
            margin-bottom: calc($gutter-half / 2);
            padding-left: 0.1rem;

            &.uploader-label {
                cursor: pointer;
            }
        }

        &.error {
            input, select, textarea {
                background-color: $red-light!important;
            }
        }
    }

    .type-select {
        margin-bottom: $gutter;
        border-bottom: 1px solid $gray-dark;
    }

    .buttons {
        display: flex;
        justify-content: space-around;

        .biglink {
            border-radius: $gutter-half;
            padding: $gutter;
        }

        .biglink.submit {
            background-color: $green-dark;
            color: $white;

            &:hover {
                background-color: $green;
            }
        }
    }
    .add-more,
    .delete {
        font-size: 0.8em;
        margin-bottom: $gutter;
        margin-left: $gutter;

        &:hover {
            text-decoration: none;
        }
    }

    .justification {
        .filename {
            font-style: italic;
        }
    }

    .success {
        color: $green-dark;
        font-weight: bold;
        margin: auto;
    }

    .errors {
        color: $red-dark;
        font-weight: bold;
        margin-bottom: $gutter;
    }
}