.expense-report-form {

    h3 {
        @extend h3;
        font-size: 1.05rem;
        margin-bottom: $gutter;
    }

    h4 {
        font-size: 1rem;
        color: $gray-dark
    }

    fieldset {
        border: none;
        background-color: $gray-light;
        margin: $gutter 0;
        padding: $gutter;
        padding-top: calc($gutter * 3);
        position: relative;

        legend {
            @extend h2;
            font-size: 1.1rem;
            position: absolute;
            top: $gutter;
        }
    }

    .field {

        input, select {
            margin-bottom: $gutter-half;
        }

        label {
            display: block;
            margin-bottom: $gutter-half;

            &.uploader-label {
                cursor: pointer;
                font-weight: bold;
            }
        }
    }

    .type-select {
        margin-bottom: $gutter;
        border-bottom: 1px solid $gray-dark;
    }

    .buttons {
        display: flex;
        justify-content: space-around;
    }
}