.expense-report-form {
    h3 {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    fieldset {
        padding: 1rem;
    }

    .field {
        margin-bottom: 1rem;
    }
}