{% extends 'base.html.twig' %}

{% block title %}Méthodologie du bilan carbone{% endblock %}

{% block body %}
    <h1>Méthodologie du bilan carbone des sorties</h1>
    <p><em>Cette page sera complétée prochainement avec le détail de la méthode de calcul, les sources des facteurs d'émission et les limites du modèle.</em></p>
{% endblock %}
