<style>

    .refund-amount {
        font-weight: bold;
        font-style: italic;
    }
</style>
<div class="info expense-report-summary" id="expense-report-summary">
    <h3>Résumé :</h3>
    <div>Total remboursable : <span class="refund-amount">123.00€</span></div>
    <div>Hébergement : 60.00€, Transport : 63.00€</div>
</div>