<style>
  .ndf-form-wrapper .title {
    color:#666666;
    text-transform:uppercase;
    font-weight:bold;
    font-family:Verdana, sans-serif;
    font-size:13px;
    padding:3px 5px 3px 15px;
    background: url(../img/puce.png) no-repeat 0 3px;
    margin-bottom:10px;
  }

  .ndf-form {
    font-size:1.1em;
    color:#666666;
    margin-right:10px;
  }

  .ndf-form .center {
    display:flex;
    justify-content:center;
  }

  .ndf-form .submit {
    padding:10px 20px;
    color:#fff;
    background-color:#53B4E4;
    text-transform:uppercase;
    font-weight:bold;
    border:none;
    cursor:pointer;
    margin-bottom:20px;
  }

  .ndf-form .submit:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }


  .ndf-form > div:not(.center) {
    padding:15px;
    background:#f2f2f2;
    overflow:hidden;
    margin-bottom:20px;
  }

  .ndf-form > div,
  .ndf-form > .transport > div {
    display:block;
    clear:both; 
  }

  .ndf-form > div > label,
  .ndf-form > .transport > div > label {
    margin-right:5px;
    font-weight:bold;
    margin-bottom:5px;
    display:block;
  }

  .ndf-form .checkboxes input {
    float:left;
    clear:both;
    margin-right:5px;
    margin-bottom:5px;
  }

  .ndf-form .checkboxes label {
    float:left;
    margin-bottom:5px;
  }

  .ndf-form input[type="number"],
  .ndf-form input[type="text"],
  .ndf-form textarea,
  .ndf-form select {
    border:0;
    height:22px;
    padding:2px 7px;
    background:#fff;
    outline:none;
  }

  .ndf-form textarea {
    height:100px;
    font-size:.9em;
  }

  .ndf-form select {
    border:0;
    height:26px;
  }

  .ndf-form .collection-widget .add-collection-widget {
    position:relative;
    padding-left:20px;
    color:#4b974b;
    font-size:.9em;
  }

  .ndf-form .collection-widget .add-block {
    margin-top:10px;
    width:50%;
    float:left;
  }

  .ndf-form .collection-widget .add-block .add-collection-widget .add-btn {
    width:16px;
    height:16px;
    background:url(../img/base/add.png);
    position:absolute;
    left:0;
  }

  .ndf-form .collection-widget .collection-widget-item {
    margin-top:10px;
    float:left;
    width:50%;
  }

  .ndf-form .collection-widget .collection-widget-item .remove-collection-widget .remove-btn {
    width:16px;
    height:16px;
    top:-7px;
    left:-7px;
    background:url(../img/base/delete.png);
    position:absolute;
  }

  .ndf-form .collection-widget .collection-widget-item .card {
    position: relative;
    padding: 7px 10px;
    background: #eaeaea;
  }

  .ndf-form .collection-widget .collection-widget-item:nth-child(odd) .card {
    margin-right:5px;
  }

  .ndf-form .collection-widget .collection-widget-item:nth-child(even) .card {
    margin-left:5px;
  }

  .ndf-form .collection-widget .collection-widget-item .card > div > label {
    clear:both;
    margin-right:10px;
  }

  .ndf-form .collection-widget .collection-widget-item .card > div > input,
  .ndf-form .collection-widget .collection-widget-item .card > div > textarea {
    width:calc(100% - 25px);
    margin:4px 0;
  }
</style>

{% if ndf_form is not empty %}

  <div class="ndf-form-wrapper">
    <h2 class="title">Saisie de notes de frais</h2>

    {% if demande is empty or demande.id is empty %}

      {{ form_start(ndf_form, {
        'method': 'post',
        'action': path('sortie', { 'code': event.code, 'id': event.id }),
        'attr': {
          'class': 'ndf-form'
        }
      }) }}

        {{ form_row(ndf_form.remboursement, { 'attr': { 'class': 'checkboxes' }}) }}

        <div class="transport">
          {{ form_row(ndf_form.type_transport, { 'attr': { 'class': 'transport-choice' }}) }}

          <div class="transport-type minibus_club" style="display:none;">
            {% include 'sortie/ndf_depenses.html.twig' with { 'depenses': ndf_form.ndf_depenses_minibus_club, 'type': 'minibus_club' } %}
          </div>
          <div class="transport-type minibus_loc" style="display:none;">
            {% include 'sortie/ndf_depenses.html.twig' with { 'depenses': ndf_form.ndf_depenses_minibus_loc, 'type': 'minibus_loc' } %}
          </div>
          <div class="transport-type voiture" style="display:none;">
            {% include 'sortie/ndf_depenses.html.twig' with { 'depenses': ndf_form.ndf_depenses_voiture, 'type': 'voiture' } %}
          </div>
          <div class="transport-type commun" style="display:none;">
            {% include 'sortie/ndf_depenses.html.twig' with { 'depenses': ndf_form.ndf_depenses_commun, 'type': 'commun' } %}
          </div>
        </div>

        {% include 'sortie/ndf_depenses.html.twig' with { 'depenses': ndf_form.ndf_depenses_hebergement, 'type': 'hebergement' } %}

        {% include 'sortie/ndf_depenses.html.twig' with { 'depenses': ndf_form.ndf_depenses_autre, 'type': 'autre' } %}

        <div class="center">
          <input class="submit" type="submit" value="Envoyer les notes de frais" />
        </div>

      {{ form_end(ndf_form) }}

    {% else %}
      <p><i>Vous avez déjà saisi une note de frais</i></p>
    {% endif %}
  </div>
  <hr>

  <script>
    !function($, undef) {

      ///////////////////////////////
      // COLLECTION WIDGET
      ///////////////////////////////

      var closeBtnClass = 'close',
          closeBtn = '<btn class="btn btn-fill btn-success btn-sm '+closeBtnClass+'"><i class="material-icons">close</i></div>';

      var addToList = function ($list, $addBtn) {

          // Try to find the counter of the list
          var counter = $list.attr('data-widget-counter');

          // If the counter does not exist, use the length of the list
          if (counter === undefined) {
              counter = $list.children('.collection-widget-item').length;
              $list
                  .children('.collection-widget-item')
                      .each(function() {
                          var itemId = $(this).data('item-id');
                          if (itemId && itemId >= counter) {
                              counter = itemId+1;
                          }
                      });
          }

          // grab the prototype template
          var newWidget = $list.attr('data-prototype');
          // replace the "__name__" used in the id and name of the prototype
          // with a number that's unique to your emails
          // end name attribute looks like name="contact[emails][2]"
          newWidget = newWidget.replace(/__name__/g, counter);

          // create a new list element and add it to the list
          var $newElem = $($list.attr('data-widget-tags')).html(newWidget/* */);
          $newElem.attr('data-item-id', counter);

          $list.find('.'+closeBtnClass).remove();

          var $addBlk = $addBtn.closest('.add-block');
          if ($addBlk.length > 0) {
              $addBlk.before($newElem);
          }
          else {        
              $newElem.appendTo($list);
          }

          if ($newElem.parent().parent().parent().data('list') == '#addresses-collection-widget-list') {
              $newElem.find('a.address-edit').click();
          }

          if ($newElem.find('.contact-edit').length > 0) {
              $newElem.find('.contact-edit').click();
          }

          if ($newElem.find('.activity-edit').length > 0) {
              $newElem.find('.activity-edit').click();
          }

          // Increase the counter
          counter++;
          // And store it, the length cannot be used if deleting widgets is allowed
          $list.attr('data-widget-counter', counter);
      };

      $('body').on('click', '.add-collection-widget', function(e) {
          e.preventDefault();

          var $widget = $($(this).attr('data-widget')),
              $list = $($widget.attr('data-list'));

          addToList($list, $(this));

          $widget.trigger('change');
          $widget.show();

          /*if ($('body .sorter').length > 0){
              window.triggerSortables(); // launch sortables because of new sub sortable lists
          }

          // Autocomplete on new widget
          $widget.find('.select2entity').select2entity();
          $widget.find('.phone .country').addClass('hint');*/
      });

      $('body').on('action','.remove-collection-widget', function(e) {
          var $widget =  $($(this).attr('data-widget')),
              $widgetItem = $(this).parents('.collection-widget-item');

          $widgetItem.remove();

          var $list = $($widget.attr('data-list'));
          if ($list.children().length === 0) {
              $widget.hide();
          }

          var counter = $list.children('.collection-widget-item').length;
          $list
              .children('.collection-widget-item')
                  .each(function() {
                      var itemId = $(this).data('item-id');
                      if (itemId && itemId >= counter) {
                          counter = itemId+1;
                      }
                  });

          $list.attr('data-widget-counter', counter);

          /*$('.tooltip.bs-tooltip-auto ').remove();*/
      });


      $('body').on('click','.remove-collection-widget', function(e) {
          e.preventDefault();

          $(this).trigger('action');
      });

      $('body').on('updateAndShow', '.collection-widget', function(e) {
          $(this).trigger('change');
          $(this).show();
      });


      ///////////////////////////////
      // TRANSPORT SELECT
      ///////////////////////////////

      $('body').on('change', '#ndf_demande_type_transport', function() {
        var val = $(this).val();
        $('.ndf-form .transport-type').each(function() {
          $(this).find('.collection-widget-item').remove();

          if (val == '' || !$(this).hasClass(val)) {
            $(this).hide();
          }
          else {
            $(this)
              .show()
              .find('.add-collection-widget')
                .click();
          }
        });
      });

    }(window.jQuery);
  </script>
{% endif %}