{% extends 'base.html.twig' %}

{% block title %}Secours en Montagne{% endblock %}

{% block body %}
    <div id="left1">
        <p style="text-align: right;margin: 40px 10px 0 0;">
            Participez à l'amélioration de ce document en proposant <a target="_blank" href="https://docs.google.com/document/d/1Ye5gT4LScBKDYc5ugtJV6Hge4_qAXZDTLlZiVrnu0MM/edit?tab=t.0">correctifs et modifications en ligne</a>.
        </p>
        <h1 class="page-h1">Secours en Montagne</h1>
        <div class="main-type">
            <p>
                Il est important pour tout pratiquant de la montagne de pouvoir contacter les Secours en Montagne, administrés par la Police Nationale et la Gendarmerie pour déclarer un accident, demander une assistance ou un avis médical.
            </p>

            <p>
                En Europe <b>le numéro d’urgence est le 112</b> et le 114 par SMS en France<br />
                Il est recommandé de <b>ne pas utiliser d’autre numéro que le 112</b> qui est prioritaire et peut être joint même en absence de signal de son fournisseur GSM.<br />
                <b>Composez le 112 et demandez “Le Secours en Montagne”. Laissez vous guider</b>, le secouriste vous posera des questions. Répondez lui en faisant des <b>phrases simples</b> qui ne traitent que d’<b>un sujet à la fois</b>.<br />
            </p>

            <p>Avant de passer votre appel:</p>
            <ul>
                <li>Soyez sûr d'être <b>hors de danger</b>. Prenez le temps de <b>mettre votre groupe en sécurité</b>. Isoler la victime du froid et couvrez la rapidement pour <b>éviter l’hypothermie</b></li>
                <li>Continuez les gestes de 1er secours à la victime</li>
                <li>Recueillez les informations pour être <b>prêt à répondre à ces questions:</b></li>
            </ul>
            <table style="margin: 10px auto;">
                <thead>
                    <tr>
                        <th style="width: 100px"></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="padding: 5px;border: 1px solid black;">Qui</td>
                        <td style="padding: 5px;border: 1px solid black;">Qui vous êtes et combien vous êtes</td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;border: 1px solid black;">Quoi</td>
                        <td style="padding: 5px;border: 1px solid black;">Nature de l’accident et blessures des victimes</td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;border: 1px solid black;">Où</td>
                        <td style="padding: 5px;border: 1px solid black;">Localisation / Itinéraire / Coordonnées UTM / Altitude</td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;border: 1px solid black;">Quand</td>
                        <td style="padding: 5px;border: 1px solid black;">Heure de l’accident</td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;border: 1px solid black;">Météo</td>
                        <td style="padding: 5px;border: 1px solid black;">Météo sur place, visibilité, vent</td>
                    </tr>
                </tbody>
            </table>
            <p>
                Après votre appel, ne vous déplacez pas, ne raccrochez pas, sauf invitation des Secours en Montagne à le faire.
            </p>
        </div>

        <h1 class="page-h1">Radios Secours Montagne</h1>
        <div class="main-type">

            <p>
                Le club dispose de 9 postes permettant de joindre le Secours en Montagne via le Grand Réseau des Alpes (GRA) et le Canal Emergency, via l’utilisation de radios VHF.
            </p>

            <p>Ces réseaux sont présentés sur leur site internet <a href="https://www.radios-secours-montagne.com/" target="_blank">https://www.radios-secours-montagne.com/</a></p>

            <h1>
                <span class="bleucaf">Pour qui ?</span>
            </h1>

            <p>
                Ces radios de secours montagne sont à disposition de tous les initiateur.ices (et stagiaires) qui ont besoin de pouvoir prévenir les secours, notamment dans les zones non couvertes par le réseau GSM.
            </p>
            <p>
                L’encadrement de mineur implique de pouvoir être constamment en mesure de contacter les secours par GSM ou Radio.
            </p>
            <p>
                L’Autorité de Régulation des Communications Electroniques (ARCEP) met à disposition une carte interactive permettant de connaître à l’avance la couverture GSM d’une zone géographique <a href="https://monreseaumobile.arcep.fr/" targe="_blank">https://monreseaumobile.arcep.fr/</a>.
            </p>

            <h1>
                <span class="bleucaf">Limitations</span>
            </h1>

            <p>
                L’usage des radios de secours montagne:
            </p>
            <ul>
                <li>Implique l’acceptation de la charte d’utilisation ci-dessous.</li>
                <li>Est limité à la communication avec les Secours en Montagne. <b>Elles ne sont pas des talkies walkies pour communiquer entre sous groupes</b>. Préférez l’utilisation de talkies walkies à cet effet.</li>
                <li>Un sortie club ne peut généralement pas utiliser plus d’<b>une seule radio secours montagne dans le groupe</b>.</li>
                <li>Est limité aux sorties club, <b>elles ne peuvent pas être utilisée pour des sorties personnelles</b></li>
                <li><b>Ne doit pas encourager à une prise de risque ou un engagement supplémentaire.</b></li>
            </ul>

            <p>
                Tout cadre fédéral qui souhaite s'équiper personnelement d'une radio de secours en montagne peut le faire à la condition préalable d'obtenir l'autorisation d'accès à la fréquence PMR du CAF de Lyon Villeurbanne. Contactez <a href="mailto:radios-secours@clubalpinlyon.fr">radios-secours@clubalpinlyon.fr</a> pour obtenir cette attestation.<br/>
                L'accès au réseau GRA necessite une radio compatible. La plupart des radios de vol libre sont incompatibles.
            </p>

            <h1>
                <span class="bleucaf">Réservation</span>
            </h1>

            <p>
                Il n’y a pas pour le moment de possibilité de réserver les radios.
            </p>

            <h1>
                <span class="bleucaf">Définitions</span>
            </h1>

            <p>
                Cette documentation informe sur 3 types de communications :
            </p>
            <ul>
                <li>Le <b>Contrôle Radio</b> : Appel permettant de vérifier que vous êtes capable de d’appeler les Secours en Montagne avec le matériel.</li>
                <li>L’<b>appel au Secours en Montagne</b> : appel général vers les réseaux de secours pour signaler un danger, une difficulté, un accident.</li>
                <li>L’<b>appel de Détresse</b> : si l’appel au secours en montagne échoue et que l’urgence est vitale, on parle d’Appel de Détresse. L’appel peut être essayé sur n’importe quelle fréquence.</li>
            </ul>


            <h1>
                <span class="bleucaf">Fonctionnement</span>
            </h1>

            <p>
                Les radios secours montagne du CAF de Lyon-Villeurbanne sont configurées avec un accès à deux réseaux radio permettant de contacter les Secours en Montagne
            </p>
            <ul>
                <li>Le Grand Réseau des Alpes (GRA)</li>
                <li>le Canal Emergency (Canal E)</li>
            </ul>

            <p>
                Il existe aussi des réseaux de secours qui couvrent le Mercantour et le Verdon, mais les postes du club ne sont pas configurés pour les utiliser.
            </p>
            <p>
                Ces radios donnent aussi accès à quelques fréquences <b>à n’utiliser qu’en cas d’appel de détresse</b>
            </p>
            <ul>
                <li>Air Zermatt</li>
                <li>Air Glacier (REGA)</li>
                <li>FFVL</li>
                <li>Canal K</li>
                <li>Courmayeur</li>
            </ul>

            <h2 class="bleucaf">Grand Réseau des Alpes</h2>

            <p>
                Voici une carte présentant les relais radios du GRA<br />
                Pour contacter les secours, il faudra sélectionner le relais le plus proche géographiquement et déclencher le relais (voir notices radio)
            </p>
            <p>
                Note MONO: A noter que le réseau GRA est organisé en massifs (Mont Blanc, Ubaye, Dauphiné, Oisans-Ecrins, Vanoise) et que chacun de ces massifs dispose d’une fréquence MONO. Cette fréquence est réservée aux PGHM et aux refuges, et ne doit pas être utilisée autrement que pour un <b>Appel de Détresse</b> ou si les Secours en Montagne vous invitent à passer sur la MONO.
            </p>

            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1BpGm7tCOVNTNVMgwDwsg-K49khka3Zg&ehbc=2E312F" width="600" height="480"></iframe>

            <h2 class="bleucaf">Canal Emergency</h2>

            <p>
                Voici une carte présentant les relais radios du Canal E<br />
                Pour contacter les secours, il faudra sélectionner le “Canal E Alerte” et déclencher le relais (voir notice radio). A noter que le choix du relais sur le Canal E est automatique, et qu’un interlocuteur Suisse ou Italien pourrait répondre à cet appel.
            </p>

            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1rvP1TWHv7jfUgYGia2iQYqJ5gRPxMpw&ehbc=2E312F" width="600" height="480"></iframe>

            <h1>
                <span class="bleucaf">Charte d'Utilisation</span>
            </h1>

            <h2 class="bleucaf">Modalités d’utilisation</h2>

            <p>
                Pour le bon fonctionnement des réseaux radios de secours en montagne :
            </p>

            <ul>
                <li>Il est strictement interdit de déclencher les relais hors demande de secours ou de contrôle radio.</li>
                <li>Les demandes de vérifications systématiques ne sont pas tolérées par les Secours en Montagne. Une procédure de test à chaque sortie club n’est pas recommandée.</li>
                <li>Quand un secours est en cours, attendre, ne pas déranger la fréquence.</li>
            </ul>

            <p>
                Les postes du club sont entretenus et révisés régulièrement, vous pouvez partir du principe qu’ils fonctionnent correctement. Un essai radio peut être réalisé pour vous assurer que vous savez le faire, ou lors d’un départ avec un groupe de mineurs par exemple.<br/>
                En cas d’abus, le club pourra être blacklisté et n’aura plus accès aux relais.
            </p>

            <h2 class="bleucaf">Procédures d’appel</h2>

            <p>
                Les liaisons radios doivent être brèves afin de ne pas encombrer le réseau.<br/>
                Même en cas d'accident, soyez bref, précis et concis.
            </p>

            <p>
                Sélectionnez un des relais du réseau le plus proche de vous géographiquement.
            </p>

            <p>
                Déclenchez le relais de votre poste (voir fiche d’utilisation) afin de déclencher le relais sélectionné.<br/>
                Cette manœuvre permet l'ouverture du relais afin d'obtenir un secouriste. En s'ouvrant, le relais émet un souffle.<br/>
                Vous pouvez, alors émettre, en appuyant sur la pédale d'alternat de votre poste. Le relais restera ouvert cinq secondes à la fin de la dernière parole. Au bout des cinq secondes, un bip vous avertit de la fermeture du relais. Si le relais se ferme, refaire la procédure décrite ci-dessus.
            </p>

            <p>
                Parlez dans votre poste en suivant la procédure suivante:

            </p>

            <p style="text-align:center;font-weight: bold; font-size: 0.9rem">
                J'appelle le Secours en Montagne, pour « votre prénom »,<br/>
                sur le relais de « nom du relais »,<br/>
                et donnez la raison de votre appel : « pour un contrôle radio ou pour un secours ».
            </p>
            <p>
                Relâchez le bouton et attendez la réponse du secouriste.
            </p>
            <p>
                Sans réponse, répétez l’alerte.
            </p>


            <h3 class="bleucaf">Pour un contrôle radio</h3>

            <p>
                Annoncez simplement : "contrôle radio". Attendez la réponse du secouriste. Annoncez votre niveau de réception, sur une échelle de cinq, puis annoncez "terminé". Cela signifie que la conversation est finie et qu'il n'y a rien à ajouter.
            </p>
            <p>
                Si la liaison est difficile, <b>n'insistez pas, cela pourrait être pris pour un Appel de Détresse.</b>
            </p>

            <h3 class="bleucaf">Pour un secours</h3>

            <p>
                Votre premier contact doit <b>informer sans ambiguïté que vous demandez un secours.</b>
            </p>
            <p>
                Le secouriste vous demandera des informations, notamment:
            </p>
            <ul>
                <li>le lieu de l'accident précis et sa nature</li>
                <li>le nombre de victimes, leurs blessures</li>
                <li>l'altitude et la météo sur place</li>
                <li>éventuellement les possibilités de poser un hélicoptère</li>
            </ul>
            <p>
                Restez à l’écoute.
            </p>

            <p>
                Le secouriste de permanence peut vous demander des informations complémentaires afin de permettre un secours rapide et efficace. La transmission s'effectue par <b>des phrases courtes</b> et <b>ne traitant que d'un sujet à la fois</b>.
            </p>

            <p>
                Le secouriste pourra aussi vous assister dans les gestes à apporter à la victime.
            </p>

            <p>
                Après votre appel, <b>ne coupez jamais votre poste</b> sauf si le secouriste vous le demande et vous fixe une vacation ultérieure. <b>Restez toujours sur le relais</b> que vous avez enclenché pour joindre le secouriste sauf si l'on vous demande de changer.
            </p>

            <h3 class="bleucaf">Procédure de détresse</h3>

            <p>
                Si vous n'arrivez pas à contacter un secouriste :
            </p>

            <p>
                Vérifiez la proximité du relais que vous avez choisi. Essayez de le déclencher de nouveau. Si le relais ne s'ouvre pas, changez de relais ou <b>essayez de vous déplacer ou de prendre de l'altitude</b> afin d'entrer dans une zone de couverture d'un des autres relais.<br/>
                Si vous déclenchez un relais sans réponse d'une des bases de secours, si vous ne pouvez pas parler :<br/>
                <b>Déclenchez plusieurs fois le relais</b>
            </p>

            <p>
                L'opérateur connaîtra le relais que vous avez déclenché ainsi que le numéro de votre poste. Cela lui permettra d'orienter ses recherches.
            </p>

            <p>
                <b>Chaque fois que vous appelez sur un relais, une ligne s’inscrit sur le pupitre radio du service de secours, avec la date l’heure de votre appel</b>. Par votre numéro d’identification radio, votre nom et vos coordonnées apparaissent, <b>les secours prendront contact le président du club pour recueillir des informations et éventuellement envisager un secteur de recherche.</b>
            </p>

            <p>
                Sans succès, essayez de diffuser votre appel sur les autres fréquences, selon votre position géographique. Ces fréquences ne doivent être utilisées qu’en cas de Détresse
            </p>
            <ul>
                <li>Air Zermatt</li>
                <li>Air Glacier (REGA)</li>
                <li>FFVL</li>
                <li>Canal K</li>
                <li>Courmayeur</li>
            </ul>

            <h2 class="bleucaf">Avant ma sortie</h2>

            <p>
                Dans le local matériel du club, je note mon emprunt de radio avec son identifiant dans la zone prévue à cet effet.<br/>
                Je récupère ma radio avec sa boite. <b>Il n’est pas possible d’emprunter une radio en vidant une boîte.</b>
            </p>

            <p>
                La boite contient
            </p>
            <ul>
                <li>le poste</li>
                <li>l’antenne</li>
                <li>le socle de charge</li>
                <li>éventuellement une pince, un holster</li>
                <li>une fiche plastifiée d’utilisation</li>
            </ul>
            <p>
                Dans le cas ou <b>la boite est incomplète, merci de le signaler immédiatement</b> à <a href="mailto:radios-secours@clubalpinlyon.fr">radios-secours@clubalpinlyon.fr</a>.
            </p>
            <p>
                Je consulte la carte des relais radios pour identifier le réseau de secours à ma portée lors de ma sortie, et les relais à proximité immédiate.
                De chez moi, <b>je vérifie que je suis en mesure de sélectionner les relais que je souhaite</b>.
            </p>
            <p>
                <b>Dans le cas où je change la destination de ma sortie, j’informe le responsable de commission, le président et <a href="mailto:radios-secours@clubalpinlyon.fr">radios-secours@clubalpinlyon.fr</a> de mon nouvel itinéraire</b>. Celui-ci sera indiqué aux secouristes en cas de procédure de détresse.
            </p>

            <h2 class="bleucaf">Au départ de ma sortie, au briefing</h2>
            <p>
                Au départ de la sortie, <b>indiquer à l’ensemble du groupe où se trouve la radio de secours en montagne et expliquer son fonctionnement.</b></br>
                Garder la fiche plastifiée d’utilisation de la radio avec la radio.
            </p>

            <h2 class="bleucaf">Notice des Radios du Club</h2>

            <p>
                Le Club dispose de 9 radios qui ne sont pas toutes configurées de la même manière.
                Même si le principe général de déclenchement des secours est le même, il y a des subtilités par poste.
            </p>
            <p>
                Fiche d’utilisation des postes <b>RADIO 01, RADIO 02 et RADIO 03</b> (ICOM F1000S)
                <a target="_blank" href="https://docs.google.com/drawings/d/1yPvBq6Mh_orUyaroki8G5MrDDfYfa2IH_NcjHmqsqx0/edit">
                    <img style="margin: 10px 0 0" src="https://docs.google.com/drawings/d/e/2PACX-1vTdF0V1rMw7qSAVU42hjrgRw7YjI5c6qajF56F_uZbR0X69TpIzpPDcy6H1Agt9szR928vTLzvRTdyb/pub?w=605&amp;h=200">
                </a>
            </p>
            <p>
                Fiche d’utilisation des postes <b>RADIO 04, RADIO 05 et RADIO 06</b> (Hytera PD565)
                <a target="_blank" href="https://docs.google.com/drawings/d/1PDLMbbLM4C8FrWSs5-AbBcxL-bjnzHCipoEqLMDMQas/edit">
                    <img style="margin: 10px 0 0" src="https://docs.google.com/drawings/d/e/2PACX-1vS0HqpU5B_PYF2MHq9YEN_LvMHd_6R8Wnte2TrrsUf2CR7_ng1COAvxPykoHOqRFQgf6s8Ch_Jw6oSE/pub?w=605&amp;h=200">
                </a>
            </p>
            <p>
                Fiche d’utilisation des postes <b>RADIO 07, RADIO 08 et RADIO 09</b> (ICOM F1000S)
                <a target="_blank" href="https://docs.google.com/drawings/d/1a2rdRr1CAFLh59LfDagMt3AGeOvZ-K4bEuOmKGKDGqA/edit">
                    <img style="margin: 10px 0 0" src="https://docs.google.com/drawings/d/e/2PACX-1vRDPQj3aicpbD4zGw3Y-zt7owCcGRf9a5VKEUSl2BahQeSb1fnVWVW_jnvV9MD1XiVj9Asa9ni5IfZ8/pub?w=605&amp;h=200">
                </a>
            </p>

            <h2 class="bleucaf">Après ma sortie</h2>

            <p>Ramener la radio immédiatement au club.</p>

        </div>
    </div>
{% endblock %}
