{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div style="margin:0 auto; padding:100px 10px;min-height:100%; max-width: 400px;">
        {% if error %}
            <section style="margin:0px 0 30px;">
                <div class="erreur">
                    {{ error.messageKey | trans(error.messageData, 'security') }}<br />
                </div>
            </section>
            <section style="margin:0px 0 30px;">
                <div class="alerte">
                    Essayez à nouveau ou ré-initialisez votre mot de passe en cliquant sur <a href="{{ path('session_password_lost') }}">Mot de passe perdu</a>.
                </div>
            </section>
        {% endif %}
        <section class="">
            <h1>Identifiez vous</h1>
            {% include 'login_form.html.twig' %}
        </section>
    </div>
{% endblock %}
