{% extends 'base.html.twig' %}

{% block title %}Connexion - CAF Lyon-Villeurbanne{% endblock %}

{% block body %}
    <div style="margin:0 auto; padding:100px 10px;min-height:100%; max-width: 400px;">
        <section class="">
            <h1>Identifiez vous</h1>
            {% include 'login_form.html.twig' %}
        </section>
    </div>
{% endblock %}
