$white: #ffffff;
$black: #000000;
$gray-lighter: #f9f9f9;
$gray-light: #f5f5f5;
$gray: #cccccc;
$gray-dark: #333333;
$green-dark: #37a12f;
$green-light: #ecf5ec;
$red-dark: #a12f2f;
$red-light: #ffb7b7;