input.nice{ background:rgba(255, 255, 255, 0.1); border:1px solid silver; padding:3px 10px; font-size:12px; cursor:pointer; border-radius:4px; }
	input.nice:hover,input.nice:focus{ background:rgba(255, 255, 255, 0.2); text-shadow:0 0 1px silver; outline:0;}
	input.nice:active{ background:rgba(255, 255, 255, 0.5); }
	
input.nice.blue{ background:rgba(101, 178, 214, 0.1); }
	input.nice.blue:hover,input.nice.blue:focus{ background:rgba(101, 178, 214, 0.2); }
	input.nice.blue:active{ background:rgba(101, 178, 214, 0.5); }
	
input.nice.red{ background:rgba(255, 0, 0, 0.1); }
	input.nice.red:hover,input.nice.red:focus{ background:rgba(255, 0, 0, 0.2); }
	input.nice.red:active{ background:rgba(255, 0, 0, 0.5); }
	
input.nice.green{ background:rgba(0, 255, 0, 0.1); }
	input.nice.green:hover,input.nice.green:focus{ background:rgba(0, 255, 0, 0.2); }
	input.nice.green:active{ background:rgba(0, 255, 0, 0.5); }
	
input.nice.orange{ background:rgba(255, 132, 0, 0.1); }
	input.nice.orange:hover,input.nice.orange:focus{ background:rgba(255, 132, 0, 0.2); }
	input.nice.orange:active{ background:rgba(255, 132, 0, 0.5); }
	


#adminmissing{ 
position:fixed; z-index:300; bottom:0px; left:0px; width:100%; color:white; text-align:left;
background : url('../../public/img/base/error.png') 10px 10px no-repeat #4a4f52; color : white; 
-moz-box-shadow: inset 0px 0px 25px #000000;-webkit-box-shadow: inset 0px 0px 25px #000000;box-shadow: inset 0px 0px 25px #000000; 
}
	#adminmissing input{ 
	color:#d4d4d4; display:block; height:16px; float:left; margin:3px 2px 3px 2px; padding:5px 5px 5px 5px; border:1px solid gray; 
	background : #535960; font-family:Arial; cursor:pointer;
	}
	#adminmissing input:hover { color : #fff; }

#menuAdmin {
position:relative; z-index:500; width:100%; padding:0; opacity:1; background : url('../../public/img/base/adminMenu.gif') 4px 4px no-repeat #4a4f52; color : white; 
-moz-box-shadow: inset 0px 0px 25px #000000;-webkit-box-shadow: inset 0px 0px 25px #000000;box-shadow: inset 0px 0px 25px #000000; 
}
	#menuAdmin img { vertical-align:middle; }
	#menuAdmin span { color :#65b2df; display : block; float : left; margin : 3px 2px 3px 25px; padding : 5px 5px 5px 5px; font-weight : bold; }
	#menuAdmin a.adminmenulink {
	font-weight:100;  color:#d4d4d4; display:block; height:16px;  float:left; margin:3px 2px 3px 2px; padding:5px 5px 5px 5px; border:1px solid gray; 
	background : #535960; text-decoration:none; font-family:Arial;
	}
	#menuAdmin a.adminmenulink.up , #menuAdmin a.adminmenulink.deconnexion{ background:#65b2df; color:white; font-weight:bold;}
	#menuAdmin a.adminmenulink:hover { color : #fff; text-decoration : none; }
	#menuAdmin a.adminmenulink.special{ float:right; /* margin-right:5px ; */ /* background:#65b2df; */  color:white;}
	/*
	#menuAdmin a.adminmenulink.superadmin{ background:#203854; }
	#menuAdmin a.adminmenulink.superadmin.up{ color:#fff; }
	*/

/* BASE*/
.noselect{
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.blocdesactive{ 
border:1px outset #fff; background:url(../../public/img/base/braies.png);
font-family:Arial; font-weight:100; font-size: 0.7rem;  text-align:center;
margin:0px;  padding:25px 10px 3px 10px;
border-radius:5px; box-shadow:0 0 5px silver;
}
.blocdesactive img{ vertical-align:middle; position:relative; bottom:2px; }
.editHtmlTools{ text-align:left; position:relative; top:3px; left:3px; height:0px; z-index:300; opacity:0.3; }
	.editHtmlTools a{ 
	border:1px solid #fff; height:15px; background:#414549; color:white;  padding:2px 6px 4px 3px; 
	border-radius:6px; box-shadow:0 0 5px black;
	font-family:Arial; font-weight:100; font-size: 0.7rem;
	}
	.editHtmlTools a img{ vertical-align:middle; position:relative; bottom:1px; padding-right:2px;  }

	
h1 a, h2 a, h3 a, h4 a, h5 a, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover {
text-decoration : none;
}
textarea{
resize:vertical;
}

input.leurre{display:none;}

.toggleForm{
margin:5px 0px; background:white; border:1px solid silver; border-radius : 15px; padding:7px; display:none
}

.trad-table{width:100%; font-size: 0.8rem; border-collapse:collapse; background:white;border:4px solid white;}
	/* .trad-table tr:hover{background:#f5f5f5; } */
	.trad-table td{padding:2px 2px 2px 2px; }
	.trad-table .trad-comm{color:green; background:#efefef;  }
	.trad-table .trad-indice{/*white-space:nowrap;*/ border-right:1px dotted silver; color:gray;}
	.trad-table .trad-edit{width:400px;}
	.trad-table .trad-edit input{width:400px; border:1px solid silver;}

.cont-table{width:100%; font-size: 0.8rem; border-collapse:collapse; background:white;}
	.cont-table td, .cont-table th{padding:2px 7px 2px 7px; }
	.cont-table tr.th1 th{background:#65b2df; font-weight:600; color:white;}
	.cont-table td{padding:4px 7px 4px 7px; }
	.cont-table .cont-indice{white-space:nowrap; text-align:right; border-right:1px dotted silver; color:gray;}
	.cont-table .cont-edit{padding:0px; }
	.cont-table .cont-edit input{width:98%; margin-left:1%; margin-right:1%; border:1px solid silver;}
	.cont-save{ width:25px;}
		.cont-save a{ width:25px;}
	.cont-versions{ font-size: 0.6rem; width:150px; }

	
.mybox-up{text-align:center; display:none;position:fixed; left:50%; top:30%;margin-left:-160px; border:1px solid gray;  z-index:900; background:white; width:300px;height:75px;padding:10px;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px; box-shadow:0 0 900px 30px black;}
.mybox-down{display:none;position:fixed; top:0px; left:0px; z-index:800; height:100%; width:100%; background:black;-moz-opacity:0.4;opacity: 0.4;filter:alpha(opacity=40);}

.erreur {color:black;border : 1px solid #a12f2f;margin : 5px 5px 5px 0;padding : 5px;background : #f5ecec; box-shadow:0 0 15px -1px silver; }
.info {color:black;border : 1px solid #37a12f;margin : 5px 5px 5px 0;padding : 5px;background : #ecf5ec; box-shadow:0 0 15px -1px silver; }
.alerte {color:black;border : 1px solid #a35f2c;margin : 5px 5px 5px 0;padding : 5px;background : #f7eee2; box-shadow:0 0 15px -1px silver;font-size: 0.9rem;}
.draft {color:gray;border : 1px solid #a0a0a0;margin : 5px 5px 5px 0;padding : 5px;background : #f2f2f2; box-shadow:0 0 15px -1px silver; }

input.boutonFancy, a.boutonFancy {color : black;font-weight : 100;padding : 1px 4px;border : 1px solid gray;cursor : pointer;background : #fff; border-radius : 10px; white-space:nowrap}
input.boutonFancy:hover, a.boutonFancy:hover, input.boutonFancy:focus, a.boutonFancy:focus {text-decoration : none;background : #e2e2e2;border-color : black; outline:0; }
input.boutonFancy.disabled, a.boutonFancy.disabled{color : #dadada; border-color:silver; cursor : no-drop; background : #ededed; padding : 1px 4px;border-radius : 10px; }

input.boutonFancy2, a.boutonFancy2 {font-size: 0.6rem; color : black;font-weight : 100;padding : 1px 4px;border : 1px solid gray;cursor : pointer;background : #fff; border-radius : 10px;}
input.boutonFancy2:hover, a.boutonFancy2:hover {text-decoration : none;background : #e2e2e2;border-color : black;}
input.boutonFancy2 img, a.boutonFancy2 img { vertical-align:bottom; position:relative; top:2px; right:2px; }
input.boutonFancy2.disabled, a.boutonFancy2.disabled{color : #dadada; border-color:silver; cursor : no-drop; background : #ededed; padding : 1px 4px;border-radius : 10px; }

fieldset.fieldsetAdmin {background : #dedede;color:black;border : 1px solid #a5a5a5;padding : 5px 10px;border-radius : 10px;}
	fieldset.fieldsetAdmin.off{ background:#dec2bf; }
	fieldset.fieldsetAdmin.on{ background:#cfdcc7; }
fieldset.fieldsetAdmin legend {color : #444444;background : #fff;padding : 1px 5px;border : 1px solid #a5a5a5;border-radius : 10px;}
legend.legendToggle {color : #444444;background : #fff;padding : 1px 5px;border : 1px solid #a5a5a5;font-weight : bold;cursor : pointer ;border-radius : 10px;}
legend.legendToggle:hover {color : black;}
.fixed {
position : absolute;
}
html > body .fixed {
position : fixed;
}

#tiroir , #lpFileBrowser
	{text-align : left;color:black;}
#tiroir legend a, #lpFileBrowser legend a
	{color : black;text-decoration : none;}
#tiroir legend, #lpFileBrowser legend
	{border : 1px solid #a5a5a5;color : #000000;background : #ffffff;padding : 0 4px;font-weight : bold;border-radius : 6px;white-space : normal;/* cursor : pointer; */}
#tiroir fieldset, #lpFileBrowser fieldset 
	{margin-top : 10px;padding : 0 10px;border : 1px solid #a5a5a5;border-radius : 6px;background : #c4c4c4;}
#tiroir img, #lpFileBrowser img 
	{vertical-align : middle;padding-right : 3px;}
#tiroir a, #lpFileBrowser a
	{text-decoration : none;color : #5f5f5f;font-weight : bold;}
#tiroir a:hover, #lpFileBrowser a:hover 
	{color : black;}
#tiroir td, #lpFileBrowser td 
	{white-space : nowrap;}

	
#ftpPublic{background:#dedede; padding:8px; border-radius:10px; border:1px solid silver; }

.text-din {
	font-family: 'DIN', sans-serif;
}

div.trigger-me label, div#form-event label {
	display: block;
}
form.padded-form {
	padding:10px 30px 0 30px;
	line-height:18px;
}
form.padded-form .wide {
	width: 95%;
}
form.padded-form .small {
	width: 40px;
	color: black;
}
.hidden {
	display: none;
}
.help-text {
	display: inline;
}
