* {margin:0;padding:0}
html{}
body{font-size:12px;font-family:Verdana, sans-serif;text-align:center;background:#f7f8fc;color:#333333;}
h1, h2, h3, h4, h5{font-family:DIN; font-weight:100; /* text-transform:uppercase; */}
h1 b, h2 b, h3 b, h4 b, h5 b,h1 strong, h2 strong, h3 strong, h4 strong, h5 strong {font-family:DINBold; font-weight:100;}
h1 a, h2 a, h3 a, h4 a, h5 a {font-family:inherit; font-weight:inherit;}
h1{font-size:18px; font-weight:100; line-height:20px;}
h2{}
h3{}
h4{}
h5{}
p{padding:5px 0px;}
ul, ol{padding:5px 0px;list-style-position:inside;}
hr{height:2px;border-top:none;border-left:none;border-right:none;border-bottom:1px solid #dadada;margin:10px 0px;}
table{border-collapse:collapse;}
th{}
td{}
a, .fauxlien{color:black;cursor:pointer;font-weight:bold;text-decoration:none;}
a:hover, .fauxlien:hover{text-decoration:underline;}
a img{border:none;}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover{text-decoration:none;}
abbr{border-bottom:1px dotted silver;}
.imgFloatLeft{float:left; padding:0 15px 10px 0;}
.imgFloatLeft img{float:left;}
.imgFloatRight{float:right; padding:0 0 10px 15px;}
.imgFloatRight img{float:right;}
.upfade{opacity:0.6}
.upfade:hover, .upfade:focus{opacity:1;}
.mini p, .mini{font-size:11px; color:#727272; line-height:12px; padding:1px 0;}
.mini strong, .mini b{font-weight:100; color:black;}
a.mini, .mini a{font-weight:100; color:black;}
.rond{display:inline-block; width:36px; height:36px; background:#4eb4ea; opacity:0.8; color:white; text-align:center; border:none; font-weight:600; border-radius:18px; cursor:pointer; font-family:DINBold; font-size:16px;}
.rond:hover, .rond:focus{opacity:1;}
.sharebox{clear:both; padding:3px 0 15px 0; min-height:30px;}
.main-type{min-height:50px; margin:5px 15px 10px 30px; width:620px; background:#f6f8fc;word-wrap: break-word; overflow-wrap: break-word;}
.main-type h1{padding:25px 0 15px 0;}
.main-type h2{font-size:16px;}
.evt-tools{padding:0 !important; background:white;}
.evt-tools .nice2{padding:1px 5px !important; margin:6px 2px 6px 10px;}
.article-tools{padding:5px 10px; background:white; position:relative; top:13px;}
.article-tools .nice2{padding:1px 5px !important; margin:0 2px 2px 0;}
.article-tools-valid{padding:5px 10px; background:white; margin:0 0 5px 0;}
.article-tools-valid .nice2{padding:1px 5px !important; margin:0 2px 2px 0;}
#includer-stuff{background:#f7f8fc; text-align:left;padding:10px;float:left;}
#includer-stuff h1{font-size:25px; padding:5px 0 10px 0;}
#includer-stuff .tiers{float:left; width:32%; padding:5px 10px 5px 0;}
#includer-stuff .tiers.clear{clear:both}
#chron-loader{position:relative; z-index:10; background:white; padding:20px; display:none; border-top:3px groove gray;}
#chron-loader.visible{display:block}
.temoin-places-dispos{display:block; float:left;}
ul.nice-list{list-style-type:none;overflow:hidden;}
ul.nice-list li{display:block; float:left; width:290px; padding:3px 5px 3px 15px; background:url(../../public/img/puce.png) no-repeat 0 3px;}
ul.nice-list li.no-bullet {background:none !important;}
ul.transport{list-style-type:none;overflow:hidden;}
ul.transport > li{background:url(../../public/img/bus.png) no-repeat 0 3px;display:block;float:left;  padding-left:25px;width:auto;width:33%;}
ul.transport > li.wide{width:100%;box-sizing:border-box}
ul.transport > li li{clear:both;width:auto;list-style-type:none;}
ul.transport .parcours{margin-left:-25px;padding-top:5px;}
ul.nice-list li b{color:#666666;}
ul.nice-list li.wide{clear:both; width:584px;width:100%;box-sizing:border-box}
.sitewidth{max-width:980px; margin:auto; text-align:left;}
.fancypopup{max-width:700px; text-align:left;}
form.running input[type="submit"], form.running input[type="submit"]:hover{background:url(../../public/img/base/travaux.gif); color:rgba(0,0,0,0.3); cursor:default !important;}
.notification{font-family:Arial; padding:0 2px; margin-right:3px; text-decoration:none;color:#152200; background:white; border-radius:3px; font-size:12px;}
a .notification, a:hover .notification{text-decoration:none;}
.nav-menu{width:230px; padding:0 6px; float:left; background:#f7931e; color:#201100;}
.nav-menu a{font-weight:inherit; color:inherit;}
.nice2{border:1px solid rgba(0,0,0,0.1); cursor:pointer; font-family:DIN; color:black; background-color:rgba(255, 255, 255, 0.3); border-radius:9px; display:inline-block; padding:2px 11px 0px 11px; font-size:14px; font-weight:100; margin:5px 3px 0 0;}
.nice2:focus, .nice2:hover{text-decoration:none; background-color:rgba(255, 255, 255, 0.6);}
.nice2.white{background:rgba(255, 255, 255, 0.5);}
.nice2.white:hover,.nice2.white:focus{background:rgba(255, 255, 255, 0.8);}
.nice2.white:active{background:rgba(255, 255, 255, 1);}
.nice2.blue{background:rgba(101, 178, 214, 0.1);}
.nice2.blue:hover,.nice2.blue:focus{background:rgba(101, 178, 214, 0.2);}
.nice2.blue:active{background:rgba(101, 178, 214, 0.5);}
.nice2.red{background:rgba(255, 0, 0, 0.1);}
.nice2.red:hover,.nice2.red:focus{background:rgba(255, 0, 0, 0.2);}
.nice2.red:active{background:rgba(255, 0, 0, 0.5);}
.nice2.green{background:rgba(0, 255, 0, 0.1);}
.nice2.green:hover,.nice2.green:focus{background:rgba(0, 255, 0, 0.2);}
.nice2.green:active{background:rgba(0, 255, 0, 0.5);}
.nice2.orange{background:rgba(255, 132, 0, 0.1);}
.nice2.orange:hover,.nice2.orange:focus{background:rgba(255, 132, 0, 0.2);}
.nice2.orange:active{background:rgba(255, 132, 0, 0.5);}
.nice2 img{vertical-align:middle; position:relative; bottom:2px;}
.type1{font-family:Verdana; font-size:12px;color:black; background-color:#f1f1f1; border-radius:4px; border:1px solid rgba(0,0,0,0.2); /* box-shadow:inset 0 0 15px -8px black; */display:inline-block; padding:8px 5px; width:180px; font-weight:100; margin:3px 3px 3px 0;}
.type1:focus{background-color:#ccff99;box-shadow:inset 0 0 7px -2px silver; outline:0; border-color:silver;}
select.type1{border-color:#eaeaea; padding-top:5px; padding-bottom:6px;}
.type2{font-family:Verdana; font-size:12px;color:black; background-color:#e6e6e6; border:none; box-shadow:inset 0 0 5px 0 #b4b2b2;padding:8px 5px; width:180px; font-weight:100; margin:3px 3px 3px 0;}
.type2:focus{background-color:#ccff99; outline:0;}
.type1::placeholder, .type2::placeholder{color: #666; opacity: 1}
.userlink{font-weight:inherit; font-size:12px;}
.userlink:hover, .userlink:focus {text-decoration:underline;}
.biglink, .mediumlink, .minilink {display:inline-block; margin:auto; text-align:center; background:#ebebeb; padding:5px 40px; font-weight:100; font-family:DINBold; font-size:14px; color:#666666; cursor:pointer; border: none;}
.biglink:hover, .mediumlink:hover, .minilink:hover, .biglink:focus, .mediumlink:focus, .minilink:focus {text-decoration:none; outline:0; color:black; background:#d7d7d7;}
.mediumlink {width: 45%}
.minilink {width: 30%}
.pageSelect{padding:15px 0; white-space:nowrap; overflow:hidden; margin-right:20px;}
.pageSelect a{display:inline-block; text-align:center; background:#ebebeb; padding:5px 10px; font-weight:100; font-family:DIN; font-size:11px; color:#666666; margin:0 1px;}
.pageSelect a:hover, .pageSelect a:focus{background:#d7d7d7; color:black; text-decoration:none}
.pageSelect a.up{background:#d7d7d7; color:black; text-decoration:none; box-shadow:0 0 10px -3px silver; /* outline:1px solid silver; bug ffox */}
.pageSelect .navleftright{height:0px; position:relative; z-index:20;}
.pageSelect .navleftright a.arrow{letter-spacing:-2px}
.pageSelect .navleftright a.arrow.left{float:left; border-right:3px solid #f7f8fc;}
.pageSelect .navleftright a.arrow.right{float:right; border-left:3px solid #f7f8fc;}
.pageSelect .pageSelectIn{margin: auto; overflow:hidden;}
.pageSelect .pageSelectInWrapper{position:relative; z-index:10;}
.chutier-images{list-style-type:none}
.chutier-images li{display:block; float:left; padding:5px 0 0 0;}
.chutier-images li img.fichier{height:70px; padding:4px 8px 4px 4px; display:block; cursor:pointer;}
.chutier-images li img.delimg{position:absolute; padding:0 0 0 0; cursor:pointer;}
#mainHeader{background:#fff; height:110px; box-shadow:0 0 17px -5px #7a7a7a; position:relative; z-index:80;}
#logo{float:left; display:block; width:290px; height:71px; margin:30px 30px 5px 20px;}
#logo img{max-width:100%; max-height:100%; object-fit:contain;}
a.toptrigger{height:72px; font-weight:100; font-size:12px; display:block; position:relative; z-index:80; color:#898989; line-height:22px; background:#ffffff; overflow:visible; text-decoration:none;}
a.toptrigger.up{color:black;}
a.toptrigger b{color:#000; display:block; overflow:hidden; text-transform:uppercase; font-size:16px; position:relative; bottom:5px; font-family:DINBold; font-weight:100; white-space:nowrap;}
a.toptrigger .opener{display:block; float:right; height:0px; width:45px; position:relative; top:64px; z-index:90;}
a.toptrigger .picto{display:block; float:left; padding:5px 7px 0 0;}
a.toptrigger .picto img{width:35px;}
a.toptrigger .picto .dark {display:none;}
a.toptrigger .picto .light {display:block;}
a.toptrigger.up .picto .dark {display:block;}
a.toptrigger.up .picto .light {display:none;}
#toolbar-commission{display:block; border-left:1px solid #e6e6e6; float:left; padding:35px 10px 0px 20px; width:205px; height:75px;}
a#toolbar-commission.toptrigger b{white-space:normal;}
#toolbar-commission-hidden{background:url(../../public/img/shadow-bigmenu.png) repeat-x top left #50b7e4; color: #00191E; z-index:50; position:absolute; top:110px; left:0; width:100%; padding:20px 0 40px 0;}
#toolbar-commission-hidden a{display:block; float:left; width:24%; white-space:nowrap; overflow:hidden; margin:2px 1% 0 0; color:00191E; text-transform:uppercase; height:35px; line-height:35px; font-family:DIN; font-weight:100; font-size:13px; text-decoration:none;}
#toolbar-commission-hidden a .picto{display:block; margin-right:10px; float:left; width:35px; height:35px; background-position:100px 100px; background-repeat:no-repeat;}
#toolbar-commission-hidden a .picto img{vertical-align:middle; height:35px;}
#toolbar-commission-hidden a:hover, #toolbar-commission-hidden a:focus{background:url(../../public/img/puce1.png) no-repeat right center rgba(255, 255, 255, 0.2); color:#fff;}
#toolbar-commission-hidden a:hover .picto, #toolbar-commission-hidden a:focus .picto{background-position:center;}
#toolbar-commission-hidden a:hover .picto img, #toolbar-commission-hidden a:focus .picto img{opacity:0;}
#toolbar-navigation {border-left:1px solid #e6e6e6; float:left; padding:35px 10px 0px 20px; width:170px; height:75px;}
#toolbar-navigation-hidden{background:url(../../public/img/shadow-bigmenu.png) repeat-x top left #f7931e; z-index:50; position:absolute; top:110px; left:0; width:100%; padding:20px 0 40px 0; color: #201100}
#toolbar-user{border-left:1px solid #e6e6e6; float:left; padding:35px 10px 0px 20px; width:172px; height:75px;}
#toolbar-user.up .picto{/* background:url(../../public/img/toolbox-up.png) no-repeat left top; */}
#toolbar-user-hidden{background:url(../../public/img/shadow-bigmenu.png) repeat-x top left #8cc63f; color: #152200; z-index:50; position:absolute; top:110px; left:0; width:100%; padding:20px 0 20px 0;}
#toolbar-user .connected-name{white-space:nowrap;}
#toolbar-user .connected-name img{float:left; width:55px; height:55px; padding:0 10px 10px 0;}
#toolbar-user .notification-user{height:0px; width:62px; position:relative; z-index:50; bottom:11px; text-align:right}
#toolbar-user .notification-user span{display:inline-block; height:15px; width:15px; text-align:center; font-size:12px; line-height:15px; font-family:DINBold; font-weight:100; padding:3px; border-radius:15px; background:#8dc540; box-shadow:0 0 7px -2px black;}
#toolbar-user .notification-user-alerte{height:0px; width:62px; position:relative; z-index:51; bottom:11px; text-align:right}
#toolbar-user .notification-user-alerte span{display:inline-block; height:15px; width:15px; text-align:center; font-size:12px; line-height:15px; font-family:DINBold; font-weight:100; padding:3px; border-radius:15px; background:#f15a24; color: black; box-shadow:0 0 7px -2px black;}
#toolbar-user-hidden .nav-user{float:left; width:200px; padding:0 11px 0 0;}
#toolbar-user-hidden .nav-user a{font-weight:inherit; color:inherit;}
#toolbar-user-hidden .nav-user a .star{display:block; float:left; width:0px; position:relative; right:14px; bottom:1px;}
 #toolbar-user-hidden .status{padding:0 0 0 0; margin:0; clear:both; font-size:14px; line-height:22px;}
/* bloc pour masquer l'ombre sous le liens au survol */.shadowcache{display:block; height:0px; position:relative; top:28px; right:20px;}
#shadowcache-commission{background:#50b7e4; width:235px; top:72px; color: #00191E}
#shadowcache-navigation{background:#f7931e; width:200px; color: #201100}
#shadowcache-user{background:#8cc63f; width:201px; float:left; color: #152200}
#top-openers{position:absolute; z-index:80;left:0px; width:100%;}
#top-openers .opener{position:relative; z-index:80; bottom:6px;}
#top-hider{display:none; position:absolute; top:0px; left:0px; z-index:60; height:100%; width:100%; background:rgba(26, 26, 26, 0.8); cursor:default;}
.menutitle{font-family:DIN; text-transform:uppercase; font-size:16px; padding:2px 0 5px 0;}
#toolbar-commission-hidden .menutitle {color: #00191E}
#toolbar-navigation-hidden .menutitle {color: #201100}
#toolbar-user-hidden .menutitle {color: #152200}
.menucontent{font-family:DIN; color:white; font-size:14px;}
#bigfond{background-position: center; background-size:cover;position:fixed; z-index:1; top:0; left:0; width:100%; height:100%;}
#main{position:relative; z-index:50; width:980px; margin:auto; text-align:left; box-shadow:0 0 10px -1px black; min-height:400px; background-color:#f7f8fc;}

#mainfooter{position:relative; z-index:10; width:920px; padding:30px 30px 60px 30px;; margin:auto; text-align:left; background:#f0f4f7; box-shadow:0 0 10px -1px black;min-height:100px; margin-top:17px;}
.bigoo{background:url(../../public/img/bigoo.png) repeat-y top left #f0f4f7;}
.fader{opacity:0.9}
.fader2{opacity:0.4}
.fader2:focus, .fader2:hover {opacity:1}
.tiers-footer{float:left; width:270px; background:#f0f4f7; color:#4d4d4d; line-height:19px; font-size:11px;}
.tiers-footer a{font-weight:100;}
.tiers-footer h2{text-transform:none; font-family:DIN; font-size:18px; font-weight:100; line-height:22px; border-bottom:1px solid #999999; padding:0 0 15px 0; margin:0 0 15px 0;}
.tiers-footer h2 b{font-family:DINBold; font-weight:100;}
.bleucaf{color:#53B4E4;}
#recherche-form{border-top:1px solid #e4e8ea; padding-top:13px; padding-bottom:13px;}
#recherche-form .big{font-size:14px; color:#666666; font-weight:100; font-family:DINBold; padding:3px 0 0 0;}
#recherche-form .textfield{vertical-align:top; font-size:16px; line-height:18px; color:#414141; font-weight:100; /* font-family:DIN; */ font-family:Trebuchet MS; background:url(../../public/img/loupe.png) no-repeat 5px 5px #e4e8ea; border:1px solid #d7dadd; box-shadow:inset 0 0 7px -2px #c3c5c8; padding:5px 8px 5px 28px; margin:2px 0 4px 0; border-radius:10px; width:180px;}
#recherche-form .textfield:focus{border-color:#c3c5c8; background-color:#dadddf; outline:0;}
#recherche-form .submit{vertical-align:top; border:none; background:none; font-size:15px; line-height:18px; color:#808080; font-weight:100; font-family:DINBold; padding:8px 8px; margin:2px 0 4px 0; border-radius:10px; cursor:pointer;}
#recherche-form .submit:hover, #recherche-form .submit:focus{color:#666666; box-shadow:0 0 8px -3px #666666; outline:0;}
#search_filter{vertical-align:top;}
.faux-select-wrapper{height:30px; position:relative; z-index:50;}
.faux-select{margin:5px 15px 3px 5px;background:url(../../public/img/bg-faux-select.png) repeat-y top right white; width:auto; box-shadow:0 0 10px -2px black; border-radius:10px;}
.faux-select:hover {z-index:50;}
.faux-select-wide{width:220px;}
.faux-select a{display:block; padding:8px 40px 8px 11px; font-family:Verdana; font-size:12px; font-weight:100; color:#7f7f7f;}
.faux-select a.up{background:url(../../public/img/bg-faux-select-up.png) no-repeat right 10px; color:black;}
.faux-select a:hover, .faux-select a:focus{background-color:rgba(100,100,100,0.1); text-decoration:none;}
.page-h1{color:#666666; font-size:18px; text-transform:uppercase; font-family:DINBold; border-bottom:1px solid #999999; font-weight:100; background:url(../../public/img/bg-page-h1.png) no-repeat 14px 12px; padding:5px 0 01px 30px; margin:40px 0 5px 0;}
.page-h1 b{color:black;}
h2.trigger-h2{clear:both; margin:25px 0 10px 0; padding:3px 0 4px 15px;border-top:1px solid #c7c8ca; border-bottom:1px solid #999999; color:#666666;font-family:DINBold; font-weight:100; font-size:14px; text-transform:uppercase;background:url(../../public/img/bg-h2-trigger-on.png) no-repeat 0 7px; cursor:pointer}
h2.trigger-h2:hover{color:black;}
h2.trigger-h2.off{background-image:url(../../public/img/bg-h2-trigger-off.png);background-repeat:  no-repeat;background-position:  0 7px;}

.check-nice{}
.check-nice label{display:block; float:left; width:45%; font-size:12px; color:#333333; padding:3px 0;background-repeat:no-repeat;background-position: left 4px;}
.check-nice label img, .check-nice label input {vertical-align:middle}
.check-nice label.off{opacity:0.4; /* text-decoration:line-through; */}
.check-nice label input{margin:5px 5px 5px 2px;}
.check-nice label.up{background-image:url(../../public/img/check-up.png) }
.check-nice label.down{background-image:url(../../public/img/check-down.png)}
.check-nice label.up input, .check-nice label.down input{opacity:0}
.check-nice .in_front,
label.in_front {margin-top:15px; display:block; float:none; width:93%; background-color:white; background-position:8px 5px; padding-left:10px; padding-top:5px; box-shadow:0 0 15px -8px black;opacity:1 }

.radio-nice{}
.radio-nice label{display:block; width:100%; font-size:12px; color:#333333; background-repeat:no-repeat;background-position: left 4px;}
.radio-nice label p{padding: 3px 0 0 0 }
.radio-nice label img, .radio-nice label input {vertical-align:middle}
.radio-nice label.off{opacity:0.4; /* text-decoration:line-through; */}
.radio-nice label input{margin:5px 5px 5px 2px;}
.radio-nice label.up{background-image:url(../../public/img/label-up.png)}
.radio-nice label.down{background-image:url(../../public/img/label-down.png);}
.radio-nice label.up input, .radio-nice label.down input{opacity:0}

.biglabel{display:block; padding:3px 0;}
#left1{width:665px; float:left;}
#right1{float:right; width:315px;}
.right-light{background:url(../../public/img/shadow-right-light.png) repeat-y top left #f0f4f7;}
.right-light-in{width:270px; margin:10px 0 20px 25px; background:#f0f4f7; min-height:25px;}
.right-light-in h1{font-size:16px; text-transform:none; font-family:DINBold; line-height:18px; padding:10px 0 15px 0;}
.right-light-in h2{font-size:14px; text-transform:none; font-family:DINBold; line-height:16px; padding:7px 0 6px 0;}
.right-light .partenaires-h1{font-family:DINBold; font-weight:100; color:#000; font-size:18px; padding:3px 0 10px 40px; margin:3px 0 10px 0;background:url(../../public/img/partenaires.png) no-repeat top left; border-bottom:1px solid #cccccc;text-transform:uppercase;}
.right-green{}
.right-green-in{width:270px; margin:5px 0 20px 25px; background:#8cc63e; min-height:25px; color:#000;}
.right-green-in hr{border-color:#c1df98;}
.right-green-in h1{border-color:#c1df98;}
.actus-h1{font-family:DINBold; font-weight:100; color:#4D4D4D; font-size:18px; padding:3px 0 5px 48px; margin:3px 0 0 0;background:url(../../public/img/book-blue.png) no-repeat top left;}
.right-green .actus-h1{background-image:url(../../public/img/book.png); text-transform:uppercase;}
.actus-h1-left b{font-family:DINBold; font-weight:100; color:#000;}
.actus-h1-left.shortened{float:left; max-width:390px;}
.agenda-h1{font-family:DINBold; font-weight:100; color:#000; font-size:18px; padding:3px 0 10px 40px; margin:3px 0 10px 0;background:url(../../public/img/agenda-blue.png) no-repeat top left; border-bottom:1px solid #cccccc;}
.right-green .agenda-h1{background-image:url(../../public/img/agenda.png); text-transform:uppercase;}
.lien-big{display:inline-block; margin:6px 0; background:rgba(0,0,0, 0.2); color:white; text-transform:uppercase; font-weight:100; border-radius:10px; padding:4px 10px 0px 10px; font-size:11px; line-height:20px; font-family:DIN;}
.lien-big b, .lien-big strong{font-family:DINBold; font-weight:100;}
.lien-big:hover, .lien-big:focus{text-decoration:none; background:rgba(0,0,0, 0.3);}
#home-slider{width:665px; overflow:hidden;}
#home-slider-helper{pointer-events: none;display:none;z-index:31;background:#48b1ea;width:665px;height:150px;font-size:400%;color:#ffffff;font-family:DINBold; position:absolute; text-align:center;vertical-align:middle;opacity:0.9;}
#home-slider-wrapper{height:450px; position:relative;z-index:30;}
#home-slider .slide{/* balise a */ display:table-cell; width:665px; height:450px; background:url(../../public/ftp/articles/0/med-default.jpg) no-repeat top left; vertical-align:top; text-decoration:none;}
#home-slider .slide p{color:#20566f; font-family:DINBold; font-weight:100; text-transform:uppercase; font-size:14px; width:599px; padding:4px 33px 0 33px ; /* force la dimension de la slide */}
#home-slider .slide h2{color:#fff; font-family:DIN; font-weight:100; font-size:23px; text-transform:none; line-height:22px; width:599px; padding:5px 33px 15px 33px; /* force la dimension de la slide */}
.bandeau-slider {margin-top:365px; min-height: 65px; background:rgba(72, 177, 234, 1)}
#home-slider-nav{height:0px; width:0px; position:absolute; z-index:60;}
#home-slider-nav-wrapper{height:365px; width:0px; /* display:table-cell; vertical-align:middle; */}
#home-slider-nav-wrapper a, #home-slider-nav-wrapper img{/* position:relative; z-index:60; */}
#home-slider-nav-wrapper a{width:38px; display:block; background:rgba(77,77,77,0.6); padding:3px 0; text-align:center; font-size:8px; text-decoration:none;}
#home-slider-nav-wrapper a span{width:15px; height:15px; display:block; background:#fff; color:#fff; border-radius:8px; margin:auto;}
#home-slider-nav-wrapper a.up span, #home-slider-nav-wrapper a:hover span, #home-slider-nav-wrapper a:focus span{background:#48b1ea; color:#48b1ea; box-shadow:0 0 9px -1px black;}
#home-slider-nav-wrapper img{display:block;}
#home-slider-nav2{display:none; height:0px; width:665px; position:absolute; z-index:50;}
#home-slider:hover #home-slider-nav2{display:block;}
#home-slider:hover #home-slider-helper{display:block}
#home-slider-nav2 .arrow-left, #home-slider-nav2 .arrow-right{height:0px; position:relative; z-index:50; opacity:0.7;}
#home-slider-nav2 .arrow-left:hover, #home-slider-nav2 .arrow-left:focus, #home-slider-nav2 .arrow-right:hover, #home-slider-nav2 .arrow-right:focus{opacity:1;}
#home-slider-nav2 .arrow-left{float:left;}
#home-slider-nav2 .arrow-right{float:right;}
#home-slider-nav2 .arrow-left img{position:relative; top:150px; left:35px;}
#home-slider-nav2 .arrow-right img{position:relative; top:150px; right:35px;}
#map-creersortie{width:100%; height:350px; background:url(../../public/img/base/braies-light.png); margin:auto; margin-top:8px;}
.map-creersortie{width:100%; height:350px; background:url(../../public/img/base/braies-light.png); margin:auto; margin-top:8px;}
#map_dr{width:100%; height:350px; background:url(../../public/img/base/braies-light.png); margin:auto; margin-top:8px;}
.encart_article{width:620px; clear:both; padding:17px 0 5px 0; color:#4D4D4D;}
.encart_article a{font-weight:100;}
.encart_article .illustration{display:block; float:left; width:170px; height:105px; background-size:cover; background-position:center; background-repeat:no-repeat; background-color:white; box-shadow:0 0 12px -5px gray; border:1px solid white;}
.encart_article p, .encart_article h2{float:right; width:430px;}
.encart_article .commission-title{font-size:11px; padding:0; text-transform:uppercase;}
.encart_article .commission-title a{color:#50B7E4;}
.encart_article h2{font-family:DINBold; text-transform:none; font-size:19px; line-height:22px; padding: 3px 0 0 0;}
.encart_article .summup{font-size:12px; line-height:20px; padding-top:4px;}
.encart_article_small{width:620px; clear:both; padding:17px 0 5px 0; color:#4D4D4D;}
.encart_article_small a{font-weight:100;}
.encart_article_small .illustration{display:block; float:left; width:85px; height:53px; background-size:cover; background-position:center; background-repeat:no-repeat; background-color:white; box-shadow:0 0 12px -5px gray; border:1px solid white;}
.encart_article_small p, .encart_article_small h2{float:right; width:520px;}
.encart_article_small .commission-title{font-size:12px; padding:0; text-transform:uppercase;}
.encart_article_small .commission-title a{color:#50B7E4;}
.encart_article_small h2{font-family:DINBold; text-transform:none; font-size:15px; line-height:18px; padding:0;}
.encart_article_small .summup{font-size:11px; line-height:12px; padding:2px 0 0 0;}
table#agenda{width:100%; border-collapse:collapse; border-bottom:1px solid #c9c9c7;}
table#agenda tr td{border-top:1px solid #c9c9c7; vertical-align:top;}
table#agenda tr.up td{color:black;}
table#agenda tr.off td{color:#CCCCCC;}
table#agenda tr.weekendday td{background-color:#dcf0fa;}
table#agenda td.agenda-gauche{border-right:1px solid #c9c9c7; width:140px; padding:6px 0 6px 4px; font-size:12px;}
table#agenda td hr{margin:0 0px 0 5px; padding:0; height:1px; border:none; background:url(../../public/img/bg-dottedhr.png) top left;}
.agenda-date{float:right; font-family:DIN; color:#B9BFC1; font-size:28px; position:relative; bottom:44px; font-weight:100}
.agenda-stat{font-size:11px; padding:10px 0 0 133px; color:gray;}
a.agenda-evt-debut{display:block; clear:both; padding:8px 10px 10px 0;}
a.agenda-evt-debut .droite{float:right; width:425px;}
a.agenda-evt-debut .picto{display:block; float:left; border-right:1px solid #dde1e4;}
a.agenda-evt-debut .picto .picto-light{display:none;}
a.agenda-evt-debut .picto .picto-dark{opacity:0.3;}
a.agenda-evt-debut h2{font-size:16px; padding:0;}
a.agenda-evt-debut p{font-size:12px; font-family:Verdana; font-weight:100; color:#999999; padding:2px 0 0 0;}
a.agenda-evt-debut p b{color:black; font-weight:100}
a.agenda-evt-debut:hover, a.agenda-evt-debut:focus{background:#50b7e4;}
a.agenda-evt-debut:hover p, a.agenda-evt-debut:focus p{color:#066384;}
a.agenda-evt-debut:hover b, a.agenda-evt-debut:focus b{color:#00191E;}
a.agenda-evt-debut:hover .picto .picto-light, a.agenda-evt-debut:focus .picto .picto-light{display:inline;}
a.agenda-evt-debut:hover .picto .picto-dark, a.agenda-evt-debut:focus .picto .picto-dark{display:none;}
a.agenda-evt-courant{display:block; clear:both; padding:8px 10px 10px 0;}
a.agenda-evt-courant .droite{float:right; width:425px;}
a.agenda-evt-courant .picto{display:block; float:left; border-right:1px solid #dde1e4;}
a.agenda-evt-courant .picto .picto-light{display:none;}
a.agenda-evt-courant .picto .picto-dark{opacity:0.3;}
a.agenda-evt-courant h2{font-size:16px; padding:0; color:#c3c4c8;}
a.agenda-evt-courant:hover, a.agenda-evt-courant:focus{background:#f0f1f4;}
#evt-list{}
#evt-list a{width:270px; display:block; margin:6px 0; padding:6px 5px 6px 0; font-weight:100; font-size:12px; color:#4D4D4D; position:relative;}
#evt-list a .cancelled{color:#c80000; background:url(../../public/img/base/bullet_error.png) no-repeat top left; padding-left:17px;}
#evt-list a h2{font-weight:100; font-size:15px; font-family:DIN; text-transform:none; line-height:15px; padding:5px 0 3px 0;}
#evt-list a:hover, #evt-list a:focus{text-decoration:none; color:black; border-left:1px dotted rgba(0,0,0,0.1)}
#fiche-sortie{padding:20px 0 40px 40px;}
#fiche-sortie h1{text-transform:uppercase; font-weight:100; font-family:DINBold; padding:5px 0 15px 0;}
#fiche-sortie h1 .commission{display:block; color:#50B7E4; font-size:12px;}
#fiche-sortie h1 .date{white-space:nowrap; color:#666666}
.description_evt{padding:7px 0; margin:0; text-align:left; background:#f6f8fc; width:600px; overflow:hidden;}
.description_evt h3{font-size:16px; border-bottom:1px solid silver; margin-top:10px;}
.alerte-benevoles{padding:7px 15px 7px 60px; margin:5px 30px 5px 0;background:url(../../public/img/main.png) no-repeat 10px 6px white;box-shadow:0 0 15px -8px black;font-weight:bold;}
table.big-lines-table{background:#eeeff4; margin:10px 0 10px 0; font-size:12px; width:100%;}
table.big-lines-table td, table.big-lines-table th{padding:7px 10px; border-bottom:3px solid #f7f8fc;}
table.big-lines-table td.small{font-size:10px; color:gray;}
table.big-lines-table td a{font-weight:inherit; color:inherit;}
#inscription {background:white; box-shadow:0 0 15px -8px black; padding:15px; margin:20px 30px 0 0;}
#inscription-annuler {background:white; box-shadow:0 0 15px -8px black; padding:15px; margin:0px 30px 0 0;}
#inscription-gestion {background:white; box-shadow:0 0 15px -8px black; padding:15px; margin:0px 30px 0 0;}
.joinlabels {line-height:17px;}
.joinlabels label{display:block; white-space:nowrap;}
tr.status0 {border-top:1px solid #d3d3d3;background-image:url(../../public/img/base/braies-ultralight.png)}
tr.status1 {border-top:1px solid #d3d3d3;background-image:url(../../public/img/green-overlay.png)}
tr.status2 {border-top:1px solid #d3d3d3;background-image:url(../../public/img/red-overlay.png)}
tr.status3 {border-top:1px solid #d3d3d3;background-image:url(../../public/img/red-overlay.png)}
tr.status-1 {border-top:1px solid #d3d3d3;background-image:url(../../public/img/red-overlay.png)}
#map-fichesortie{width:100%; height:350px; background:url(../../public/img/base/braies-light.png); margin:auto; margin-top:8px;}
.status-legal, .note{background:white; box-shadow:0 0 15px -8px black; padding:3px 15px; margin:0px 30px 0 0;}
.note{padding:15px;margin:0}
.imgprofil{box-shadow:0 0 20px -7px black; border:2px solid white;}
#edit_profil_image{float:left; width:180px; height:135px;/*padding:right:20px;*/}
#edit_profil_image .imgprofil{max-width:280px; max-height:135px;}
#edit_profil_image .delete{position:absolute;}
#edit_profil_image .delete img{cursor:pointer; position:relative; bottom:7px; right:7px;}
#fiche-article{}
#fiche-article .titleimage{width:665px; background-size:cover; display:table-cell; vertical-align:bottom; padding: 5px;}
#fiche-article .titleimage {background:rgba(72, 177, 234, 0.85); color:white;}
#fiche-article .titleimage a{color:white; font-weight:inherit;}
#fiche-article .titleimage .date{padding:2px 30px 0 30px;}
#fiche-article .titleimage h1{padding:10px 20px 0 30px;font-size:24px;line-height:110%}
#fiche-article .titleimage .auteur{padding:0px 30px 2px 30px; text-align:right}
.cont_article{min-height:50px; margin:5px 15px 10px 30px; width:600px; background:#f7f8fc; text-align:left; overflow:hidden;}
.cont_article p{padding:10px 0; line-height: 20px;}
#fiche-article p.ArticleEntete{font-weight:bold; text-align:center; font-size:14px; color:#000000; background-color:#dcf0fa; margin:3px 0 15px 0;}
#fiche-article aside{padding:5px 30px 10px 30px;}
#fiche-article .share-h2{font-size:18px; padding:5px 0 15px 50px; background:url(../../public/img/panneaux-blue.png) no-repeat 5px 0;}
#fiche-article .comments-h2{font-size:18px; padding:5px 0 15px 0px; background:url(../../public/img/comments-blue.png) no-repeat top left;}
#fiche-article .comments-h2 span{color:white; display:block; float:left; width:40px; text-align:center; margin-right:10px;}
.comment{clear:both; border-bottom:1px solid #cccccc; padding:10px 0 19px 0;}
.comment .left{float:left; width:75px;}
.comment .right{float:right; width:530px;}
.comment p{padding:0 0 5px 0;}
.comment .cont_comment{color:#666666; line-height:19px; font-size:12px; padding:3px 0 0 0}
.empietements{margin:3px 0; padding:2px 5px 5px 5px; font-size:9px; border:1px dotted silver; line-height:12px; background:url(../../public/img/base/bullet_error.png) no-repeat 5px top white;}
.scrollup{display:none;position:fixed;right:1px;top:50%;width:40px;height:40px;text-indent:-5000px;background:url(../../public/img/gen_btUp.png) center center no-repeat;z-index:20;}
#actus-list{}
#actus-list .commission-title {color:#4D4D4D;padding:3px 0 0 0;}
#actus-list .commission-title a{color: #4D4D4D; font-weight:100; text-transform:uppercase;}
#actus-list .commission-title a:hover, #actus-list .commission-title a:focus{/* text-decoration:none; */}
#actus-list h2{color:#4D4D4D; font-weight:100; font-family:DINBold; font-size:18px; line-height:22px; padding:3px 0 0 0;}
#actus-list h2 a{color:#4D4D4D;}
#actus-list .summup{color:#4D4D4D; padding:4px 0; line-height:21px;}
#commissions-gestion{}
#commissions-gestion .item{background:#eeeff4; padding:10px; border-bottom:10px solid #f6f8fc;}
#commissions-gestion .item.off{background-image:url(../../public/img/base/braies-light.png);}
#commissions-gestion .item-1{width:160px; float:left; padding-right:15px; text-align:center;}
#commissions-gestion .item-2{width:420px; float:right;}
#commissions-gestion h2{width:360px; padding-bottom:10px}
#commissions-gestion .nice2{font-size:13px; margin:4px 0 0 0;}
#slides{display:none;text-align: center;}
#slides img{max-width:250px;}
.niveau  {position:relative; border:1px solid #ccc; padding:5px;margin:5px;}
.niveau .picto {display: block;float: left;}
.niveau .droite {display: block;float: left;padding:10px;}
.niveau .input {clear:both;margin-bottom:5px;}
.niveau label {display:inline-block;width:120px;}
.niveau .textarea {clear:both;}
.niveau .textarea label{margin-bottom:5px;}
.niveau textarea {clear:both;display:block;width:100%;height:70px;}
.niveau quote {font-style:italic;}
.niveau.editable .input{padding:10px;}
form .niveau.editable:hover {background-image:url(../../public/img/base/travaux.gif);}
form .niveau.editable:hover .input{background-image:none;}
.add{background-image:url(../../public/img/base/add.png);background-repeat:no-repeat;padding-left:20px;height:20px;display:block;line-height:18px;}
.edit{background-image:url(../../public/img/base/pencil.png);background-repeat:no-repeat;padding-left:20px;height:20px;display:block;line-height:18px;}
.cancel{background-image:url(../../public/img/base/cancel.png);background-repeat:no-repeat;padding-left:20px;height:20px;display:inline-block;line-height:18px;}
.del{background-image:url(../../public/img/base/delete.png);background-repeat:no-repeat;padding-left:20px;height:20px;display:block;line-height:18px;}
.vis-off {background-image: url(../../public/img/base/braies-light.png); }
.vis-off-light {background-image: url(../../public/img/base/braies-ultralight.png); }
.clear {clear:both;}
.todo{color:red;background-color:purple}
.lft {float:left;}
.rght{float:right;}
.half {width:50%;}
.half.first {padding-right:10px;border-right:1px solid #d3d3d3;width:47%;}
.half.last {padding-left:10px;width:47%;}
.full {width:95%;}
.mr10{margin-right:10px;}
.mr20{margin-right:20px;}
.mt20{margin-top:20px;}

.ign {padding:10px;}
.display_lieu, .point_ramasse, .bus {border:1px solid #ddd;margin: 0 10px 10px 0; padding:10px;overflow:hidden;}
.bbox{box-sizing:border-box}
.small{font-size:10px; color:gray;}
#main-pagelibre-76 table td {padding: 5px;}
#main-pagelibre-76 table td img {max-width: 250px;}
.pt15 { padding-top: 15px;}

@media print {
    .page-break	{ display: block; page-break-before: always; }
    #menuAdmin, #adminmissing {display:none;}
    #organisation_covoiturage td {font-size:10px;}
}
/* Used for add-to-calendar button in sortie.html.twig */
.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
.info-container {
    display: flex;
    align-items: flex-start;
}
.text-container {
    margin-top: 6px;
    margin-left: 10px;
}
#incomplete-profile-warning.alerte a {font-weight:normal;text-decoration:underline;}
.wide-figure {
    margin: 0;
    padding: 0;
}
.article-title-infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 0 20px 0 30px;
}
.article-title-commission {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    flex: 40%;
    padding: 2px 10px;
    background-color: #fff;
    color: #48b1ea;
}
.article-title-author {
    flex: 60%;
    text-align: right;
}
h2.bleucaf {font-family:DINBold; font-weight: bold; margin: 20px 0 10px 0; text-transform: uppercase; font-size: 18px;}
.btn-blue {
    background-color: #53B4E4;
}
.blanc{color:#fff;}

.select-contact {
    display: none;
}

.main-type li p {
    display: inline;
}

.main-type ul > ul {
    margin-left: 20px;
}

.main-type ul > ul > ul {
    margin-left: 40px;
}
