<p><span>Pour activer votre compte sur le site, assurez-vous d'être membre du Club Alpin Français <b>depuis au moins 24h.</b></span><br />
<span>L'inscription s'effectue par le biais du site de la FFCAM. Un courriel de la FFCAM contenant votre numéro d'adhérent vous a été envoyé, ce qui sera nécessaire pour l'activation de votre compte.</span></p>

<p><span>Une fois le formulaire rempli ci-dessous, un e-mail de confirmation vous parviendra avec un lien à activer.<br />
<span>Assurez-vous de vérifier vos courriers indésirables, car il est possible que l'e-mail de confirmation s'y trouve.</span>
Pour éviter ce désagrément, ajoutez en amont l'adresse du site à vos contacts : <pre>ne-pas-repondre@mail.clubalpinlyon.fr</pre>.<br />
</span></p>