<h2>Attention :</h2>
<p>Votre licence au Club Alpin Lyon expire au 30 septembre.<br />Pensez à <a href="https://extranet-clubalpin.com/monespace/">renouveler votre adhésion</a>, au local ou en ligne, pour profiter des sorties organisées par votre club.<br />Dans le cas d'un non renouvellement, votre compte sera désactivé le 31 octobre.</p>
