<p>Voulez-vous vraiment annuler la sortie ci-dessous ? Celle-ci a déjà est publiée sur le site et des membres y sont inscrits, ils recevront donc automatiquement un e-mail pour les en avertir. Vous devez ajouter un message pour expliquer la raison de l'annulation :</p>
