<p>Celle-ci devrait avoir une dimension d'environ <strong>2050 * 905 pixels</strong>, et être <strong>optimisée pour le web</strong>. Le poids d'une telle image ne doit pas dépasser <strong>300 ko</strong> dans le pire des cas. </p>
<p>L'image de fond doit être <strong>très claire</strong> pour maintenir la <strong>cohérence</strong> graphique du site, et assurer son <strong>ergonomie</strong>. Seule une <strong>personne compétente</strong> doit la créer, le modèle contenu dans le fichier .zip est un bon exemple. <strong>Une simple photo est à proscrire absolument</strong>.</p>
<p>Cette image n'est pas redimensionnée ni retouchée lors de l'envoi.</p>
