<p>Chaque pictogramme doit être en <strong>.png</strong> transparent, et avoir pour dimensions <strong>35px * 35px</strong>. <br />Ils doivent être rigoureusement identiques, excepté leur couleur.<br />Voici les codes couleur hexadécimaux de chacun :</p>
