<p>Attention ! Les commissions sont l'épine dorsale du site, créer une commission se fait définitivement et sérieusement : les sorties, les droits des utilisateurs, les actualités etc... sont liés à celles-ci.</p>
<p>Plusieurs images sont nécessaires à la création d'une commission :</p>
<ul>
<li>La grande image de fond</li>
<li>Le picto bleu CAF</li>
<li>Le picto clair</li>
<li>Le picto sombre</li>
</ul>
<p>Nous vous invitons vivement à utiliser les fichiers de base à confier à votre infographiste :<br />&gt; <a href="./ftp/telechargements/commission-base.zip">commissions-base.zip</a></p>
