<h2>C'est quoi un «nomade» ? </h2>
<p>Vous pouvez inscrire à une sortie une personne qui ne fait  pas partie du club.</p>
<p><strong>Ne pas ajouter un adhérent</strong>, utiliser l'inscription manuelle<strong>.<br /></strong><br />Ceci a pour effet de l'ajouter à la fiche de sortie, mais vous ne devez pas oublier de la contacter par téléphone pour lui rappeler que la sortie a lieu.</p>
<p>Tous les e-mails automatiques normalement envoyés par le site ne sont pas envoyés à un membre nomade.</p>
