<h2>Votre sortie est terminée</h2>
<p>Vous pouvez toujours modifier les status des inscrits pour indiquer qu'ils ont -<em>ou non</em>- participé à l'événement. Si un membre était absent, passez-le en mode "<em>absent</em>". Ceci est utile pour les statistiques du site.</p>
<p>Cette fois, l'événement étant passé, aucun e-mail ne sera envoyé aux membres modifiés.</p>
