<h2>Vous êtes organisateur / encadrant de cette sortie ?</h2>
<p>C'est ici que vous pouvez gérer les inscriptions liées à cette sortie. Sélectionnez le statut de chaque demande d'inscription. Attention, chaque utilisateur dont le statut est modifié recevra un e-mail pour l'en avertir.</p>
<p>Les modification s'appliquent seulement une fois que vous avez cliqué sur "Enregistrer" en bas du tableau.</p>
<p>Par défaut, les entrées sont affichées dans l'ordre chronologique mais vous pouvez les trier par nom, rôle, statut... en cliquant sur le sommet de chaque colonne.</p>
