<h2>Note importante sur les inscriptions :</h2>
<p>En envoyant votre demande d'inscription, vous n'êtes pas instantanément inscrit à la sortie : ce sont les responsables qui valident ou non votre participation, en fonction du nombre d'inscrits, du niveau des participants ou autres...</p>
<p>Que votre inscription soit confirmée ou déclinée, vous recevrez un e-mail pour vous en avertir.</p>
