<p>Vos statuts sont attribués par les responsables du site. Vous pouvez être encadrant pour une commission donnée, rédacteur, salarié etc... Vos statuts vous permettent d'accéder à davantage de possibilités sur le site.</p>
