<p>Activer cette commission la rendra visible pour les visiteurs. <strong>Attention :</strong> il est compliqué de désactiver par la suite une commission activée, dès lors que des sorties ou des articles y ont été liés !</p>
