<p>Dans un cycle, les membres <span style="text-decoration: underline;">s'inscrivent une seule fois pour l'ensemble des sorties</span>.</p>
<p>Si vous désirez permettre aux membres de venir librement à une sortie et non une autre, ne créez pas de cycle mais précisez simplement que chaque sortie fait partie de la même série, dans la description complète.</p>
<p>Pour créer un nouveau cycle, cochez la seconde case. Après avoir enregistré cette sortie, vous pourrez saisir la sortie suivante de ce cycle, et ainsi de suite...</p>
