<h2><span style="font-family: Verdana; font-size: 12px;">Les responsables du club doivent valider un article avant sa publication sur le site. Décochez la case ci-dessous si vous ne voulez pas diffuser votre article tout de suite, pour y apporter des modifications avant de le soumettre.</span></h2>
<p><span style="font-family: Verdana; font-size: 12px;"> </span></p>
