<h1>Attention, votre licence du club alpin semble ne plus être à jour !</h1>
<p> </p>
<p>Vous ne pourrez pas accéder à certaines options du site !</p>
<p>Si votre licence a été renouvelée récemment, ce message devrait disparaître prochainement.</p>
