<p>Ce commentaire n'est <strong>pas lié à votre compte</strong>, si vous voyez ce message apparaître c'est que vous disposez d'un droit d'administration spécifique.</p>
<p>L'auteur du commentaire <strong>ne sera pas averti</strong> automatiquement de cette action, vous pouvez donc choisir de le contacter prélablement pour l'en informer. Pour ceci, cliquez sur <em>Annuler</em>, puis sur le nom de l'auteur, et <em>contacter</em>.</p>
