<p class="mini">Le champ <em>tarif</em> est facultatif ! Mais <span style="text-decoration: underline;">n'oubliez pas de préciser</span> dans le cadre «Description complète» si les membres devront participer aux frais de covoiturage : essence, péage...</p>
