<hr />
<h2>Inscriptions :</h2>
<p>Vous devez avoir un compte sur le site pour vous inscrire aux sorties du CAF. Pour savoir comment nous rejoindre, rendez-vous dans la page « <a href="/profil.html">activer mon compte</a> ».</p>
