<h2>Qui désirez-vous inscrire ?</h2>
<p>Cochez ci-dessous les membres concernés par cette inscription. Note importante : si vous inscrivez un membre du club, c'est vous qui serez le référent de son inscription, et vous recevrez les e-mails informatifs liés à la sortie.</p>
