<h1>RANDONNEE MONTAGNE ET ALPINE</h1>
<p>
  <strong>La randonnée permet de découvrir et parcourir des milieux naturels exceptionnels en montagne et en haute montagne. Le Club Alpin Lyon-Villeurbanne propose une large variété de randonnées qui peut se classer en deux catégories :</strong>
</p>
<p class="imgFloatRight">
  <img class="imgFloatRight" style="float: right; margin: 20px;" title="Randonnée" src="/ftp/images/rando1.jpg" alt="Randonnée" />
</p>
<h2>LA RANDONNEE MONTAGNE : la cotation de T1 à T3</h2>
<p>
  <span class="bleucaf">Catégorie T1</span> : Randonnée
</p>
<ul>
  <li>Sentier bien tracé</li>
  <li>Plat ou avec une faible pente, pas de risques de chutes</li>
  <li>Pas de difficultés techniques ni de problème d’orientation et s’adresse à des marcheurs débutants ou moyens</li>
  <li>Possible en chaussures basses avec de bonnes semelles (se référer aux conseils de l’encadrant)</li>
  <li>Dénivelée maximum 800 mètres et durée de marche d’environ 5 heures</li>
</ul>
<p></p>
<p>
  <span class="bleucaf">Catégorie T2</span> : Randonnée en montagne
</p>
<ul>
  <li>Sentier / Terrain souvent avec trace ininterrompue</li>
  <li>Terrain parfois raide avec des risques de chute non exclus</li>
  <li>Exigences : avoir le pied sûr, chaussures de randonnée recommandées (se référer aux conseils ou exigences de l’encadrant)</li>
  <li>Capacités d’orientation nécessaires</li>
  <li>Dénivelée jusqu’à 1200 mètres et durée de marche de 6 à 8 heures</li>
</ul>
<p></p>
<img class="imgFloatLeft imgFloatRight" style="float: right; margin: 20px;" title="Randonnée" src="/ftp/images/rando2.jpg" alt="Randonnée" />
<p>
  <span class="bleucaf">Catégorie T3</span> : Randonnée en montagne exigeante
</p>
<ul>
  <li>Sentier pas forcément visible</li>
  <li>Les passages exposés peuvent être équipés de cordes ou de chaînes. Eventuel appui des mains nécessaire pour l’équilibre</li>
  <li>Quelques passages exposés avec risques de chute, pierriers, pentes mêlées de rochers sans trace, traversée de névés possibles</li>
  <li>Exigences : demande d’avoir le pied très sûr et une capacité moyenne d’orientation</li>
  <li>Expérience élémentaire de la montagne souhaitable, pas de purs débutants. Bonnes chaussures de randonnée (se référer aux exigences de l’encadrant)</li>
  <li>Dénivelée pouvant être supérieur à 1200 mètres avec plus de 8 heures de marche</li>
</ul>
<h3>MATERIEL POUR LA RANDONNEE MONTAGNE :</h3>
<ul>
  <li>Avoir de bonnes chaussures avec une semelle crantée</li>
  <li>Des bâtons, utiles à la descente comme à la montée</li>
  <li>Gourde, pipette…</li>
  <li>Couvre-chef : chapeau, casquette, bonnet…</li>
  <li>Vivres de course</li>
  <li>Vêtements chauds, gants</li>
  <li>Vêtements de pluie, coupe-vent, guêtres</li>
  <li>Un sac à dos adapté à la randonnée journée et itinérante</li>
</ul>
<p>
  <strong>Cette liste est non exhaustive / Se reporter à la liste qui sera transmise par l’encadrant ou mentionnée dans le descriptif de la sortie</strong>
</p>
<p></p>
<img class="imgFloatLeft imgFloatRight" style="float: right; margin: 20px;" title="Randonnée alpine" src="/ftp/images/rando-alpi1.jpg" alt="Randonnée alpine" />
<h2>LA RANDONNEE ALPINE : la cotation de T4 à T6</h2>
<p>La randonnée alpine est souvent définie comme l&#39;activité faisant le lien entre la randonnée de haute montagne et l&#39;alpinisme. C&#39;est un fait, utilisant parfois le matériel et les techniques de l&#39;alpinisme, encordement, piolet, crampons, baudrier, matériel de sécurité individuel... elle est considérée comme une possibilité pour accéder à l&#39;alpinisme. D&#39;autant, que certaines courses de randonnée alpine, sont classées F en alpinisme.</p>
<p> C&#39;est donc exact, mais incomplet. La randonnée alpine est avant tout une activité à part entière, qui a ses propres spécificités. Notamment la découverte de nouveaux itinéraires, de lieux insolites, de passages parfois secrets.... Se pratiquant souvent hors des sentiers battus, sa pratique nécessite de la curiosité, de la ténacité parfois pour trouver les passages souvent escarpés. Pas ou peu de chemins balisés pour cette activité, l&#39;usage des mains est fréquent et les pas d&#39;escalades peuvent être classés entre 2 et 3 en escalade. </p>
<p>C&#39;est aussi la possibilité de faire des randonnées glaciaires classées F en alpinisme, ou gravir son premier sommet à 4000 m d&#39;altitude.</p>
<p>Elle est accessible à tous les bons randonneurs avec une bonne forme physique et qui ont envie de découvrir de nouveaux milieux montagnards. Il faut y aller par étape, notamment pour les techniques de cramponnages, d&#39;assurage... Souvent, Les sorties ont lieu sur plusieurs jours et comportent des nuits en gîtes ou en refuges, ce qui signifie de porter des sacs plus lourds qu&#39;en randonnée classique.</p>
<p>En fonction des courses, Le matériel nécessaire sera précisé par l&#39;organisateur de la sortie.</p>
<p></p>
<p>
  <span class="bleucaf">Catégorie T4</span> : randonnée alpine exigeante
</p>
<ul>
  <li style="text-align: justify;">Les traces sont parfois manquantes</li>
  <li style="text-align: justify;">Le terrain est assez exposé : pentes herbeuses délicates, pentes mêlées de rochers, névés faciles et passages sur glacier non recouverts de neige. L’aide des mains est quelquefois nécessaire pour la progression</li>
  <li style="text-align: justify;">En cas de mauvais temps, le repli peut s’avérer difficile</li>
  <li style="text-align: justify;">Exigences : être familier du terrain exposé, une certaine capacité d’évaluation du terrain et une bonne capacité d’orientation. Expérience alpine nécessaire</li>
  <li style="text-align: justify;">Chaussures de randonnée rigides</li>
</ul>
<p></p>
<img class="imgFloatLeft imgFloatRight" style="float: right; margin: 20px;" title="Randonnée alpine" src="/ftp/images/rando-alpi2.jpg" alt="Randonnée alpine" />
<p>
  <span class="bleucaf">Catégorie T5</span> : randonnée alpine difficile
</p>
<ul>
  <li style="text-align: justify;">Souvent sans trace</li>
  <li style="text-align: justify;">Terrain exposé, exigeant, pentes raides mêlées de rochers, petits glaciers non recouverts de neige et névés, quelques passages d’escalade faciles (niveau II à III), danger d’avalanche</li>
  <li style="text-align: justify;">Risque de glissade</li>
  <li style="text-align: justify;">Exigences : évaluation sûre du terrain et très bonne capacité d’orientation. Bonne expérience de la haute montagne et connaissances élémentaires du maniement du piolet et de la corde. Connaissances de l’évaluation de la situation en matière d’avalanches. Avoir le pied sûr.</li>
  <li style="text-align: justify;">Chaussures de randonnée rigides. Usage de crampons possible suivant le terrain.</li>
</ul>
<p></p>
<p>
  <span class="bleucaf">Catégorie T6</span> : randonnée alpine difficile / correspond au niveau F de la cotation Alpinisme
</p>
<ul>
  <li style="text-align: justify;">La plupart du temps sans trace, en général non balisé</li>
  <li style="text-align: justify;">Terrain très exposé, exigeant, pentes raides mêlées de rochers délicats, glaciers et névés avec risques de glissade, quelques passages d’escalade faciles (niveau II à III)</li>
  <li style="text-align: justify;">Exigences : excellente capacité d’orientation. Expérience alpine de la haute montagne confirmée et habitude de l’utilisation du matériel technique d’alpinisme</li>
  <li style="text-align: justify;">Chaussures de montagne rigides, connaissance du maniement et de l’utilisation du matériel technique d’alpinisme dont les crampons, le piolet, la corde et l’usage du matériel d’encordement.</li>
</ul>
<p></p>
<h3 class="bleucaf">MATERIEL POUR LA RANDONNEE ALPINE</h3>
<p>Chaussures de montagne rigides</p>
<p>En plus du matériel précisé en randonnée montagne :</p>
<ul>
  <li>Un casque</li>
  <li>Crampons réglés à la taille des chaussures</li>
  <li>Un piolet avec un long manche</li>
  <li>Un baudrier + longes + mousquetons suivant consignes</li>
  <li>Un sac à dos mini 30 litres</li>
  <li>Une frontale</li>
</ul>
<p>Cette liste est non exhaustive / Se reporter à la liste qui sera transmise par l’encadrant ou mentionnée dans le descriptif de la sortie</p>
<h3 class="bleucaf">Cotation Exposition</h3>
<p>La cotation exposition en randonn&eacute;e p&eacute;destre est commune avec le&nbsp; <a href="https://www.camptocamp.org/articles/922056/fr/aide-topoguide-cotations-vtt#mtb-exposition_rating">VTT</a>. </p>
<p>La cotation exposition prend en compte les cons&eacute;quences d&rsquo;une chute, hormis les chutes &agrave; plat, par conditions estivales (sentier et pentes d&eacute;neig&eacute;es sous 2500 m). Sur bon sentier, cela concerne les cons&eacute;quences d&#39;une chute &agrave; c&ocirc;t&eacute; du sentier.</p>
<p>&nbsp;</p>
<table border="1px solid" cellpadding="5">
  <tbody>
    <tr>
      <td>
        <p>Cotation exposition</p>
      </td>
      <td>
        <p>D&eacute;finition</p>
      </td>
      <td>
        <p>Exemples</p>
      </td>
    </tr>
    <tr>
      <td>
        <p>E1</p>
      </td>
      <td>
        <p>Une chute est toujours possible. Une chute dans la pente s&#39;arr&ecirc;te facilement. Le risque et la gravit&eacute; de la blessure sera li&eacute;e essentiellement &agrave; la nature du terrain (herbe, &eacute;boulis, ...).&nbsp;</p>
      </td>
      <td>
        <p>Application principalement pour rando T1/T2</p>
      </td>
    </tr>
    <tr>
      <td>
        <p>E2</p>
      </td>
      <td>
        <p>Par endroits, la pente et la nature du terrain ne permettent pas de s&#39;arr&ecirc;ter facilement en cas de chute, entrainant une glissade de quelques dizaines de m&egrave;tres au maximum, sans gros obstacle. Le risque de blessure est aggrav&eacute; par la nature du terrain, la pente et les petits obstacles</p>
      </td>
      <td>
        <p>Petit Bargy par Face SE :&nbsp;T4 E2</p> &nbsp; <p>Montagne de Roussillon : Cr&ecirc;te Ruban&eacute;e (Ar&ecirc;te Sud) :&nbsp;T3 E2</p>
      </td>
    </tr>
    <tr>
      <td>
        <p>E3</p>
      </td>
      <td>
        <p>En cas de chute, une glissade non arr&ecirc;t&eacute;e imm&eacute;diatement se termine par un choc violent contre des rochers ou des arbres, ou par des sauts de barres, entrainant des blessures graves, voire mortelles</p>
      </td>
      <td>
        <p>T&ecirc;te de Bossetan : Versant N, combe des Colomb&eacute;s&nbsp;:&nbsp;T5 E3</p>
        <p>Pointe du D&eacute;rochoir, travers&eacute;e E-W&nbsp;:&nbsp;T5 E3</p>
      </td>
    </tr>
    <tr>
      <td>
        <p>E4</p>
      </td>
      <td>
        <p>En cas de chute, une glissade non arr&ecirc;t&eacute;e imm&eacute;diatement se termine par le saut de hautes barres, entrainant une mort quasi certaine. La chute est interdite</p>
      </td>
      <td>
        <p>Mont Charvin : En boucle depuis le parking des Sardoches : face W et descente par Pas de l&#39;ours et lac de Mont Charvin :&nbsp;T4 E4</p> &nbsp; <p>Rocher Gris en aller-retour depuis le Lac L&eacute;at&nbsp;:&nbsp;T5 E4</p>
      </td>
    </tr>
  </tbody>
</table>
<p>&nbsp;</p>
<div class="info">
  <p>
    <strong>Ces cotations sont données pour des conditions favorables (temps sec, bonne visibilité, pas de neige sur les glaciers …).</strong>
  </p>
  <hr />
  <p>
    <strong>Pour la randonnée alpine, une participation de 10 € peut être demandée suivant la catégorie de la course proposée.</strong>
  </p>
</div>
<p></p>