<p>Le CAF de Lyon a la charge de 4 bâtiments en Haute-Maurienne :</p>
<table style="width: 100%;" border="0" frame="void" rules="none">
<tbody>
<tr>
<td><strong> &gt;</strong> le chalet de <a href="pages/chalet-de-bonneval-sur-arc.html">Bonneval-sur-Arc  </a></td>
<td> - Site web : <a href="http://chaletbonnevalsurarc.ffcam.fr/" target="_blank">http://chaletbonnevalsurarc.ffcam.fr</a></td>
</tr>
<tr>
<td><strong> &gt;</strong> le refuge d'<a href="pages/refuge-d-averole.html">Avérole</a></td>
<td> - Site web : <a href="http://refugedaverole.ffcam.fr/" target="_blank">http://refugedaverole.ffcam.fr</a></td>
</tr>
<tr>
<td><strong> &gt;</strong> le refuge du <a href="pages/refuge-du-carro.html">Carro</a> </td>
<td> - Site web : <a href="http://refugeducarro.ffcam.fr/" target="_blank">http://refugeducarro.ffcam.fr</a></td>
</tr>
<tr>
<td><strong> &gt;</strong> le refuge des <a href="pages/refuge-des-evettes.html">Evettes</a></td>
<td> - Site web : <a href="http://refugedesevettes.ffcam.fr/" target="_blank">http://refugedesevettes.ffcam.fr</a></td>
</tr>
</tbody>
</table>
<p> <img style="display: block; margin-left: auto; margin-right: auto;" title="Refuges-plan" src="/ftp/images/Refuges-plan.jpg" alt="Refuges-plan" /></p>
<h2> </h2>
<h2 class="bleucaf"><strong>Les autres refuges du CAF</strong></h2>
<div class="erreur">Découvrez tous les <a class="bleucaf" href="http://www.ffcam.fr/refuge_search.html" target="_blank">refuges et chalets</a> du Club Alpin<br />Réservez votre refuge <a class="bleucaf" href="http://www.ffcam.fr/reserver-votre-refuge-en-ligne.html" target="_blank">en ligne</a> (pour ceux le permettant)</div>
<p>La CAF gère environ 120 refuges qui sont ouverts à tous les montagnards, du promeneur avec sa famille au grimpeur (ou au descendeur) de l'impossible.</p>
<p><span class="bleucaf">En période de gardiennage</span>, les repas, casse-croûtes, boissons chaudes ou froides sont servis. Les membres du CAF jouissant de la réciprocité, ont droit à une réduction sur le tarif des nuitées. Tous les jeunes de moins de 25 ans ont également droit à une réduction. Le meilleur accueil est réservé à tous, par les gardiens, montagnards éprouvés et passionnés.</p>
<p><span class="bleucaf">Hors gardiennage</span>, un local est toujours ouvert avec des couvertures, du matériel de cuisson et du bois. Afin d'assurer l'entretien et le ravitaillement des refuges (notamment le bois de chauffage qui se fait par hélicoptère), il est demandé aux randonneurs de régler leur(s) nuitée(s) dans le tronc prévu à cet effet ou de l'adresser par courrier au CAF gestionnaire.</p>
<p><strong>Attention</strong> : En période de gardiennage, la réservation de nuitées dans un refuge du CAF est obligatoire et des arrhes peuvent être demandées.</p>
<p> </p>
<h3><strong>Réciprocité de réductions dans les refuges à l'étranger</strong></h3>
<p>Dans le cadre de l'Union Internationale des Associations d'Alpinistes (UIAA), la FFCAM offre à ses adhérents des tarifs réduits dans les refuges de certaines autres fédérations et associations de l'UIAA. Ainsi, tout adhérent à la FFCAM bénéficie, dans leurs refuges, du tarif adhérent des associations.</p>
<p> </p>
