<p><strong><img class="imgFloatRight" style="margin-left: 10px; margin-right: 10px;" title="Refuge d'Avérole" src="/ftp/images/RefugeAverole.jpg" alt="Refuge d'Avérole" width="327" height="212" />Le refuge d'Avérole</strong> est situé à <strong>2210 mètres</strong> sur la commune de Bessans en Savoie (73) dans la vallée de la Haute-Maurienne.</p>
<p>Du refuge d'Avérole, la vue s'ouvre sur de beaux cirques glaciaires. La majestueuse paroi de la Bessanèse (3592 m) domine le refuge. En face, l'Ouille d'Arbéron entre les glaciers d'Arnès et du Baounet et l'Albaron (3627 m). De l'autre côté de la vallée, la masse imposante du Charbonnel (3752 m), le plus haut sommet de Haute-Maurienne.<br /><br /></p>
<h2 class="bleucaf">Le refuge d'Avérole dispose d'une capacité de :</h2>
<ul style="list-style-position: outside; margin-left: 20px;">
<li>88 places en période de gardiennage</li>
<li>12 places en refuge d'hiver <br />(Hors gardiennage, les randonneurs trouveront des couvertures, du bois, une cuisine équipée, avec gaz).<br /><br /></li>
</ul>
<p class="erreur" style="text-align: center;">Pour toutes autres informations et pour réserver, consulter le site du refuge<span class="ArticleEntete"> : <a title="Refuge d'Avérole FFCAM" href="http://refugedaverole.ffcam.fr/home.html" target="_blank">http://refugedaverole.ffcam.fr</a></span></p>
<p> </p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" title="Plan Avérole" src="/ftp/images/Averole-plan.jpg" alt="Plan Avérole" width="250" height="280" /></p>
<p> </p>
