<p><img class="imgFloatLeft" title="Refuge du Carro" src="/ftp/images/carro.jpeg" alt="Refuge du Carro" width="316" height="229" /><strong>Le refuge du Carro</strong> est l'un des plus beaux refuges des Alpes. Il est situé sur la commune de Bonneval-sur-Arc en Savoie (73480) dans la vallée de la Haute-Maurienne, dans le Parc National de la Vanoise à <strong>2759 mètres</strong> d'altitude.</p>
<p>La montée au refuge offre des vues merveilleuses sur l'Albaron et ses glaciers du Vallonnet, et sur la chaîne du Mulinet, également très glaciaire. Le refuge est implanté au coeur d'un large et vaste cirque dominé par les deux sommets principaux, la Grande Aiguille Rousse et la Levanna Occidentale.<br /><br /></p>
<p> </p>
<h2><img class="imgFloatRight" title="Refuge du Carro" src="/ftp/images/carro2.jpg" alt="Refuge du Carro" width="298" height="180" /><span class="bleucaf">Le refuge du Carro dispose d'une capacité de :</span></h2>
<ul style="list-style-position: outside; margin-left: 20px;">
<li>61 places en période de gardiennage</li>
<li>18 places en refuge d'hiver <br />(Hors gardiennage, les randonneurs trouveront des couvertures, du bois, une cuisine équipée mais pas de gaz).</li>
</ul>
<p> </p>
<p> </p>
<p> </p>
<p class="erreur" style="text-align: center;">Pour toutes autres informations et pour réserver, consulter le site du refuge : <a title="Refuge du Carro FFCAM" href="http://refugeducarro.ffcam.fr" target="_blank">http://refugeducarro.ffcam.fr</a></p>
<p> </p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" title="Plan Carro" src="/ftp/images/carroplan.jpg" alt="Plan Carro" width="585" height="330" /></p>
<p> </p>
