<h1 class="ArticleEntete bleucaf">Activités proposées autour de l'escalade</h1>
<div>
<p><a href="https://www.clubalpinlyon.fr/article/programme-escalade-2023-2024-j-1541.html?commission=jeunes">Programme 2023-2024 Jeunes</a></p>
<p><a href="https://www.clubalpinlyon.fr/article/test-programme-escalade-ne-pas-1503.html?commission=escalade">Programme 2023-2024 escalade en salle SAE </a></p>
<p><a href="https://www.clubalpinlyon.fr/article/programme-2023-24-escalade-en--1560.html">Programme 2023-24 escalade en extérieur "cycles SNE"</a></p><br /></div>
<h2 class="bleucaf">Les sorties en extérieur</h2>
<p><img class="imgFloatLeft" style="margin-left: 10px; margin-right: 10px;" title="Seloges" src="/ftp/images/selogesescalade.jpg" alt="Seloges" width="272" height="204" />Les sorties d'escalade d'automne et d'hiver ont lieu dans le sud de la France sur des falaises orientées sud et à l'abri du vent. Contrairement aux idées reçues, il peut y faire très chaud. Alors que l'on se gèle à Lyon, nous grimpons en tee-shirt ...</p>
<p>Les<strong> sorties falaises</strong> ont lieu en fin d'automne, hiver et début du printemps.<strong> Elles s'adressent à tous</strong>, du débutant à celui ou celle qui veut améliorer sa technique et son niveau.</p>
<p>Les sorties "<strong>grandes voies</strong>" s'adressent aux <strong>personnes ayant déjà pratiqué l'escalade</strong> et qui veulent acquérir les techniques et connaître l'ambiance spécifique aux "grandes voies". Ces sorties se pratiquent en fin de printemps, été et début d'automne.</p>
<p>Consultez <a href="/accueil/escalade.html">les actualités</a> et <a onclick="window.open('/responsables.html#escalade','','scrollbars=yes,width=600,height=400,left='+(screen.availWidth/2)+',top=10');return false;" href="/responsables.html#escalade">les encadrants</a> pour cette activité.</p>
<p> </p>
<h2 class="bleucaf">Les cycles d'escalade</h2>
<p>Les cycles d'escalade proposés par le CAF de Lyon ont un double objectif :</p>
<ul style="list-style-position: outside; margin-left: 20px;">
<li>Autonomiser les participants en les familiarisant avec les techniques de sécurité et de progression</li>
<li>Améliorer le niveau sportif des participants<br /><br /></li>
</ul>
<p>Les cycles se déroulent généralement :</p>
<ul style="list-style-position: outside; margin-left: 20px;">
<li>Entre septembre et juin</li>
<li>5 ou 6 sorties en week-end</li>
<li>10 à 15 participants : ce sont toujours les mêmes et s'engagent à suivre l'intégralité du programme</li>
<li>Différents niveaux : découverte, perfectionnement, autonomie <br /><br /></li>
</ul>
<p class="erreur">Pour le détail des cycles et les modalités d'inscription consulter <a href="/accueil/escalade.html">les actualités</a>. </p>
<p> </p>
<h2 class="bleucaf">Les séjours escalade</h2>
<p>Chaque été un stage d'une semaine d'escalade orienté "Grandes voies" est organisé.<br />D'autres séjours peuvent également être organisés.</p>
<p class="erreur">Pour le détail des séjours et les modalités d'inscription  consulter <a href="/agenda/escalade.html">l'agenda</a> et <a href="/accueil/escalade.html">les actualités</a>.</p>
<h2 class="bleucaf"> </h2>
<h2 class="bleucaf">L'escalade en salle</h2>
<p>L'escalade en intérieur se pratique, sur des murs privés ou municipaux, en fonction de créneaux horaires fixés en début de saison. Comme les sorties en falaise, elle s'adresse à tous, du débutant à celui ou celle qui veut améliorer sa tehnique et son niveau.</p>
<p><strong><img class="imgFloatRight" title="Prise" src="/ftp/images/prisepofcopie.jpg" alt="Prise" width="220" height="147" />Le Club alpin de Lyon propose différents créneaux d'activité de 2 heures sur murs ou blocs les soirs en semaine</strong></p>
<ul style="list-style-position: outside; margin-left: 20px;">
<li><a title="Le Mur de Lyon" href="http://www.lemurdelyon.com/" target="_blank">Le Mur de Lyon</a> </li>
<li><a title="Azium" href="http://azium.fr/" target="_blank">Azium</a></li>
<li><a href="https://laennec.mroc.fr/" target="_blank">MROC</a></li>
<li><a href="http://holdup-escalade.fr/" target="_blank">Holdup Escalade</a></li>
<li>Université Lumière Lyon 2 (Bron)</li>
<li>Gymnase de Bellecombe</li>
<li>Gymnase de Jouhaux </li>
<li>Gymnase de La Quarantaine</li>
<li>...</li>
</ul>
<p>L'inscription se fait à partir de septembre pour l'année scolaire en cours.</p>
<p class="erreur">Pour le détail des horaires et les modalités d'inscription de consulter <a href="/accueil/escalade.html">les actualités</a>.</p>
<p> </p>
<h2 class="bleucaf">Pour les jeunes</h2>
<p>Le CAF de Lyon/Villeurbanne propose depuis septembre 2014 une nouvelle activité : l'escalade auprès des jeunes, dans le cadre de la mise en place d'une Ecole d'Escalade Jeunes du CAF.</p>
<p>L'objectif est de former un groupe d'une vingtaine de jeunes de 8 à 17 ans motivés afin de leur permettre de s'initier ou de se perfectionner en escalade tant en SAE qu'en milieu naturel. Outre les séances hebdomadaires en SAE, notre club souhaite proposer en effet à ces jeunes des sorties en montagne : alpinisme, cascade de glace, grandes voies , ski de randonnée, etc.</p>
<p>L'encadrement est effectué par un BE escalade.</p>
<p class="erreur">Pour le détail des horaires et les modalités d'inscription consulter <a href="/accueil/escalade.html">les actualités</a>.</p>
<p> </p>
<div class="info">
<h2 class="bleucaf">Matériel<br /><img class="imgFloatRight" style="margin-left: 10px; margin-right: 10px;" title="Degaine" src="/ftp/images/degaine.jpg" alt="Degaine" width="179" height="160" /></h2>
<h3>Le matériel nécessaire en falaise école</h3>
<ul style="list-style-position: outside; margin-left: 20px;">
<li>un baudrier,</li>
<li>une paire de chaussons,</li>
<li>un système d'assurage (tube, gri-gri...) + un mousqueton à vis</li>
<li>une "vache" (en corde, minimum 9 mn) + mousqueton à vis,</li>
<li>un maillon rapide,</li>
<li>un casque.<br /><br /></li>
</ul>
<h3>Le matériel nécessaire en grande voie</h3>
<ul style="list-style-position: outside; margin-left: 20px;">
<li>un baudrier,</li>
<li>une paire de chaussons,</li>
<li>un système adapté à l'assurage d'un second <strong>et</strong> d'un leader (plaquette, réverso, atc guide, ...) + un mousqueton à vis,</li>
<li>une "vache" (en corde, minimum 9 mn) + mousqueton à vis,</li>
<li>une ou deux sangles + 2 mousquetons à vis,</li>
<li>une cordelette (7 mn) ou un shunt pour l'auto-assurage d'un rappel,</li>
<li>2 maillons rapides,</li>
<li>un sac léger + veste légère + eau + vivres de course (attention au poids),</li>
<li>un casque.</li>
</ul>
</div>
<p> </p>
<p> </p>
