<h1><span class="bleucaf">Présentation</span></h1>
<p>Créé il y a maintenant 146 ans, le Club Alpin Français de Lyon (dont le siège est depuis 2013 à Villeurbanne, d'où le nouveau nom de Lyon-Villeurbanne) a à coeur de faire découvrir à ses adhérents la montagne sous toutes ses facettes grâce à :</p>
<ul style="list-style-position: outside; margin-left: 20px;">
<li>Une pratique multi-activités en petits groupes et en toute sécurité par des encadrants bénévoles diplômés :</li>
<ul class="info" style="margin-left: 30px; margin-right: 90px;">
<li><a href="/pages/alpinisme.html">Alpinisme / Cascade de glace</a></li>
<li><a href="/pages/canyon.html">Canyon</a></li>
<li><a href="/pages/escalade.html">Escalade</a></li>
<li><a href="/pages/randonnee.html">Randonnée</a></li>
<li><a href="/pages/marche-nordique.html">Marche nordique</a></li>
<li><a href="/pages/raquette.html">Raquette</a></li>
<li><a href="/pages/snowboard-rando.html">Snowboard de randonnée</a></li>
<li><a href="/pages/ski-de-randonnee.html">Ski de randonnée / alpinisme</a></li>
<li><a href="/pages/ski-de-piste.html">Ski de piste</a></li>
<li><a href="/pages/ski-de-fond.html">Ski de fond</a></li>
<li><a href="/pages/trail.html">Trail</a></li>
<li><a href="/pages/vtt.html">VTT Vélo de Montagne</a></li>
<li><a href="/pages/via-ferrata.html">Via ferrata</a></li>
<li><a href="/pages/environnement.html">Environnement durable et protection de la montagne</a></li>
</ul>
<li>Des stages de formations</li>
<li>Des activités toute l'année diversifiées : journées, week-ends, séjours, en France et à l'étranger (le CAF de Lyon-Villeurbanne a une licence de voyagiste).</li>
<li>Des services : Une bibliothèque de plus de 3000 ouvrages sur la montagne, une revue, des <a href="/pages/refuges.html">refuges</a>, des réductions, tous les avantages liés à <a href="/pages/adhesion.html">l'adhésion</a>...</li>
</ul>
<h1><img class="imgFloatRight" style="margin-left: 10px; margin-right: 10px;" title="Ned Bouadjar, au sommet de la Pyramide Cartensz, Indonésie-Papouasie" src="/ftp/images/NedB.jpg" alt="Ned Bouadjar, au sommet de la Pyramide Cartensz, Indonésie-Papouasie" width="306" height="186" /><span class="bleucaf">Les acteurs</span></h1>
<h2 class="bleucaf">L'Assemblée Générale</h2>
<p>Elle se tient annuellement entre décembre et janvier. Sont soumis au vote des adhérents le rapport moral du président, les comptes de l'exercice écoulé (du 1er octobre au 30 septembre), le budget prévisionnel de l'exercice suivant, le rapport des vérificateurs aux comptes, la modification éventuelle des tarifs, ainsi que toute autre question d'importance.</p>
<p>Le renouvellement partiel du Comité Directeur est effectué par vote des adhérents au scrutin à un tour.<br /><br /></p>
<h2 class="bleucaf">Le Comité Directeur</h2>
<p>Le club de Lyon-Villeurbanne est dirigé par un comité directeur de 17 membres bénévoles ayant droit de vote :</p>
<ul>
<li>16 membres élus par l'assemblée générale, dont le mandat dure 4 ans ;</li>
<li>1 membre de droit, le président de la section de l'Ouest Lyonnais.</li>
</ul>
<p>Tous les ans, le comité directeur élit le bureau parmi ses membres élus : 1 président, 1 secrétaire général, 1 trésorier et 4 vice-présidents chargés chacun d'un domaine d'action spécifique.</p>
<p>Le comité directeur peut également s'adjoindre 6 conseillers techniques (rééligibles chaque année et sans droit de vote) choisis parmi les adhérents.<br /><br />Les membres du comité directeur se réunissent 8 à 10 fois dans l'année, au siège du club.</p>
<p><strong>Tous les adhérents du club peuvent assister à ces réunions</strong>, mais sans droit d'intervention. Les adhérents souhaitant voir aborder des questions particulières lors de ces réunions, peuvent adresser leur demande par écrit, 2 semaines avant la réunion, au Président du club, par <a class="mailthisanchor"></a><script type="text/javascript" class="mailthis">mailThis('president', 'clubalpinlyon', 'fr', 'title=&quot;Ecrire au pr&eacute;sident&quot; ', 'courrier &eacute;lectronique');</script> ou postal.</p>
<p>Pour connaître les dates des réunions, se reporter à l'agenda du club. Les comptes-rendus de ces réunions sont affichés au club, ou sur le site internet.</p>
<p> </p>
<table style="background-color: #87cefa;" border="0" frame="border" rules="rows">
<tbody>
<tr style="height: 30px;">
<td>
<h2>Membres du bureau</h2>
</td>
<td>
<h2> </h2>
</td>
</tr>
<tr style="height: 30px;">
<td> Jean-Christophe SEGAULT</td>
<td><a class="mailthisanchor"></a><script type="text/javascript" class="mailthis">mailThis('president', 'clubalpinlyon', 'fr', 'title=&quot;Ecrire au Pr&eacute;sident&quot; ', 'Pr&eacute;sident');</script></td>
</tr>
<tr style="height: 30px;">
<td> Christel Kitzinger</td>
<td>Secrétaire Générale</td>
</tr>
<tr style="height: 30px;">
<td> Philippe Moyne</td>
<td>
<p>Trésorier</p>
</td>
</tr>
<tr style="height: 30px;">
<td> Didier Lolom</td>
<td>Vice-Président chargé des refuges</td>
</tr>
<tr style="height: 30px;">
<td> Karim Helal</td>
<td>Vice-Président chargé de la formation</td>
</tr>
<tr style="height: 30px;">
<td> Bernard Servant</td>
<td>Vice-Président chargé de la communication</td>
</tr>
<tr style="height: 30px;">
<td> Nicolas Ritouet</td>
<td>Vice-Président chargé du bénévolat</td>
</tr>
<tr style="height: 30px;">
<td> </td>
<td> </td>
</tr>
<tr style="height: 30px;">
<td>
<h2> Autres membres élus du comité directeur</h2>
</td>
<td> </td>
</tr>
<tr style="height: 30px;">
<td> Michel Bligny</td>
<td> </td>
</tr>
<tr style="height: 30px;">
<td> Emeline Helal</td>
<td> </td>
</tr>
<tr style="height: 30px;">
<td> Thibault Lieux</td>
<td> </td>
</tr>
<tr style="height: 30px;">
<td> Alain Mardoian</td>
<td> </td>
</tr>
<tr style="height: 30px;">
<td> Julien Martel</td>
<td> </td>
</tr>
<tr style="height: 30px;">
<td> François Paillier</td>
<td> </td>
</tr>
<tr style="height: 30px;">
<td> Cécile Perriod</td>
<td> </td>
</tr>
<tr style="height: 30px;">
<td> Jean-Claude Stantina</td>
<td> </td>
</tr>
<tr style="height: 30px;">
<td> Romain Viovi</td>
<td> </td>
</tr>
<tr style="height: 30px;">
<td> </td>
<td> </td>
</tr>
<tr style="height: 30px;">
<td>
<h2> Membres de droit</h2>
</td>
<td> </td>
</tr>
<tr style="height: 30px;">
<td>
<p> Bruno Sagnimorte</p>
</td>
<td> Président de la section de l'Ouest lyonnais </td>
</tr>
<tr style="height: 30px;">
<td> </td>
<td> </td>
</tr>
<tr style="height: 30px;">
<td>
<h2> Membres honoraires</h2>
</td>
<td> </td>
</tr>
<tr style="height: 30px;">
<td>
<p> Paul Ferraton</p>
</td>
<td> Président honoraire</td>
</tr>
<tr style="height: 30px;">
<td> </td>
<td> </td>
</tr>
<tr style="height: 30px;">
<td>
<h2> Responsables local et matériel</h2>
</td>
<td> </td>
</tr>
<tr style="height: 30px;">
<td> Jean-Paul Fredon</td>
<td> Accueil</td>
</tr>
<tr style="height: 30px;">
<td>
<p> Bernardette Gilles</p>
</td>
<td> Accueil</td>
</tr>
<tr style="height: 30px;">
<td>
<p> Hélène Van der Meulen</p>
</td>
<td> Accueil</td>
</tr>
<tr style="height: 30px;">
<td>
<p> Pierre-Louis Tinat</p>
</td>
<td> Matériel</td>
</tr>
<tr style="height: 30px;">
<td>
<p> Francis Hours</p>
</td>
<td> Matériel</td>
</tr>
</tbody>
</table>
<h2> </h2>
<h2><span class="bleucaf">Les commissions d'activités</span></h2>
<p>Les activités sont organisées en <strong>commissions</strong>, composées d'un responsable et des encadrants bénévoles de la discipline. Ces commissions mettent en place les programmes des sorties et définissent les règles de fonctionnement de l'activité. Les membres des différentes commissions d'activités se réunissent 2 à 3 fois dans l'année. Pour y assister, se reporter à l'agenda du club.</p>
<p>Consulter <a href="/responsables.html">les membres des commissions</a></p>
<h1 class="bleucaf">Pour plus d'infos</h1>
<p><a title="CAF Lyon 2014 statuts" href="/ftp/telechargements/caflyon2014statuts.pdf" target="_blank">Les statuts du CAF Lyon Villeurbanne (PDF)</a></p>
<p><a title="CAF Lyon règlement intérieur" href="/ftp/telechargements/caflyon2014reglementinterieur.pdf" target="_blank">Le règlement intérieur du CAF Lyon Villeurbanne (PDF)</a></p>
<p> </p>
<p> </p>
