<h1 class="bleucaf ArticleEntete">Présentation<img class="imgFloatRight" style="margin-left: 10px; margin-right: 10px;" title="VTT Diois" src="/ftp/images/VTTDiois.jpg" alt="VTT Diois" width="251" height="335" /></h1>
<p>
    Le vélo de montagne, c'est du VTT avec des descentes et des montées naturellement engagées, avec du portage, des passages exposés.
</p>
<p>
    La section VDM du club de Lyon Villeurbanne se différencie d'un club de VTT car on y vient surtout pour les sensations et les valeurs liées à la montagne : cohésion, aventure, contemplation, gestion des risques, autonomie.
    <br/>
    Le but de rouler ensemble et d’apprendre pour devenir autonome, et éventuellement d’encadrer à son tour.
</p>
<p>
Nous irons rouler dans le Beaujolais, Mont du Lyonnais, Pilat, Bugey mais évidemment aussi les Alpes et parfois plus loin, sur des périodes plus longues.
</p>
<p>
    La section VDM nous permettra d’apprendre à :
    <ul>
        <li>Rouler en sécurité.</li>
        <li>Franchir des passages techniques en montée et en descente.</li>
        <li>Préparer sa sortie : être autonome sur les aspects carto et météo.</li>
        <li>Cultiver l’entraide dans le groupe, au niveau mécanique et humain.</li>
        <li>Entretenir son vélo.</li>
    </ul>
</p>
<p>
    Les VTT à assistance électrique (VAE) seront acceptés, sauf si le format de la sortie ne le permet pas (exemple, portage trop long).
</p>
<p>
    La programmation est mise à jour au cours de la saison. Des sorties prévues longtemps à l’avance, mais des fois aussi des sorties au dernier moment en fonction de la météo, de la disponibilité des encadrants ou de la demande des participants.
    <br/>
    Proposez vos idées et vos projets !
</p>
<p>
    N’hésitez pas à consulter <a href="/accueil/vtt.html">les actualités</a> et <a href="/responsables.html#vtt">les encadrants</a> pour cette activité et à nous contacter.
</p>
<p>
    Nous savons que beaucoup d'entre vous pratiquent le VTT de façon indépendante. Alors n'hésitez pas à nous rejoindre pour partager ensemble le plaisir de rouler, et pourquoi pas, pour proposer également des sorties.
</p>
<h2 class="bleucaf">Types de sorties proposées</h2>
<p>
    <ul>
        <li>Demi-journée/Journée, départ à la pédale, en train, bus ou voiture.</li>
        <li>Week-end avec nuitée le samedi soir.</li>
        <li>Traversée de massif sur plusieurs jours.</li>
        <li>Déplacement en groupe (par exemple, rejoindre le rassemblement national VDM en mai 2023 en Haute Garonne).</li>
    </ul>
</p>
<p>
    Les parcours sont choisis et adaptés en fonction du niveau des participants et des randonnées initiation/découvertes sont proposées.
</p>
</p>
    Également dans l'année, un renforcement pilotage avec un professeur MCF, des journées interclubs, une soirée mécanique sont prévus.
<p>
<h2><span class="bleucaf">La cotation des sorties :</span></h2>
<p>Le niveau des sorties de VTT s'évalue sur 2 échelles :<strong> physique (P)</strong> et <strong>technique (T)</strong>, allant de 1 à 4 (ou vert, bleu, rouge, noir suivant les endroits).</p>
<div class="erreur">
<p><strong>P1</strong> : Dénivelé &lt; 500m, distance &lt; 25 km,  pente faible, terrain facile.</p>
<p><strong>P2</strong> : Dénivelé 500-900m,  distance 25-50 km, terrain moyennement accidenté.</p>
<p><strong>P3</strong> : Dénivelé 900-1300m, distance &gt; 50 km, tout type de terrain. Nécessite une bonne condition physique.</p>
<p><strong>P4</strong> : Dénivelé au delà de 1300m, distance &gt; 50 km,  montées pouvant être longues et soutenues. Réservé à des personnes en très bonne condition physique.</p>
<p><strong>T1</strong> : Parcours sans difficulté : Terrain roulant à inclinaison faible ou modérée.</p>
<p><strong>T2</strong> : Pistes ou chemins plus raides ou caillouteux. Sentiers faciles.</p>
<p><strong>T3</strong> : Sentiers caillouteux avec  passages raides, possibilité de rencontrer des obstacles comme de petites marches (&lt;40cm) mais sur une portion limitée du parcours.</p>
<p><strong>T4</strong> : Sentiers ou chemins techniques comportant de nombreux : passages raides à très raides,  marches parfois hautes (&gt;40cm),  épingles,  portions exposées... Les descentes sont soutenues et nécessitent un bon bagage technique.</p>
</div>
<h1 class="bleucaf">Agenda</h1>
<ul>
<li>La programmation est mise à jour au cours de la saison.</li>
<li>Les sorties sont souvent décidées lors de la <strong>semaine précédente</strong> en fonction de la <strong>météo</strong>, de la disponibilité des encadrants ou de la demande des participants.</li>
<li>L'annonce de ces sorties se fait également par courriels à toutes les personnes qui se sont fait connaître. <br />Si cela vous intéresse, n'hésitez donc pas à nous contacter.</li>
</ul>
<p>Consultez <a href="/accueil/vtt.html">les actualités</a> et <a onclick="window.open('/responsables.html#vtt','','scrollbars=yes,width=600,height=400,left='+(screen.availWidth/2)+',top=10');return false;" href="/responsables.html#vtt">les encadrants</a> pour cette activité.</p>
<h1 class="bleucaf">Matériel et équipement</h1>
<div class="info">
<p><strong>Matériel personnel</strong> à avoir à chaque sortie :</p>
<ul>
<li>Un VTT (personnel ou de location)</li>
<li>Le port du <strong>casque</strong> est <strong>obligatoire</strong></li>
<li>Un nécessaire de réparation incluant 2 chambres à air adaptées à vos jantes (attention à la valve).</li>
<li>Une patte de dérailleur du modèle de votre vélo est également très recommandée (ceux qui en ont un jour cassé une ne l'oublie plus jamais !)</li>
<li>Les gants et les lunettes sont vivement conseillés (protection contre les projections, les insectes, les branches...)</li>
<li>Le cuissard (ou short-cuissard) est un plus important pour le confort, indispensable pour les longues sorties.</li>
<li>Eau, vivres de course, pique-nique...</li>
</ul>
</div>
<p> </p>
<p><strong class="bleucaf">La location de VTT</strong> est possible. <br />On en trouve chez :</p>
<ul>
<li><strong><a href="http://www.lyonlocation.fr" target="_blank">Lyon Location</a></strong> : 16b Rue d'Alsace, Villeurbanne.</li>
<li><strong><a href="http://location.decathlon.fr/" target="_blank">Décathlon St Exupéry</a> :</strong> Porte des Alpes, 332 Avenue du Général de Gaulle, Bron</li>
<li><strong><a href="http://lyon.generation-vtt.com/" target="_blank">Génération VTT</a></strong> : 4 place de l’église, Saint Germain au Mont d'Or (livraison à domicile possible, ventes d'occasions)</li>
<li><a href="https://www.e-loue.com/location/loisirs/velo/" target="_blank">e-loue.com</a> : Location entre particuliers</li>
<li>Dans les magasins de sport des stations de montagne et des zones touristiques.<br /><br /></li>
</ul>
<p><strong class="bleucaf">Pour l’achat d’un VTT</strong>, nous vous recommandons les magasins suivants qui offrent un choix intéressant ainsi que des vêtements et accessoires.<br />Chaque vélociste ne distribuant généralement que quelques marques, il est utile d’en voir plusieurs afin de trouver le modèle qui vous sera le plus adapté.</p>
<p> </p>
<ul>
<li><strong><a href="http://www.cyclesveran.fr" target="_blank">CYCLES VERAN</a></strong> : 111-112 Quai Pierre Scize, Lyon 5e.<br />Marques : Lapierre, Trek</li>
<li><strong><a href="http://www.culturevelo.com/-Lyon-Centre-" target="_blank">CULTURE VELO LYON CENTRE</a></strong>: 88 Quai Pierre Scize, Lyon 5e.<br />Marques : Cannondale, Scott, Orbea</li>
<li><a href="http://www.giant-lyon-centre.fr/fr-FR/" target="_blank">GIANT STORE</a> : 13 quai Victor Augagneur, Lyon 3e.<br />Marques : Giant, Liv</li>
<li><strong><a href="http://www.loisirs-vtt.fr" target="_blank">LOISIRS-VTT</a></strong> : Pollionnay.<br />Marques : Cannondale, Specialized, GT</li>
<li><strong><a href="http://www.sodicycle.com" target="_blank">SODICYCLE</a></strong> : 69 Rue Audibert et Lavirotte, Lyon 7e.<br />Marques : Specialized<br />Très grand choix d'accessoires et de vêtements, notamment féminins.</li>
<li><a href="http://planetevelo-lyon.com/" target="_blank"><strong>PLANETE VELO</strong></a> : 12 Cours Aristide Briand, Caluire et Cuire.<br />Marques :  KTM, Orbea, GT ….</li>
<li><a href="https://www.lepape.com" target="_blank">LEPAPE</a> : 9 Rue Grolée, Lyon 2e.<br />Marques : Trek, BMC</li>
<li><strong><a href="http://www.cyclexperts.com/4-magasin_lyon" target="_blank">CYCLEXPERTS</a></strong> : 149 Route de Vienne, Lyon 8e.<br />Marques : Cube, Scott...</li>
<li><strong><a href="http://www.caribou-intersport.com" target="_blank">CARIBOU INTERSPORT</a></strong> : 86 Grande Rue de la Croix-Rousse, Lyon 4e.<br />Marques : Nakamura...</li>
<li><strong><a href="http://www.decathlon.fr/F-10015-vtt" target="_blank">DECATHLON ST EXUPERY</a> :</strong> Porte des Alpes, 332 Avenue du Général de Gaulle, Bron.<br />Marques : Décathlon.</li>
<li><strong><a href="http://www.culturevelo.com/-Lyon-Nord-" target="_blank">CULTURE VELO LYON NORD</a></strong> : 29, Avenue du Général De Gaulle, Champagne au Mont d'Or.<br />Marques : Scott, Lapierre…</li>
<li><strong><a href="http://www.culturevelo.com/-Lyon-Est-" target="_blank">CULTURE VELO LYON EST</a></strong> : 35, Route d'Heyrieux, Mions.<br />Marques : Scott, Lapierre…</li>
<li><strong><a href="http://hyperbike.cycles.free.fr/" target="_blank">HYPER BIKE</a></strong> : 14, Quai Illhaeusern, Collonges-au-Mont-D'Or.<br />Marques : Lapierre, Mondraker.</li>
</ul>
<p> </p>
<p><strong class="bleucaf">L'occasion</strong> peut être une bonne solution pour débuter. Ces sites comportent de nombreuses petites annonces :</p>
<ul>
<li><strong><a href="http://www.velovert.com/annonces" target="_blank">Vélo Vert</a></strong></li>
<li><strong><a href="http://www.troc-velo.com/" target="_blank">Troc-Vélo</a></strong></li>
</ul>
<p>Si vous êtes novice, n’hésitez pas à nous demander conseil avant un achat.</p>
<p> </p>
