<p>Tu as déjà mis un pied dans l'alpinisme et tu souhaites te perfectionner et aller vers l'autonomie, ce groupe s'adresse à toi !</p>
<p><br />Ce groupe encadre un groupe de 6 personnes sur une durée de deux ans. Un guide de haute montagne participe à l'encadrement 10 jours par an.</p>
<p>Les prochaines inscriptions seront à l'été 2022.</p>
