<p><img class="imgFloatLeft" title="Skieur" src="ftp/images/skieur.jpg" alt="Skieur" width="149" height="111" /></p>
<ol class="mini">
<li><a href="/pages/ski-de-fond.html">Présentation</a></li>
<li><a href="/pages/ski-de-fond-pratique.html">Détails pratiques</a></li>
<li><a href="/pages/ski-de-fond-technique.html">La technique</a></li>
<li><a href="/pages/ski-de-fond-biblio.html">Bibliographie</a></li>
<li><a href="/accueil/ski-de-fond.html">Les actualités</a></li>
<li><a onclick="window.open('/responsables.html#ski-de-fond','','scrollbars=yes,width=600,height=400,left='+(screen.availWidth/2)+',top=10');return false;" href="/responsables.html#ski-de-fond">Les encadrants</a></li>
</ol>
<p> </p>
<p><a class="mailthisanchor"></a><script type="text/javascript" class="mailthis">mailThis("skidefond", "clubalpinlyon", "fr", "title=&quot;Ecrire&quot;  target=&quot;_blank&quot;", "Contacter les responsables");</script></p>
<h1 class="bleucaf">Présentation de l'activité</h1>
<p><img class="imgFloatLeft" title="Photo ancienne" src="ftp/images/photot-ancienne.jpg" alt="Photo ancienne" width="260" height="250" />Entre banalement débonnaire et inaccessible, la perception du ski de fond à toujours évoluée entre deux bornes extrêmes: au côté vieillot et ringard ancré dans l'imaginaire collectif s'oppose l'image du sportif compétiteur mise en exergue par les retransmissions télévisées.</p>
<p>Mais entre les deux, le ski nordique offre toute une palette de sensations que nous vous proposons de découvrir ou redécouvrir.</p>
<p>Entre légèreté et liberté, loin de la foule et des remontées mécaniques, cette discipline vous permettra de parcourir la moyenne montagne, en toute sécurité, dans des espaces préservés.</p>
<p>Néanmoins, "le fond" n'étant rien sans "la forme", il vous faudra une bonne condition physique et un apprentissage minimum si vous souhaitez vous faire plaisir à moindre effort.</p>
<p>L'apprentissage se fait essentiellement sur le terrain, au cours des sorties. Toutefois, nous avons programmé quelques journées techniques pour le débutant désireux d'acquérir <strong><span style="text-decoration: underline;">les bases du </span><span style="text-decoration: underline;">pas de patineur</span> </strong>ou pour le pratiquant soucieux de perfectionner sa technique.</p>
<p>Vous l'aurez compris, quel que soit votre type de pratique ou votre niveau, nous vous invitons à venir mêler vos spatules aux nôtres et à découvrir que le nordique c'est aussi, surtout et avant tout du plaisir.</p>
<hr />
<h1 class="bleucaf">La saison de ski de fond</h1>
<p>Elle s'étale de décembre à mars suivant enneigement. L'activité s'effectue exclusivement sur les pistes des stations nordiques. La rando nordique en site non sécurisé peut se faire à la demande (voir ci-dessous).</p>
<hr />
<h1 class="bleucaf">Les différents types de sorties proposées au CAF de Lyon:</h1>
<h2 class="bleucaf"><img class="imgFloatRight" title="Ski en l'air" src="ftp/images/skis-en-lair.jpg" alt="Ski en l'air" width="311" height="177" />Les sorties découvertes:</h2>
<p>Il s'agit de sorties à la journée, s'adressant <strong>aux non-adhérents</strong> désireux de découvrir l'activité sans engagement. Le participant doit souscrire auprès du CAF une<a href="/pages/adhesion.html#carte_decouverte" target="_blank"> carte découverte</a> . Il doit s'acquitter en supplément des frais de transport, de la location du matériel et de la redevance ski de fond.</p>
<h2 class="bleucaf"> </h2>
<h2 class="bleucaf">Les sorties techniques (skating):</h2>
<p>Il s'agit de sorties à la journée, s'adressant <strong>aux adhérents</strong> désireux de s'initier ou de se perfectionner à la technique du <span style="text-decoration: underline;">pas de patineur</span> (skating- en anglais).</p>
<p>La matinée est consacrée à la découverte du matériel, au travail de l'équilibre, de la coordination et de la propulsion au travers d'éducatifs, en terrain plat descendant, avec ou sans bâtons. Ces exercices sont mis en pratique l'après-midi sur un parcours de courte distance.</p>
<p>Nous n'assurons pas d'encadrement pour le ski de fond alternatif (ou classique).</p>
<p> </p>
<h2 class="bleucaf">Les sorties à la journée:</h2>
<p>Ouvertes à tous (classique et skating) avec pour pré-requis une autonomie totale en style classique et un minimum d'autonomie en skating. Il s'agit de sorties sur pistes damées, à allure loisir ou modérée, sur des distances allant de 10 à 35 kms selon la météo et le niveau des participants.</p>
<p>Prévoir votre casse croute du midi et une bouteille d'eau.</p>
<p>Sorties programmées le dimanche et exceptionnellement le samedi (en fonction de la météo).</p>
<p> </p>
<h2 class="bleucaf">Les sorties au week-end:</h2>
<p>Elles permettent de pratiquer loin de nos bases habituelles et de varier ainsi les terrains de jeu.</p>
<p>L'hébergement se fait en gîte, la restauration du soir est prévue en demi-pension ou en gestion libre (dans tous les cas, vous n'avez pas de repas du soir ni de petit déjeuner à prévoir).</p>
<p>Prévoir un drap de sac ou duvet + linge de toilette + pantoufles + casse croute du samedi midi et dimanche midi + gourde + tenue de rechange + vêtements de ski adaptés aux conditions de pluie.</p>
<p>Les inscriptions sont ouvertes dès leur notification au planning. Elles sont validées contre règlement des arrhes correspondant au montant de la demi-pension (nous contacter pour les modalités de règlement). Les sorties sont maintenues même en cas de pluie.</p>
<p><strong>En cas de désistement de votre part, le montant des arrhes ne vous sera pas restitué.</strong> </p>
<p> </p>
<h2 class="bleucaf">Les sorties Randonnée Nordique:</h2>
<p>Elles se pratiquent en site non sécurisé et peuvent être programmées à la demande. Contact: <strong><a class="fancyframe userlink" title="Voir le profil" href="https://www.clubalpinlyon.fr/includer.php?p=includes/fiche-profil.php&amp;id_user=211">Jean THEVENON</a></strong>.</p>
<hr />
<h1 class="bleucaf">Les sites nordiques où nous aimons pratiquer:</h1>
<table style="background-color: #87cefa;" border="0" frame="border" rules="rows">
<tbody>
<tr style="height: 30px;">
<td> Ain</td>
<td>Plan d'Hotonnes, Cuvéry, Chapelle de Retord, Plateau de Retord </td>
</tr>
<tr style="height: 30px;">
<td> Haut Jura et Jura   </td>
<td>Giron, La Pesse, La Vattay, Lajoux</td>
</tr>
<tr style="height: 30px;">
<td> Doubs</td>
<td>La Chapelle des Bois, Métabief</td>
</tr>
<tr style="height: 30px;">
<td> Vercors</td>
<td>Autrans, Corrençon, Lans en Vercors</td>
</tr>
<tr style="height: 30px;">
<td> Chartreuse</td>
<td>St Pierre de Chartreuse</td>
</tr>
<tr style="height: 30px;">
<td> Savoie</td>
<td>Bessans, Les saisies, St François de Salle, La Féclaz, Le Revard</td>
</tr>
<tr style="height: 30px;">
<td> Haute Savoie</td>
<td>Plateau des Glières, Le Semnoz, La Clusaz.</td>
</tr>
</tbody>
</table>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
