<p><strong>La montagne c'est aussi pour les Jeunes !</strong><br />Tu as entre 0 et 25 ans et tu souhaites t'initier aux sports de montagne ? <br />Alors n'attends plus et inscris-toi à une ou plusieurs de nos activités.</p>
<p><br /><strong>1) <a href="pages/ecole-escalade.html">Ecole Escalade</a>. (6-17 ans)</strong><br />Notre école d'escalade labellisée par la FFCAM propose un programme d'escalade en salle et en falaise. Si tu veux progresser en grimpe, cette école est faite pour toi !<br /><br /><strong>2) <a href="pages/ecole-aventure.html">Ecole Aventure</a>. (15-18 ans)</strong><br />Tu as déjà fait un peu d'escalade et tu souhaites découvrir la montagne, l'école Aventure te propose des sorties aux disciplines variées :</p>
<ul>
<li>Alpinisme en neuge ou en rocher,</li>
<li>Escalade en grande voie,</li>
<li>Via Ferrata,</li>
<li>Cascade de glace,</li>
<li>Ski de randonnée,</li>
<li>Raquette à neige... </li>
</ul>
<p><br /><strong>3) Groupe Jeunes d'Alpinistes. (17-25 ans)</strong><br />Tu as déjà mis un pied dans l'alpinisme et tu souhaites te perfectionner et aller vers l'autonomie, ce groupe s'adresse à toi !<br /><br /><em><span style="text-decoration: underline;">Note :</span> l'encadrement est assuré par des encadrants bénévoles brevetés dans les différentes disciplines et peut être compléter par l'encadrement d'un professionnel (guide de haute montagne / diplômé d'escalade...etc.) lorsque cela est nécessaire.</em></p>
<p> </p>
<p><img src="ftp/images/ecole-aventure.jpg" alt="Ecole d'aventure" width="600" /></p>
