<p>Le Club Alpin propose différents types de formation.</p>
<h1 class="bleucaf">Les formations organisées au niveau du club</h1>
<ul style="list-style-position: outside; margin-left: 20px;">
<li>Des conférences thématiques réalisées par des membres du club ou des intervenants extérieurs</li>
<li>Des formations terrains à la journée ou en week-end : orientation, DVA, neige et glace....</li>
<li>Des cycles pédagogiques d'initiation ou de perfectionnement se déroulant sur plusieurs week-ends tout au long de l'année : escalade, ski de randonnée, via ferrata...</li>
</ul>
<p>Ces formations correspondent généralement aux formations de niveaux 1 décrites ci-après.</p>
<p> </p>
<p class="erreur info">Consultez <a href="/accueil/formation.html">les actualités</a> et <a href="/agenda/formation.html">l'agenda</a> pour les formations du club.</p>
<h1 class="bleucaf"> Les formations fédérales</h1>
<p><strong>Niveau 1</strong> : formation personnelle des pratiquants destinée à leur permettre d’accéder à l’autonomie dans leurs activités</p>
<ul style="list-style-position: outside; margin-left: 20px;">
<li>Unité de formation commune aux activités - UFCA (1 jour)</li>
<li>Unités de formation de niveau 1 - UF1 (2 jours) ex : carto-orientation, neige et avalanche, sécurité sur glacier, autonomie escalade ...<br /><br /></li>
</ul>
<p><strong>Niveau 2</strong> :  formation qualifiante permettant d'obtenir des brevets d'Initiateurs Fédéraux et d'encadrer</p>
<ul style="list-style-position: outside; margin-left: 20px;">
<li>Unités de formation de niveau 2 - UF2 (2 à 7 jours) ex : carto-orientation, neige et avalanche, sécurité sur glacier, technique alpine, autonomie sur SAE, autonomie sur site sportif, terrain  d'aventure, terrain montagne ...</li>
<li>Stage d'initiateur (2 à 7 jours en fonction des disciplines)<br /><br /></li>
</ul>
<p><strong>Niveau 3</strong> : pour former les formateurs et obtenir le diplôme d'Instructeur Fédéral</p>
<ul style="list-style-position: outside; margin-left: 20px;">
<li>Unités de formation de niveau 3 - UF3 (2 à 3 jours)</li>
<li>Stage d'instructeur (2 à 7 jours)<br /><br /></li>
</ul>
<p class="erreur info">Consulter le programme des <a href="http://cr-auvergnerhonealpes.ffcam.fr/formations-region.html" target="_blank">formations fédérales</a></p>
<h1><span class="bleucaf">Pour pouvoir encadrer</span></h1>
<p>Pour obtenir le dipôme d'Initiateur Fédéral et devenir encadrant, le cursus suivant est exigé:</p>
<p style="margin-left: 10px;"><strong>+</strong> UFCA (Unité de Formation Commune aux Activités)<br /><strong>+</strong> Brevet de secourisme (1 à 2 j)<br /><strong>+</strong> UF exigées pour l'activité concernée <br /><strong>+</strong> Stage d'initiateur</p>
<p>Certain brevets s'obtiennent grâce à une spécialisation complémentaire par rapport à un autre brevet et il y a des équivalences entre brevets.</p>
<p><span style="text-decoration: underline;">Par exemple :</span></p>
<ul>
<li>Pour la randonnée montagne, il faut : UFCA + Secourisme + Carto-orientation 2 + Stage d'inititateur (6j)</li>
<li>Pour la randonnée alpine, il faut : Brevet de randonnée montagne + Stage d'initiateur rando alpine.</li>
<li>Equivalence : Un initiateur alpinisme ou ski-alpinisme peut encadrer de la randonnée pédestre, mais l'inverse n'est pas vrai.</li>
<li>...</li>
</ul>
<p>Pour connaitre les exigences du diplôme vous intéressant, vous pouvez consulter <a href="responsables.html">le responsable de la commission concernée ou de la formation</a>.</p>
<p> </p>
<h2><span class="bleucaf">Autres modalités pratiques</span></h2>
<p><strong>Une prise en charge des frais de formation</strong> pour les personnes participant à l'encadrement du club est prévue. Se renseigner auprès du responsable formation pour en connaitre les modalités exactes.</p>
<p>Le Club Alpin a mis en place un dispositif de <strong>co-encadrement</strong> permettant aux personnes en cours de formation de co-encadrer des sorties. Se renseigner auprès du responsable de la commission concernée.</p>
<p>Pour conserver la validité de son diplôme, le breveté doit suivre un <strong>stage de recyclage</strong> (2j) tous les 5 ans.</p>
<h1><a href="http://www.ffcam.fr/les-formations.html" target="_blank">La formation sur le site de la FFCAM</a></h1>
