<p><img class="imgFloatRight" title="Refuge des Evettes" src="ftp/images/evettes.jpg" alt="Refuge des Evettes" width="333" height="248" />Le <strong>refuge des Evettes</strong> est situé sur la commune de Bonneval-sur-Arc en Savoie (73) dans le massif de la Vanoise, en Haute-Maurienne à une altitude de <strong>2590</strong> mètres. Il est à l'entrée du cirque des Evettes, face aux Ciamarellas et à l'Albaron.<br /><br /></p>
<h2 class="bleucaf">Le refuge des Evettes dispose d'une capacité de :</h2>
<ul style="list-style-position: outside; margin-left: 20px;">
<li>64 places en période de gardiennage</li>
<li>20 places en refuge d'hiver <br />(Hors gardiennage, les randonneurs trouveront des couvertures, du bois, une cuisine équipée mais pas de gaz).<br /><br /></li>
</ul>
<p> </p>
<p class="erreur" style="text-align: center;">Pour toutes autres informations et pour réserver, consulter le site du refuge:<strong> <a title="Refuge des Evettes FFCAM" href="http://refugedesevettes.ffcam.fr" target="_blank">http://refugedesevettes.ffcam.fr</a></strong></p>
<p> </p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" title="Evettes plan" src="ftp/images/evetteplan.jpg" alt="Evettes plan" width="218" height="231" /></p>
<p> </p>
