<p>L'alpinisme se pratique principalement au printemps-été de mai à septembre (le rocher doit être suffisamment sec pour les courses d'arêtes... et les glaciers pas trop crevassés... et les refuges sont alors gardés); voire plus tôt en moyenne montagne.<br />En hiver l'alpinisme est tout de même bien présent sous forme de cascade de glace ou de goulotte-mixte.</p>
<p> </p>
<h2><span class="bleucaf">Les sorties d'alpinisme</span> s'adressent à tous ceux qui désirent découvir et pratiquer l'alpinisme</h2>
<ul style="list-style-position: outside; margin-left: 20px;">
<li>aux <strong>nouveaux</strong> membres.</li>
<li>aux randonneurs souhaitant acquérir une <strong>première expérience</strong> alpine.</li>
<li>aux alpinistes désireux de<strong> pratique</strong> et/ou de<strong> progresser</strong>.</li>
</ul>
<p class="erreur">Dans tous les cas , une <strong>bonne condition physique est indispensable</strong>.</p>
<p><br />Il y a <strong>plusieurs portes d'entrées</strong> pour débuter en alpinisme:<br />- participer à un <strong>cycle découverte</strong> ou initiation du club (ou formation de base équivalente d'un autre club ou prestataire de loisir),<br />- participer aux "<strong>grands parcours alpinisme</strong>" organisés par la FFCAM,<br />- participer à une semaine du <strong>camp d'alpinsme</strong>.</p>
<p><br />Pour des raisons évidentes de sécurité, le nombre de participants est déterminé par chaque responsable en fonction du nombre d’encadrants disponibles et <strong>surtout </strong>de la difficulté de la course .<br />Les sorties sont généralement sur des week-ends mais des cycles, des raids et des séjours sont également organisés.</p>
<p> <img class="imgFloatRight" style="float: right; margin: 10px;" title="Alpinisme Ecrins" src="ftp/images/alpinismeecrins.jpg" alt="Alpinisme Ecrins" width="268" height="199" /></p>
<h2><span class="bleucaf">Niveau des sorties</span> </h2>
<ul style="list-style-position: outside; margin-left: 20px;">
<li>Les courses de niveau <strong>AD et plus</strong> s’adressent à des alpinistes possédant déjà une <strong>expérience avérée</strong> de la haute montagne et des techniques de progression alpine ; cependant en cas de doute, n’hésitez pas à vous renseigner auprès des initiateurs avant de vous inscrire . <br /> </li>
<li><strong>Rappel des cotations</strong> : F. : Facile - P.D. : Peu difficile - A.D. : Assez difficile - D. : Difficile - T.D. : Très difficile.</li>
</ul>
<p> </p>
<p> </p>
<p class="erreur">Consultez <a href="/accueil/alpinisme.html">les actualités</a> et <a onclick="window.open('/responsables.html#alpinisme','','scrollbars=yes,width=600,height=400,left='+(screen.availWidth/2)+',top=10');return false;" href="/responsables.html#alpinisme">les encadrants</a> pour cette activité.</p>
<p> </p>
<h2 class="bleucaf">Les écoles de rocher, de neige et de glace</h2>
<ul style="list-style-position: outside; margin-left: 20px;">
<li>Les écoles de rocher et de neige et glace de début de saison, <strong>ouvertes à tous</strong>, sans aucune exigence de niveau sinon une <strong>bonne condition physique</strong>, sont l’occasion de se familiariser avec la progression en rocher, en neige et en glace et d’aborder les principales techniques nécessaires à la pratique de l’alpinisme (progression avec chaussures de montagnes, rappels...). </li>
</ul>
<p><img class="imgFloatLeft" style="margin: 10px;" title="Ecrins" src="ftp/images/sortiecafjuin2009ecrins.jpg" alt="Ecrins" width="286" height="212" /></p>
<ul style="list-style-position: outside; margin-left: 20px;">
<li><strong>Programme indicatif des écoles de neige et glace:</strong> progression encordé à la montée et à la descente sur pente de neige raide, enrayage de chute, techniques d'encordement adaptées au terrain, corps mort en neige, assurage dynamique; progression à la montée et à la descente d'une pente de glace, différentes techniques d'utilisation du piolet, passage d'une section plus raide, ancrage en glace...</li>
<li><strong>Programme indicatif des écoles de rocher:</strong> encordement, progression en terrain rocheux, organisation au relai, rappels, selon les week-ends: technique de progression sur une arête. Les pratiquants autonomes en grande voie d'escalade (en extérieur) n'ont pas besoin de suivre ces écoles car ils maitrisent l'essentiel de ces techniques. Ceux qui pratiquent l'escalade mais uniquement en salle doivent particper à une école de rocher.</li>
</ul>
<p> </p>
<h2 class="bleucaf">Cycles pédagogiques alpinisme</h2>
<p>Les cycles  proposés par le CAF de Lyon-Villeurbanne ont comme objectif d'autonomiser les participants en les familiarisant avec les techniques de sécurité et de progression.</p>
<p>Les cycles se déroulent généralement :</p>
<ul style="list-style-position: outside; margin-left: 30px;">
<li>Entre juin et octobre</li>
<li>5 et 6 sorties sur des week-end</li>
<li>8 participants : ce sont toujours les mêmes et s'engagent à suivre l'intégralité du programme</li>
<li>Différents niveaux : initiation, perfectionnement, autonomie</li>
</ul>
<p> </p>
<h2><span class="bleucaf">Camp d'alpinisme</span></h2>
<p>Tous les ans, le CAF de Lyon-Villeurbanne a pour habitude d'organiser un camp d'alpinisme sur 2 semaines pendant l'été dans des lieux comme Chamonix ou Ailefroide.<br />Il est l'occasion de réaliser de grandes courses glaciaires ou rocheuses, historiques ou plus modernes, mais toujours dans un cadre grandiose et avec convivialité.<br />Les nuitées au "camp de base" en vallée au camping alternent avec les montées en refuge pour les sorties.<br />Les deux semaines sont ouvertes à tous et chacun peut y trouver sa place quel que soit son niveau (prérequis minimal: une école de rocher et une école de neige et glace).</p>
<p> </p>
<h2 class="bleucaf">Cascade de glace et dry tooling</h2>
<p>Sur la période hivernale, sont organisés des sorties de dry tooling (escalade avec crampons et piolet sur du rocher) généralement sur octobre-novembre et de cascade de glace de décembre à février.</p>
<p>Des cycles peuvent aussi être organisés.</p>
<p> </p>
<p class="erreur"> Pour le détail et les modalités d'inscription, consultez <a href="/accueil/alpinisme.html">les actualités</a>.</p>
<p> </p>
<p>Activité Cascade de glace 2015 au Club alpin de Lyon-Villeurbanne :</p>
<p><iframe src="//www.youtube.com/embed/UnMBpSXyrWg" frameborder="0" width="320" height="240"></iframe></p>
<p>Présentation Dry Tooling :</p>
<p><iframe src="//www.youtube.com/embed/KhqHiZIhj8Y" frameborder="0" width="320" height="240"></iframe></p>
<p> </p>
<div class="info">
<h2>Matériel pour l'alpinisme estival</h2>
<h4>Matériel technique</h4>
<ul style="list-style-position: outside; margin-left: 20px;">
<li>1 sac à dos de 50 litres maximum.</li>
<li>1 baudrier (de type cuissard de préférence).</li>
<li>3 mousquetons à vis (dont 2 de grande taille).</li>
<li>1 descendeur.</li>
<li>1 anneau de corde (diamètre 7 mm, longueur 2,20 mètres pour auto-assurance).</li>
<li>1 anneau de sangle.</li>
<li>1 broche à glace.</li>
<li>1 casque (*).</li>
<li>1 piolet (*).</li>
<li>1 paire de crampons (*) (les crampons doivent être réglés avant la montée en refuge).</li>
</ul>
<br />
<h4>Vêtements</h4>
<ul style="list-style-position: outside; margin-left: 20px;">
<li>Pantalon ou salopette.</li>
<li>Pull-over de type fourrure polaire (blouson de préférence).</li>
<li>Veste imperméable (de type goretex ou similaire).</li>
<li>Chaussures rigides cramponnables, imperméables et étanches (cuir ou coque plastique avec semelle Vibram).</li>
<li>Chaussettes chaudes séchant rapidement.</li>
<li>Guêtres. Gants (2 paires conseillées).</li>
<li>Coiffure légère et passe-montagne.</li>
</ul>
<br />
<h4>Matériel et équipement divers</h4>
<ul style="list-style-position: outside; margin-left: 20px;">
<li>Lampe frontale.</li>
<li>Sac à viande léger.</li>
<li>Lunettes de soleil.</li>
<li>Crème solaire.</li>
<li>Pharmacie personnelle (pansements...).</li>
<li>Gourde.</li>
<li>Réchaud et gamelles pour ceux qui souhaitent préparer leurs repas (se renseigner avant le départ car certains refuges mettent gaz et vaisselle à disposition).</li>
<li>Carte du CAF.</li>
<li>Carte vitale.</li>
<li>Papiers d'identité.</li>
</ul>
<br />
<h4>(*) Dans le cadre des collectives, le club peut prêter aux participants le matériel suivant</h4>
<ul style="list-style-position: outside; margin-left: 20px;">
<li>crampons,</li>
<li>piolet,</li>
<li>casque</li>
</ul>
</div>
<p> </p>
<div class="info">
<h2>Matériel pour la cascade de glace</h2>
<h4>Matériel nécessaire pour les sorties "initiation"</h4>
<ul style="list-style-position: outside; margin-left: 20px;">
<li>1 baudrier,</li>
<li>2 mousquetons à vis,</li>
<li>1 longe, vêtements chauds (gants, veste, pantalon, bonnet...),</li>
<li>Sac à dos,</li>
<li>Thermos,</li>
<li>Chaussures de montagne à semelles rigides (cuir ou coques plastiques),</li>
<li>Guêtres...</li>
<li>En fonction des conditions et de la situation de certaines cascades, la possession du matériel de sécurité (ARVA, pelle et sonde) pourra être exigé.</li>
</ul>
<p> </p>
<h4>Matériel nécessaire pour les sorties "perfectionnement"</h4>
<ul style="list-style-position: outside; margin-left: 20px;">
<li>2 piolets cascade,</li>
<li>Crampons,</li>
<li>Baudrier,</li>
<li>Casque,</li>
<li>Chaussures de montagne rigide et ou hivernale,</li>
<li>Vêtements chauds….</li>
<li>Eventuellement cordes à double, broches……</li>
<li>Sur certaines sorties ARVA/pelle/sonde et skis seront nécessaires.</li>
</ul>
<p> </p>
</div>
<p> </p>
