<p><img style="float: right; margin-left: 10px; margin-right: 10px;" title="Photo by Brian Metzler on Unsplash" src="/ftp/images/brian-metzler-296165-unsplash.jpg" alt="Trailer en montagne" width="321" height="233" /></p>
<p>Le trail, une nouvelle activité au Club Alpin de Lyon Villeurbanne.<br />Sa philosophie : de la course en nature bien sûr, mais en montagne !<br />L'activité est ouverte à toutes et à tous : aussi bien à ceux et celles qui veulent la découvrir à leur rythme qu'à ceux et celles qui cherchent la performance.<br /><br />N'hésitez pas à venir rejoindre notre équipe nouvellement créée !</p>
<p> </p>
<p> </p>
<p> <img style="float: left; margin-left: 10px; margin-right: 10px;" title="Photo by David Marcu on Unsplash" src="/ftp/images/david-marcu-69433-unsplash.jpg" alt="Photo by David Marcu on Unsplash" width="352" height="233" /></p>
<p>Consultez <a href="/accueil/trail.html">les actualités</a> et <a onclick="window.open('/responsables.html#trail','','scrollbars=yes,width=600,height=400,left='+(screen.availWidth/2)+',top=10');return false;" href="/responsables.html#trail">les encadrants</a> pour cette activité.</p>
<p> </p>
