<p><img class="imgFloatLeft" title="Skieur" src="/ftp/images/skieur.jpg" alt="Skieur" width="149" height="111" /></p>
<ol class="mini">
<li><a href="/pages/ski-de-fond.html">Présentation</a></li>
<li><a href="/pages/ski-de-fond-pratique.html">Détails pratiques</a></li>
<li><a href="/pages/ski-de-fond-technique.html">La technique</a></li>
<li><a href="/pages/ski-de-fond-biblio.html">Bibliographie</a></li>
<li><a href="/accueil/ski-de-fond.html">Les actualités</a></li>
<li><a onclick="window.open('/responsables.html#ski-de-fond','','scrollbars=yes,width=600,height=400,left='+(screen.availWidth/2)+',top=10');return false;" href="/responsables.html#ski-de-fond">Les encadrants</a></li>
</ol>
<p> </p>
<h1 class="bleucaf">Organisation des sorties</h1>
<h3 class="bleucaf">Le transport</h3>
<p>Il se fait en covoiturage et en aller-retour. Merci de nous préciser lors de l'inscription si votre véhicule est équipé pour la neige (pneus neige, portes-skis, chaines) et si vous souhaitez le mettre à disposition pour la sortie. Le règlement se fait en fin de journée auprès de l'organisateur selon le barème en vigueur (0,35€/km ou selon tarif amiable accordé entre tous). Les frais sont répartis de manière équitable entre les participants, quel que soit le taux de chargement des véhicules. Nous essayons d'assurer dans la mesure du possible une rotation régulière des véhicules tout au long de la saison.<br /><br /></p>
<h3 class="bleucaf"><img class="imgFloatLeft" style="margin-left: 10px; margin-right: 10px;" title="Sapins" src="/ftp/images/Sapins.JPG" alt="Sapins" width="284" height="207" />Les RdV</h3>
<p>Ont lieu au parking de la Mairie de Bron</p>
<ul>
<li>le vendredi soir vers 19h30 ou samedi matin 8h00, pour les sorties au week-end</li>
<li>le dimanche matin vers 9h00, pour les sorties à la journée (retour 19h00 au plus tard à Bron)<br /><br /></li>
</ul>
<h3 class="bleucaf">Lieu de la sortie</h3>
<p>Confirmé le jeudi précédent en fonction de la météo et de l'enneigement.<br /><br /></p>
<h3 class="bleucaf">Redevance ski de fond</h3>
<p>A régler à l'organisateur en fin de journée ou individuellement en caisse selon que nous parvenons ou pas à bénéficier de tarifs de groupes.<br /><br /></p>
<h3 class="bleucaf">Matériel</h3>
<p>A louer sur place si vous ne disposez pas de votre propre équipement (à nous préciser lors de l'inscription). Nous prévoyons à chaque sortie une halte à cet effet.</p>
<p>Toutes les sorties sont organisées par des bénévoles.</p>
<hr />
<h1 class="bleucaf">Tenue vestimentaire pour bien réussir sa première sortie à ski de fond</h1>
<p>La tenue vestimentaire doit répondre aux exigences de l'activité. Les vêtements doivent permettre des mouvements amples. La principale équation à résoudre est celle qui combine le froid extérieur et la rapide montée en température du "fondeur ".</p>
<p><img class="imgFloatRight" style="margin: 10px;" title="Ski de fond" src="/ftp/images/skidefondsite.jpg" alt="Ski de fond" width="308" height="177" />La meilleure option consiste à choisir des vêtements fins en tissu synthétique type fibre capillaire, polaire et autres produits de ce style. Plusieurs couches de ces vêtements constituent la tenue passe-partout. Ensuite libre à chacun d'ôter ou de mettre les " couches " en fonction de la météo, du terrain, et de la forme du moment.</p>
<p>Un coupe-vent imperméable ajouté aux " couches " précédentes assure une isolation suffisante par grand froid et en cas d'intempérie.</p>
<p>Côté pantalon, un simple collant de cyclisme peut suffire. Prévoir de rajouter par-dessus un pantalon coupe-vent respirant en cas de mauvais temps.</p>
<p>Un sac de petite capacité (15 litres) permet le rangement des habits ôtés. Des gants fins suffisent en général à protéger du froid car les mains sont toujours en mouvement.</p>
<p>Toutefois, si vous êtes sensibles des extrémités, nous vous recommandons de vous protéger en conséquence: moufles ou gants chauds pour les mains (même s'il est moins facile de sentir ses bâtons), bonnet, bandeau voire cagoule, pour les oreilles et le visage dans les cas extrêmes.</p>
<p>Prévoir aussi une paire de lunette et de la crème solaire que vous troquerez contre une casquette ou une visière en cas d'intempéries.</p>
<h1 class="bleucaf">Alimentation et hydratation</h1>
<p>La diététique du compétiteur de ski de fond se rapproche de celle des coureurs de fond ou demi-fond ; soit une nette prédominance des sucres lents, une diminution de la part de corps gras et une limitation des protéines, surtout d'origine animale, car génératrice d'apports lipidiques importants et "diabolisés" par ces sportifs. On revient toutefois sur cette notion de suppression ou de forte diminution des protéines animales, qui ont pu être génératrices de carence martiale.</p>
<p>Seuls les sucres lents permettent un stockage hépatique et musculaire suffisant en glycogène pour servir de combustible lors d'un effort prolongé (jusqu'à 90 min), quelle que soit la température extérieure. La mobilisation et l'utilisation des graisses, indispensables à la poursuite de l'effort au-delà de 1h30, sont améliorées par l'entraînement et ne dépendent pas du pourcentage de masse grasse de l'athlète.</p>
<p>Il est possible d'appliquer les principes de la nutrition du marathonien au skieur de fond. A ceci près que la saison hivernale du skieur de fond de haut niveau alterne des épreuves allant du "K.O. sprint" (quelques centaines de mètres d'épreuve, répétés plusieurs fois) aux grandes courses de 50 à 76 km (classique ou skating). Il est, en revanche, plus facile de l'adapter au compétiteur moyen ou au participant aux courses populaires, dont la distance et la durée sont comparables à celles du marathon.<br /><br /></p>
<h3 class="bleucaf">Sources d'énergie</h3>
<p>Glycogène et glucose sont les 2 principales sources d'énergie, l'utilisation des graisses n'étant intéressante que pour la randonnée tranquille, en pure endurance et de longue durée ; la compétition en ski de fond s'accommode mal d'un mélange riche en graisse, plus encore que la course à pied. On doit donc stocker le maximum de "super" dans les muscles mobilisés par l'effort (jambes, dos, bras).</p>
<p>La 1re source d'énergie est le glycogène, localisé dans ces muscles et dont le niveau du stock dépend de l'alimentation adoptée et du niveau d'entraînement.</p>
<p>La 2e source, le glucose, provient du stock de glycogène hépatique ou des ravitaillements ingérés pendant l'effort et assure un rôle d'appoint, permettant l'alimentation du cerveau, des muscles et d'autres tissus, et de lutter contre l'hypo-glycémie, nuisible à la bonne réalisation technique du geste.</p>
<p>En cas de carence des 2 précédentes sources, les graisses sont utilisées mais ne permettent qu'un minimum de rendement physique. Par ailleurs, l'absorption pré ou per-compétition de corps gras entraîne, le plus souvent, des troubles digestifs, au contraire de l'absorption des sucres.<br /><br /></p>
<h3 class="bleucaf">La ration de course (ravitaillement)</h3>
<p>La prise de glucides en course est impérative pour les épreuves de longue durée (&gt; 1 h 30) ; il faut en faire l'expérience lors des entraînements ; tester la boisson la mieux supportée sur le plan digestif et la plus efficace sur le plan du rendement. La forme la plus adaptée semble être la boisson enrichie en glucides, boisson à base de polymères, dont il existe beaucoup d'exemples dans le commerce ou préparation personnelle : thé + miel par exemple.</p>
<p>Elle permet :</p>
<ul>
<li>de restaurer les pertes hydriques, non négligeables en atmosphère froide et sèche (même si la sensation de soif est moins grande que lors d'un marathon couru par 25°C) ;</li>
<li>d'éviter les troubles digestifs liés à l'absorption (trop classique) de portions de fromages ou de lard (dont l'intérêt est plus "folklorique" que sportif) ;</li>
<li>un passage sanguin rapide, donc une régénération des réserves utiles pour "finir".</li>
</ul>
<p>La solution idéale semble être l'utilisation de "Camel bag" ou de ceintures "porte bidon" évitant la rupture de l'effort.<br /><br /></p>
<h3 class="bleucaf">En piste</h3>
<p>Un breuvage légèrement sucré, des fruits séchés, des barres de céréales conviennent ordinairement pour éviter la « fringale ».<br /><br /></p>
<h3 class="bleucaf">Hydratation</h3>
<p><strong>30 min. avant de partir</strong> skier, boire 250 ml d'eau</p>
<p><strong>Pendant la sortie</strong>, boire 150 ml environ toutes les 20 min. Une boisson composée d'une partie de jus de fruits et d'une partie d'eau (50/50) convient très bien.</p>
<p><strong>Après la sortie</strong>, dans les premières 15 min, boire eau, jus, liqueurs. Si vous avez fait une longue sortie, absorbez beaucoup de liquide dès la première heure qui suit votre sortie. Attention aux amateurs de houblon! La bière ne fait pas partie des liquides conseillés...<br /><br /></p>
<h3 class="bleucaf">En cas de compétition</h3>
<p>Ne pas prendre de boisson sucrée dans l'heure précédant le départ (risque d'hypoglycémie donc utiliser plutôt du fructose - insulino-sécréteur. A l'exercice, action d'une hormone anti-diurétique qui fait que le sucre consommé n'entraîne pas d'hypoglycémie réactionnelle)</p>
<p>Dernier repas avant l'épreuve: au moins 3 heures avant</p>
<p> </p>
