<p><strong>Les randonnées</strong> sont classées en quatre catégories, la catégorie 4 étant réservée à la randonnée alpine.<br /> Les signes + et - indiquent si nécessaire, quelques nuances.</p>
<p class="imgFloatRight"><img class="imgFloatRight" style="float: right; margin: 20px;" title="Rando" src="/ftp/images/rando.jpg" alt="Rando" width="300" height="169" /></p>
<p><span class="bleucaf">Catégorie 1</span> : Randonnée principalement sur sentier</p>
<ul>
<li>Altitude modérée</li>
<li>Dénivelée maximum d'environ 800 mètres, durée de marche de 5 heures et</li>
<li>Pas de difficultés techniques.</li>
<li>S'adresse à des marcheurs débutants ou moyens</li>
<li>ex : Petit Som depuis La Ruchère : cat. 1 - Grande Sure depuis le col de la Charmette : cat 1+.</li>
</ul>
<p> </p>
<p><span class="bleucaf">Catégorie 2</span> : Randonnées présentant quelques difficultés techniques </p>
<ul>
<li>Longs passages hors sentier (Rocher du Parquet en traversée : cat. 2).<img class="imgFloatLeft imgFloatRight" style="float: right; margin: 20px;" title="Rando" src="/ftp/images/rando2.jpg" alt="Rando" width="312" height="181" /></li>
<li>Courts passages raides ou aériens (Chamechaude : cat. 2-  Dent de Crolles par le circuit du Trou du Glas et le Pas de l'Oeille : cat. 2).</li>
<li>Passages sur névés (Croix de Belledonne : cat 2+).</li>
<li>Randonnée sans difficultés techniques mais n'entrant pas dans la catégorie 1 (Grand Veymont : cat. 2).</li>
<li>Marche de 6 à 8 heures, dénivellée jusqu'à 1200 mètres environ. Accessible sans grande expérience de la montagne.</li>
</ul>
<p> </p>
<p><span class="bleucaf">Catégorie 3</span> : Randonnées présentant plus de difficultés techniques qu'en catégorie 2</p>
<p>A partir de cette catégorie, il est indispensable d'avoir une certaine expérience avec le club. Pas de purs débutants.</p>
<ul>
<li>Passages raides ou aériens plus longs ou plus délicats (Obiou - Arcalod).</li>
<li>Pierriers ou éboulis instables. Casque recommandé.</li>
<li>Quelques pas d'escalade.</li>
<li>Itinéraires sur névés pentus nécessitant l'emploi du piolet et des crampons occasionnellement, sans encordement.</li>
<li>Itinéraires demandant attention et sûreté.<img class="imgFloatRight" style="float: right; ; margin: 20px;" src="/ftp/images/rando3.jpg" alt="Rando" width="314" height="235" /></li>
<li>Réservés à des randonneurs habitués à la montagne. Dénivelée pouvant être supérieure à 1200 mètres, avec plus de 8 heures de marche.</li>
</ul>
<p> </p>
<p><span class="bleucaf">Catégorie 4</span> : Randonnée alpine.</p>
<ul>
<li style="text-align: justify;">Randonnée empruntant certains itinéraires classés F en alpinisme, en particulier des itinéraires glaciaires peu pentus et peu crevassés (Pointe Francesetti - Aiguille de la Grande Sassière - Aiguille du Belvédère - Pointe Marie).</li>
<li style="text-align: justify;">Nécessite une certaine aisance en terrain raide et la maîtrise du matériel adapté pour neige, glace ou rocher (piolet, crampons avec anti-botte, harnais, casque, corde...) pour une marche en encordement.</li>
<li style="text-align: justify;">Ne sont admis que les adhérents ayant fait le stage "Neige et Glace" ou ayant une expérience équivalente.</li>
</ul>
<p> </p>
<p>Consultez <a href="/accueil/randonnee.html">les actualités</a> et <a onclick="window.open('/responsables.html#randonnee','','scrollbars=yes,width=600,height=400,left='+(screen.availWidth/2)+',top=10');return false;" href="/responsables.html#randonnee">les encadrants</a> pour cette commission.</p>
<p> </p>
<div class="info">
<h3 class="bleucaf">Matériel à prévoir</h3>
<p>Tout d'abord de <strong>bonnes chaussures</strong> !</p>
<p>Le reste dépend des pratiquants. On peut citer :</p>
<ul>
<li>Des bâtons, utiles à la descente comme à la montée.</li>
<li>Gourde et pipette/camel bag</li>
<li>Couvre-chef: chapeau, casquette, bonnet ...</li>
<li>Vêtements chauds, gants</li>
<li>Vêtements de pluie, coupe-vent</li>
</ul>
<p>Pour les randonnées glaciaires (Cat. 4), il faut prévoir</p>
<ul>
<li>des chaussures rigides</li>
<li>des crampons réglés à la taille des chaussures</li>
<li>un piolet, avec un manche plutôt long</li>
<li>un baudrier</li>
<li>longes, mousquetons ... suivant consignes</li>
</ul>
<p>Pour les randonnées rocheuses avec passage nécessitant une corde, il faut prévoir</p>
<ul>
<li>un baudrier</li>
<li>longes, mousquetons ... suivant consignes</li>
<li>un casque</li>
</ul>
</div>
<p> </p>
