<h1 class="bleucaf">Avantages de l'adhésion</h1>
<ul style="list-style-position: outside; margin-left: 20px;">
<li>Les activités du Club sont réservées à ses membres et donc la carte permet d'accéder à toutes ses activités (sous réserve des places disponibles et du niveau du participant).</li>
<li>Cela inclut l'accès aux différentes formations et événements organisés par le Club ou la FFCAM</li>
<li>La carte donne droit à des réductions sur les nuitées des refuges et centres de montagne CAF (hors prestations de confort): 50% pour les plus de 24 ans et 75% pour les jeunes de 8 à 25 ans (gratuit pour les moins de 8 ans en famille) .</li>
<li>Les réductions sont également valables à l'étranger dans les hébergements gérés par les autres membres de l'<a href="http://www.theuiaa.org/" target="_blank">UIAA</a> (Union Internationale des Associations d'Alpinisme) dont font partie tous les club alpins européens.</li>
<li>Une très bonne assurance pour vos activités sportives, même en dehors du Club, dans l'Europe entière, y compris la Suisse.</li>
<li>Réductions dans certains magasins de sport sur présentation de la carte ou par des bons d'achats à prix réduits via des achats groupés organisés par le Club.</li>
<li>Entrées aux salles d'escalades <a href="http://www.lemurdelyon.com/" target="_blank">Mur de Lyon</a> et <a href="http://www.azium.fr/" target="_blank">Azium</a> à prix réduit, à acheter au Club. </li>
<li>Accès à la bibliothèque du Club : plus de 3000 ouvrages sur la montagne</li>
<li>Convivialité, bonne humeur, oxygène et remise en forme !</li>
<li>...</li>
</ul>
<h1 class="bleucaf">Et si je suis déjà adhérent d'un autre club de montagne ?</h1>
<p>Si vous êtes adhérent d'un autre club affilié à la FFCAM, <strong>vous pouvez prendre une double adhésion au CAF de Lyon-Villeurbanne </strong>pour participer à nos activités. L'avantage est que vous n'aurez qu'à régler la part club de la cotisation (voir tarifs ci dessous).<br /> Par contre il n'est pas possible de faire cette opération en ligne et vous devez obligatoirement passer au club lors des permanences du mardi ou jeudi après midi en emmenant bien avec vous votre carte d'adhérent du club FFCAM. <br />Cette disposition ne concerne pas les membres de clubs affiliés à d'autres fédérations, comme la FFME (car fédération et assurance différentes). Vous devez alors prendre une adhésion complète au CAF de Lyon-Villeurbanne.</p>
<h1 class="bleucaf">Conditions d'adhésion</h1>
<p>Il est possible de s'inscrire à la <a href="http://www.ffcam.fr/adherer.html#.UlKVh1O2dj4" target="_self">FFCAM</a> à toute période de l'année. Les tarifs qui suivent (cotisation, assurance, revues) sont ceux valables pour la saison 2017-2018, valables du 1er septembre 2017 au 31 aout 2018.</p>
<p>L'adhésion prend effet dès le versement de la cotisation et cesse le 30 septembre, la couverture d'assurance reste acquise jusqu'au 31 octobre.<br /><br /></p>
<h2 class="bleucaf">Inscription des nouveaux adhérents :</h2>
<ul style="list-style-position: outside; margin-left: 20px;">
<li>Directement auprès de la Fédération avec paiement par carte bancaire sécurisé : <a title="Adhésion en ligne" href="https://extranet-clubalpin.com/app/webeff/we_crv2_step01.php?IDCLUB=6900&amp;Hchk=sRuIiVPWLBeMBeai0FB7If0jVPltnJ" target="_blank">Adhésion en ligne</a></li>
<li>Au club pendant les heures d'ouverture par :
<ul style="list-style-position: outside; margin-left: 30px;">
<li>Carte bancaire</li>
<li>Chèque bancaire à l'ordre du Club Alpin Français de Lyon.</li>
<li>Carte PASS'Région, pour les jeunes de la région Rhône-Alpes, jusqu'au 31 mai, dans la limite de 30 Euros.</li>
<li>Chèques vacances et Coupons sports.</li>
</ul>
</li>
</ul>
<p>Les nouveaux adhérents doivent fournir un certificat médical d'absence de contre-indication à la pratique des sports de montagne, datant de moins d'un an (Article L231 du code du sport et ses décrets d'application - articles D231-1).<br /><br /></p>
<h2 class="bleucaf"><a name="renouveler_inscription"></a>Renouvellement de l'adhésion</h2>
<p>Courant septembre la FFCAM envoie à tous les anciens adhérents un courrier  avec un code. Attendez de l'avoir reçu pour procéder au renouvellement : <a title="Renouvellement" href="https://extranet-clubalpin.com/monespace/" target="_blank">Renouvellement en ligne</a><br /><br /> <em>NB : Il est important pour les anciens adhérents de procéder à un renouvellement et non à une nouvelle adhésion, car une nouvelle adhésion entraîne l'attribution d'un nouveau numéro d'adhérent qui bloquera votre compte sur le site du club, nécessitant une opération manuelle fastidieuse pour le transfert de compte.</em></p>
<p>En parallèle, pour les renouvellements annuels, vous devrez remplir un auto-questionnaire de santé qui vous permettra d'apprécier si un nouveau certificat médical est nécessaire.<br />Le certificat médical doit être renouvelé tous les 10 ans par les pratiquants âgés de moins de 50 ans, 5 ans entre 50 et 65 ans et 3 ans au-delà.<br />Il doit être renouvelé tous les 3 ans par les adhérents pratiquant la compétition.<br /><br />Pour consulter le questionnaire de santé "QS Sport" : <a title="QS Sport" href="https://www.formulaires.modernisation.gouv.fr/gf/cerfa_15699.do" target="_blank">cliquer ici</a></p>
<p> </p>
<h2 class="bleucaf">Retrait de la carte</h2>
<p class="erreur">Pour tous,<strong> la carte d'adhésion est disponible au club</strong> quelques jours plus tard où vous pourrez venir la retirer.<br /> Pour les nouveaux adhérents, elle vous sera remise uniquement en échange du certificat médical.</p>
<h1 class="bleucaf">Tarifs des cotisations</h1>
<p><a href="ftp/telechargements/tarif-adhesion-2020-2021.pdf" target="_blank">Afficher les tarifs 2020-2021</a></p>
<p> </p>
<p>L'adhésion comprends les éléments suivant :</p>
<ul style="list-style-position: outside; margin-left: 30px;">
<li>La part fédérale, comprenant le financement des actions de la Fédération, des refuges d'un montant identique quelque soit le club d'appartenance, mais variable suivant la catégorie.</li>
<li>La part locale, fixée par le comité directeur du club, variable suivant la catégorie.</li>
<li>L'assurance responsabilité civile obligatoire France Europe (RC)</li>
<li>L'assurance de personne facultative (AP)</li>
<li>La Revue Alpine (RA Revue du CAF de Lyon) incluse avec supplément de 5€ pour les abonnés résidant hors de France.</li>
<li>La revue nationale du CAF "La Montagne et Alpinisme" facultative</li>
</ul>
<p>Le montant des adhésions représente la quasi-totalité des ressources du club et de la Fédération.</p>
<h1 class="bleucaf">L'assurance</h1>
<p>Depuis 2010,<a href="http://www.ffcam.fr/assurance.html"> les garanties d'assurance proposées aux adhérents de la FFCAM</a> ont été améliorées à l'occasion de la conclusion du contrat avec notre nouvel assureur. Ainsi, les sports aériens (parapente, aile delta, deltaplane mono- ou biplace) sont assurés en responsabilité civile au même titre que les autres activités,  à l'exception du paralpinisme pour lequel il y a une extension particulière.</p>
<p>Les garanties sont valables dans l'Union Européenne, l'Islande, la Norvège (sauf le Spitzberg), la Suisse, le Maroc.</p>
<p>La prise de l'assurance personnelle est vivement recommandée. En particulier, les frais de recherche et de secours en montagne sont couverts. Rappelons que depuis 2002, les communes françaises peuvent en exiger le remboursement. A l'étranger, cette pratique est universelle.</p>
<p>Les garanties peuvent être renforcées. Une extension au monde entier est aussi proposée.<strong> </strong></p>
<p style="text-align: center;"><a title="Extension d'assurance" href="https://extranet-clubalpin.com/monespace/" target="_blank">&gt; Souscrire une extension d'assurance</a></p>
<p>Les garanties de  l'assurance attachées à l'adhésion à la FFCAM prennent effet dès le versement de la cotisation. Le renouvellement de cette adhésion pourra se faire dès réception de l'appel de cotisation en début d'exercice.</p>
<p>L'adhésion prend effet dès le versement de la cotisation et cesse le 30 septembre à minuit. La couverture d'assurance reste acquise jusqu'au 31 octobre à minuit.<br /><br /></p>
<h2 class="bleucaf">En cas de sinistre</h2>
<p>En cas de sinistre, la déclaration doit être faite dans les 5 jours auprès de l'assurance :</p>
<ul style="list-style-position: outside; margin-left: 30px;">
<li>Directement : <a href="https://montagne.grassavoye.com/menu/accueil_dossier/type_produit/13" target="_blank">en ligne auprès de l'assureur</a></li>
<li>A l'aide d'un imprimé spécifique disponible ici : <a href="http://www.ffcam.fr/tzr/scripts/downloader2.php?filename=T004/fichier/80/66/4zoc9mlh43x8&amp;mime=application/pdf&amp;originalname=GS_FFCAM_declaration_internet_fr_14_15_v1.pdf" target="_blank">Déclaration d'accident au format PDF</a>.<br />(Il est possible également d'obtenir cet imprimé au club)</li>
<li>Pour contacter l'assureur :</li>
</ul>
<p style="text-align: center;"><strong>GRAS SAVOYE MONTAGNE</strong><br />SERVICE FFCAM<br />3B RUE DE L'OCTANT <br />BP 279 <br />38433 ECHIROLLES CEDEX<br />Ligne dédiée :<strong> 0810 104 079</strong></p>
<p><a id="carte_decouverte"></a> </p>
<h2 class="bleucaf">La "carte découverte" ou la sortie "à l'essai" pour les non adhérents</h2>
<p>Exceptionnellement, une personne qui souhaite découvrir les activités du club avant d'adhérer, peut participer à des sorties, au <strong>maximum 3,</strong> de 24 h chacune (3 sorties différentes d'1 j ou 1 sortie de 3 j consécutifs/ ou 1 sortie de 2 j consécutifs et 1 sortie d'1 j) en souscrivant une assurance temporaire. <br />Cette formule de 3x24h, toutes activités confondues, uniquement en initiation et découverte n'est pas renouvelable et n'est pas accessible à l'adhérent n'ayant pas renouvelé sa carte de l'année en cours.<br /> Le montant de l'assurance temporaire s'élève à 8 € par jour.</p>
<p> </p>
