<h1 class="bleucaf ArticleEntete">Présentation<img class="imgFloatRight" style="margin-left: 10px; margin-right: 10px;" title="VTT Diois" src="/ftp/images/VTTDiois.jpg" alt="VTT Diois" width="251" height="335" /></h1>
<p>
    Le vélo de montagne, c'est du VTT avec des montées et des descentes, parfois engagées, avec des passages exposés, ou du portage (le moins possible !)
</p>
<p>
    La section VDM du club de Lyon Villeurbanne se différencie d'un club de VTT car on y vient surtout pour les sensations et les valeurs liées à la montagne : cohésion, aventure, contemplation, gestion des risques, autonomie.
    <br/>
    Le but de rouler ensemble et d’apprendre pour devenir autonome, et éventuellement d’encadrer à son tour.
</p>
<p>
    Nous irons rouler dans le Beaujolais, Mont du Lyonnais, Pilat, Bugey mais évidemment aussi les Alpes et parfois plus loin, sur des périodes plus longues.
</p>
<p>
    La section VDM nous permettra d’apprendre à :
</p>
    <ul>
        <li>Rouler en sécurité.</li>
        <li>Franchir des passages techniques en montée et en descente.</li>
        <li>Préparer sa sortie : être autonome sur les aspects carto et météo.</li>
        <li>Cultiver l’entraide dans le groupe, au niveau mécanique et humain.</li>
        <li>Entretenir son vélo.</li>
    </ul>
<p>
    Les VTT à assistance électrique (VAE) seront acceptés, sauf si le format de la sortie ne le permet pas (exemple, portage trop long).
</p><br>

<h2 class="bleucaf">Types d'activités proposés</h2>
<ul>
    <li>Demi-journée/Journée/Soirée, départ à la pédale, en train, bus ou voiture.</li>
    <li>Week-end avec nuitée le samedi soir.</li>
    <li>Traversée de massif sur plusieurs jours.</li>
    <li>Déplacement en groupe (par exemple, rejoindre le rassemblement national annuel de VDM de la FFCAM.</li>
    <li>Stage de pilotage avec un moniteur MCF</li>
    <li>Soirée mécanique</li>
    <li>...</li>
</ul>
<p>Les parcours sont choisis et adaptés en fonction du niveau des participants et des randonnées initiation/découvertes sont proposées.</p><br>

<h2 class="bleucaf">La cotation des sorties :</h2>

<p>Le niveau des sorties de VTT s'évalue sur 2 échelles : <strong>physique (P)</strong> et <strong>technique (T)</strong>, allant de 1 à 4 (ou vert, bleu, rouge, noir suivant les endroits).</p>

<div class="erreur">
    <p><strong>P1</strong> : Dénivelé < 500m, distance < 25 km, pente faible, terrain facile.</p>
    <p><strong>P2</strong> : Dénivelé 500-900m, distance 25-50 km, terrain moyennement accidenté.</p>
    <p><strong>P3</strong> : Dénivelé 900-1300m, distance > 50 km, tout type de terrain. Nécessite une bonne condition physique.</p>
    <p><strong>P4</strong> : Dénivelé au delà de 1300m, distance > 50 km, montées pouvant être longues et soutenues. Réservé à des personnes en très bonne condition physique.</p>
    <p><strong>T1</strong> : Parcours sans difficulté : Terrain roulant à inclinaison faible ou modérée.</p>
    <p><strong>T2</strong> : Pistes ou chemins plus raides ou caillouteux. Sentiers faciles.</p>
    <p><strong>T3</strong> : Sentiers caillouteux avec passages raides, possibilité de rencontrer des obstacles comme de petites marches (<40cm) mais sur une portion limitée du parcours.</p>
    <p><strong>T4</strong> : Sentiers ou chemins techniques comportant de nombreux : passages raides à très raides, marches parfois hautes (>40cm), épingles, portions exposées... Les descentes sont soutenues et nécessitent un bon bagage technique.</p>
</div>

<h1 class="bleucaf">Communication au sein de la section</h1>

<p>La programmation est mise à jour au cours de la saison. Des sorties prévues longtemps à l’avance, mais des fois aussi des sorties au dernier moment en fonction de la météo, de la disponibilité des encadrants ou de la demande des participants.
    <br>Proposez vos idées et vos projets !
</p>
<p>
    Nous savons que beaucoup d'entre vous pratiquent le VTT de façon indépendante. Alors n'hésitez pas à nous rejoindre pour partager ensemble le plaisir de rouler, et pourquoi pas, pour proposer également des sorties.
</p>
<p>Pour communiquer et se tenir informé des dernières nouvelles et sorties :</p>
<ul>
    <li>Consulter les <a target="_blank" href="https://t42653954.p.clickup-attachments.com/accueil/vtt.html">actualités VDM</a> du club.</li>
    <li>Rejoindre la liste de diffusion des membres de la section en envoyant un mail (même vide) à .</li>
    <li>Rejoindre le groupe Whatsapp officiel en cliquant sur ce lien <a target="_blank"  href="http://shorturl.at/bfiS6">http://shorturl.at/bfiS6</a> à partir d'un téléphone</li>
    <li>Pour vous présenter, proposer une idée ou poser une question, vous pouvez écrire à .</li>
    <li>S'abonner aux messages du <a target="_blank"  href="https://t42653954.p.clickup-attachments.com/forum/viewforum.php?f=11">forum section VDM.</a></li>
    <li>Consulter la liste <a target="_blank" href="https://t42653954.p.clickup-attachments.com/responsables.html#vtt">des encadrants.</a></li>
</ul>

<h1 class="bleucaf">Matériel et équipement</h1>

<div class="info">
    <ul>
        <li>Un VTT (personnel ou de location) – ne pas découvrir un vélo de location sur une grosse sortie.</li>
        <li>Le port du casque est obligatoire</li>
        <li>Un nécessaire de réparation incluant 1 chambre à air adaptée à votre vélo</li>
        <li>Une patte de dérailleur</li>
        <li>Les gants, les lunettes et genouillères sont vivement conseillés</li>
        <li>Le cuissard (ou short-cuissard) est un plus important pour le confort, indispensable pour les longues sorties.</li>
        <li>Eau, vivres de course, pique-nique...</li>
    </ul>
</div>

<h2 class="bleucaf">Enseignes recommandées pour la location de VTT</h2>

<ul>
    <li>
        <a target="_blank" href="http://www.cyclesveran.fr/">CYCLES VERAN</a>
        111-112 Quai Pierre Scize, Lyon 5e (réduction 10% pour les cafistes LV, à préciser)<br/>
        (Contacter par email : magasin-vtt@cyclesveran.fr ou par téléphone 04 78 27 22 41 avant de venir en boutique.)
    </li>
    <li>
        <a target="_blank" href="http://lyon.generation-vtt.com/">GENERATION VTT</a>
        4 place de l’église, Saint Germain au Mont d'Or (livraison à domicile possible, ventes d'occasions)
    </li>
    <li>
        <a target="_blank" href="https://www.orcsportoutdoor.com/location">ORC SPORT OUTDOOR</a> 23 rue de la Maletiere 69670 VAUGNERAY
    </li>
    <li>
        DECATHLON solutions de location longues durées
    </li>
</ul>
<br>

<h2 class="bleucaf">Enseignes partenaires, recommandées pour l'achat ou l'entretien d'un VTT</h2>
<ul>
    <li>
        <a target="_blank" href="https://www.cycles-blain.com/">CYCLES BLAIN</a> 9 boutiques à :<br>
        Brignais, Craponne, Ecully, Oullins, Vienne, Vienne Sud - Marques principales : Specialized, Giant<br>
        <a target="_blank" href="https://www.giant-lyon-centre.fr/fr/">Giant Lyon Centre</a> Lyon 3 - Marques :Giant, Liv<br>
        <a target="_blank" href="https://cyclesmanudany.fr/">Manudany</a>Lyon 6 - Marque : Lapierre<br>
        <a target="_blank" href="https://www.cyclesveran.fr/">Cycle Veran</a>Lyon 5 - Marques : Lapierre, Trek, Santa Cruz<br>
        <a target="_blank" href="https://www.giant-lyon-saint-priest.fr/fr">Giant St Priest</a> - Marques : Giant, Liv<br>
        ∙ 10% de remise sur les vélos et 15% sur les accessoires, pièces et textile dans les 9 magasins du groupe</li>
    <li>
        <a target="_blank" href="https://cycleservice.fr/">CYCLE SERVICE</a> 97 rue Jaboulay, Lyon 7e.<br>
        Marques : Pivot, Focus...<br>
        Les plus : entretien des suspensions, montage de roues, formations...<br>
        ∙ 10% de remise toute l'année sur l'offre Service et Shop (hors soldes, promotions, vélos et commandes spéciales - pour les vélos, meilleure remise possible dans la limite de 10%) ainsi que sur l'offre formation<br>
        ∙ 20% de remise sur les maillots et gapettes Cycle Service
    </li>
    <li>
        <a target="_blank" href="https://www.alltricks.fr/">ALLTRICKS</a> 332, Avenue Général de Gaulle, Bron (Galerie Décathlon St Exupéry).<br>
        ∙ 5% de remise sur les articles vendus et expédiés par Alltricks<br>
        ∙ 10% de remise (non cumulable) sur les marques d'équipement et d'outillage vélo NEATT, de textile vélo LeBram, de draisiennes et vélos enfants SCAMP, et de vélo BICYKLET<br>
        ∙ 15% de remise (non cumulable) sur le rayon RUNNING : chaussures (Running, Trail Running, Athlétisme & Cross, Récupération), vêtements (à l’exception des sous-vêtements femmes), accessoires (sacs, ceintures, bidons, gourdes, poches à eau, lunettes - électronique exclu)<br>
        <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSeNbh6_BKePllICtiJejtgB7R5j2b8VGL72ZIuvu05mTSKDLg/viewform">Voir les détails pour accéder à l'offre</a>
    </li>
    <li>
        <a target="_blank" href="https://www.lepape.com/">LEPAPE</a> 9 Rue Grolée, Lyon 2e.<br>
        Marques : BMC, Trek, Cube<br>
        ∙ 20% de remise sur les chaussures et textiles (sauf marque assos) *<br>
        ∙ 5% de remise sur les accessoires (nouveautés montres....) *<br>
        * hors cartes cadeaux, soldes, promotions, opérations commerciales, librairie et non cumulables avec autres remises et achats de bons d’achats par le club
    </li>
</ul>
<br>

<h2 class="bleucaf">Autres enseignes intéressantes</h2>
<ul>
    <li>
        <a target="_blank" href="https://www.sodicycle.com/">SODICYCLE</a> 9, Avenue Victor Hugo, Tassin-la-Demi-Lune.<br>
        Marques : Specialized
    </li>
    <li>
        <a target="_blank" href="https://planetevelo-lyon.com/">PLANETE VELO</a> 12 Cours Aristide Briand, Caluire et Cuire.<br>
        Marques : KTM, Orbea
    </li>
    <li>
        <a target="_blank" href="https://www.culturevelo.com/-Lyon-Centre-">CULTURE VELO LYON CENTRE</a> 88 Quai Pierre Scize, Lyon 5e.<br>
        Marques : BMC, Orbea, Scott
    </li>
    <li>
        <a target="_blank" href="https://www.culturevelo.com/-Lyon-Nord-">CULTURE VELO LYON NORD</a> 29, Avenue du Général De Gaulle, Champagne au Mont d'Or.<br>
        Marques : Lapierre, Scott, Trek
    </li>
    <li>
        <a target="_blank" href="https://www.culturevelo.com/-Lyon-Est-">CULTURE VELO LYON EST</a> 35, Route d'Heyrieux, Mions.<br>
        Marques : Lapierre, Orbea, Scott
    </li>
    <li>
        <a target="_blank" href="https://www.velonaute.com/content/100-velonaute-pollionnay-loisirs-vtt-monts-du-lyonnais">VELONAUTE POLLIONNAY - LOISIRS VTT</a> Pollionnay.<br>
        Marques : Cannondale, Specialized, KTM, Haibike...
    </li>
    <li>
        <a target="_blank" href="http://hyperbike.cycles.free.fr/">HYPER BIKE</a> 14, Quai Illhaeusern, Collonges-au-Mont-D'Or.<br>
        Marques : Lapierre, Mondraker.
    </li>
    <li>
        <a target="_blank" href="https://www.epsilon-bikes.com/">EPSILON BIKE</a> 32, Avenue Salengro, Villeurbanne (Visite sur RDV).<br>
        Fabrication de vélos sur mesure
    </li>
    <li>
        <a target="_blank" href="https://www.facebook.com/people/Cycles-Pichon/100057514506499/">CYCLES PICHON</a> 124, Rue Bossuet, Lyon 6e.<br>
        Montage, entretien et restauration
    </li>
</ul>

<p>N’hésitez pas à nous demander conseil.</p>

<p>Au plaisir de pédaler ensemble !</p>







/***************************************************************/

<h2><span class="bleucaf">La cotation des sorties :</span></h2>

<p>
    Rejoindre la liste de diffusion des membres de la section en envoyant un mail (même vide) à <a class="mailthisanchor"></a><script type="text/javascript" class="mailthis">mailThis('pratiquants-vdm+subscribe', 'clubalpinlyon', 'fr', '', 'pratiquants-vdm+subscribe@clubalpinlyon.fr');</script>.
</p>
<p>
    Pour vous présenter, proposer une idée ou poser une question, vous pouvez écrire à <a class="mailthisanchor"></a><script type="text/javascript" class="mailthis">mailThis('vdm', 'clubalpinlyon', 'fr', '', 'vdm@clubalpinlyon.fr');</script>.
</p>
