<p><img class="imgFloatRight" style="margin-left: 10px; margin-right: 10px;" title="Raquette" src="ftp/images/RaquetteGroupe3W.jpg" alt="Raquette" width="301" height="223" />Comme la randonnée en montagne, <strong>la raquette</strong> nécessite une forme physique correcte.<br /><br /></p>
<h2 class="bleucaf">L'activité se classe en 4 catégories</h2>
<ul style="list-style-position: outside; margin-left: 20px;">
<li><strong>R1</strong> : <strong><em>Pentes faibles</em></strong><br />Course de 4 à 5 heures et denivelée possible jusqu'à 700m. <br />Exigences : aucune, convient pour les raquettes non techniques<br /><br /></li>
<li><strong>R 2</strong> : <strong><em>Pentes faibles à modérées</em></strong><br />Course mini 5 heures et &gt; 700 m de dénivelée<br />Exigences : avoir le pied assez sûr. Convient pour les raquettes non-techniques<br /><br /></li>
<li><strong>R 3</strong> : <strong><em>Pentes modérées à fortes (jusqu'à 30°)</em></strong><br />Courses de 6 heures +/-1000 m de dénivelée<br />Exigences : avoir le pied sûr. Itinéraires sur pentes exigeantes nécessitant de progresser en lacets ou de traverser des flancs raides. Certains passages peuvent nécessiter de progresser avec du matériel adapté à la neige dure.<br /><br /></li>
<li><strong>R 4</strong> :<em><strong> Pentes fortes &gt; 30°</strong></em><br />Courses de 6 heures et &gt; 1000 m de dénivelée<br />Exigences : avoir le pied sûr. Itinéraires sur pentes exigeantes nécessitant de progresser en lacets ou de traverser des flancs raides. Certains passages peuvent nécessiter de progresser avec des moyens adaptés (type crampons).</li>
</ul>
<p> <br /><br /></p>
<div class="info">
<h2 class="bleucaf">Matériel nécessaire pour la pratique :</h2>
<ul style="list-style-position: outside; margin-left: 20px;">
<li>Raquettes : Vérifiez les courroies et les fixations, les régler la veille de la sortie,</li>
<li>Bâtons : de ski ou de randonnée avec larges rondelles</li>
<li>Chaussures de randonnée ou d'alpinisme étanches et adaptées à la raquette et à la période hivernale.</li>
<li>Les guêtres peuvent être utiles.</li>
<li>Sac à dos</li>
<li>Vêtements adaptés à la montagne : veste type goretex, pantalon de montagne, polaire, gants, bonnet</li>
<li>Lunettes de soleil, crème solaire</li>
<li>Thermos conseillée, gourde sinon</li>
<li>Couverture de survie (utile aussi pour le pique-nique)</li>
</ul>
</div>
<div class="erreur">
<h2 class="bleucaf">Matériel de sécurité obligatoire pour participer aux sorties :</h2>
<ul style="list-style-position: outside; margin-left: 20px;">
<li>DVA (Détecteur de Victime d'Avalanche, ex-ARVA) obligatoirement numérique, avec piles neuves montées - faire essai de fonctionnement la veille.</li>
<li>Pelle</li>
<li>Sonde à neige</li>
</ul>
<p>Si vous ne possédez pas ce matériel, il vous incombe de vous le procurer, soit en le louant auprès d'un magasin, soit auprès du Club, sous réserve de disponibilité (bien vérifier les conditions d'emprunt ou de location avant la sortie).</p>
</div>
<p>N'hésitez pas à demander conseil auprès des encadrants du club pour un achat de matériel.</p>
<p> </p>
<h2 class="bleucaf"><img class="imgFloatRight" style="margin-left: 10px; margin-right: 10px;" title="Vercors Tête des Chaudières" src="ftp/images/2015-04-8-tete-chaudieres-excellentes-conditions.jpg" alt="Vercors Tête des Chaudières" width="302" height="171" />Agenda</h2>
<ul style="list-style-position: outside; margin-left: 20px;">
<li>Des sorties pourront s'ajouter au cours de la saison.</li>
<li>En fonction des conditions météo et des risques d'avalanche, les sorties pourront être modifiées ou annulées.<br /><br /></li>
</ul>
<p>Consultez <a href="/accueil/raquette.html">les actualités</a> et <a onclick="window.open('/responsables.html#raquette,'','scrollbars=yes,width=600,height=400,left='+(screen.availWidth/2)+',top=10');return false;" href="/responsables.html#raquette">les encadrants</a> pour cette activité.</p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
