<p><img class="imgFloatLeft" title="Skieur" src="/ftp/images/skieur.jpg" alt="Skieur" width="149" height="111" /></p>
<ol class="mini">
<li><a href="/pages/ski-de-fond.html">Présentation</a></li>
<li><a href="/pages/ski-de-fond-pratique.html">Détails pratiques</a></li>
<li><a href="/pages/ski-de-fond-technique.html">La technique</a></li>
<li><a href="/pages/ski-de-fond-biblio.html">Bibliographie</a></li>
<li><a href="/accueil/ski-de-fond.html">Les actualités</a></li>
<li><a onclick="window.open('/responsables.html#ski-de-fond','','scrollbars=yes,width=600,height=400,left='+(screen.availWidth/2)+',top=10');return false;" href="/responsables.html#ski-de-fond">Les encadrants</a></li>
</ol>
<p> </p>
<h1 class="bleucaf">Le pas de patineur ou skating<img class="imgFloatRight" title="Course poursuite" src="/ftp/images/course-poursuite2.jpg" alt="Pas de patineur" width="340" height="264" /></h1>
<h3 class="bleucaf">Définition</h3>
<p>En skating (ou pas de patineur), le skieur progresse sur la partie totalement plane de la piste, en glissant longuement d'un ski sur l'autre, se balançant à l'image d'un pratiquant de patins à glace ou de rollers. Cette technique a fait son apparition dans les années 80, et a révolutionné le ski de fond. En skating l'appui est glissé (donc en mouvement) et les propulsions sont latérales. Cela demande un bon équilibre qui se caractérise par la capacité à tenir de longues phases de glisses sur un ski (équilibre unipodal) et à maintenir cet équilibre en mouvement, pendant la glisse.</p>
<p> </p>
<h3 class="bleucaf">Les différents pas</h3>
<ul>
<li><strong>Pas de patineur 2 temps</strong></li>
</ul>
<p>A deux poussées de jambes correspond une poussée simultanée des bras sur les deux bâtons. La première poussée de jambes s'accompagne de la poussée des 2 bras. La deuxième poussée de jambe s'effectue seule et s'accompagne du retour des bras vers l'avant. Ce pas s'utilise dans les montées.</p>
<ul>
<li><strong>Pas de patineur 2 temps combiné</strong></li>
</ul>
<p>La définition du geste est la même que pour le pas de patineur 2 temps, seule la synchronisation bras/jambe diffère (léger décalage entre la poussée de bras et la poussée de jambe). Ce pas s'utilise au plat et en plat descendant.</p>
<ul>
<li><strong>Pas de patineur 1 temps</strong></li>
</ul>
<p>Chaque poussée de jambe est renforcée par une poussée simultanée des bras sur les bâtons. Ce pas s'utilise au plat, en plat montant et en début de montée.</p>
<ul>
<li><strong>Pas alterné</strong></li>
</ul>
<p>C'est le pas le plus lent, utilisé exclusivement en montée. Il ressemble au pas de montée en technique classique: un ski et le bras opposé sont utilisés en même temps. Ce pas permet de monter à une vitesse faible, en utilisant peu de force, et est donc particulièrement utilisés par les débutants. En compétition, il arrive que ce pas soit utilisé au plus haut niveau, dans des montées extrêmement raides.</p>
<ul>
<li><strong>Pas de patineur sans bâtons</strong></li>
</ul>
<p>Lorsque la vitesse devient trop élevée pour utiliser les bras, mais qu'une impulsion est néanmoins nécessaire, seul un mouvement de patinage des jambes est utilisé, de façon semblable au roller. Ce pas est principalement utilisé lorsque la piste s'aplatit en fin de descente</p>
<ul>
<li><strong>Demi pas de patineur</strong></li>
</ul>
<p>Le demi pas de patineur consiste en une poussée simultanée des bras sur les deux bâtons renforcée par l'impulsion d'une jambe ski divergent. Le ski de glisse restant parallèle à la trace.</p>
<h1 class="bleucaf">Le style classique ou alternatif</h1>
<ul>
<li><strong>Le pas alternatif</strong></li>
</ul>
<p>1 - Descriptif du geste : Action alternée des jambes et des bras au cours de plusieurs foulées successives.</p>
<p>2 - Deux phases essentielles dans ce mouvement :</p>
<ul>
<li> L'impulsion, pendant laquelle la jambe de poussée préalablement fléchie se détend ainsi que le bras opposé.</li>
<li>La phase de glisse pendant laquelle le skieur profite de l'énergie cinétique pendant que les bras ont un mouvement de pendule le long du corps.</li>
</ul>
<p>3 - Elément clé : seul le transfert du poids du corps d'un ski sur l'autre permet la réalisation juste du geste.</p>
<p>4 - Quelques conseils:</p>
<p>Utiliser un matériel adapté avec un bon système anti-recul<br />Choisir des terrains faciles et des traces bien aménagées pour faciliter le guidage des skis.<br /><br /></p>
<ul>
<li><strong>La poussée simultanée</strong></li>
</ul>
<p>1 - Descriptif du geste : Geste dans lequel la propulsion n'est assurée que par les deux bras qui travaillent simultanément. Cette technique est utilisée sur des terrains plat, plat –descendant où la vitesse du skieur est suffisante pour que celle-ci soit maintenue uniquement par ce geste.</p>
<p>2 - Deux phases essentielles :</p>
<ul>
<li>La poussée : où les deux bras agissent sur les bâtons et propulsent le skieur. La poussée s'accompagne d'une légère flexion des jambes et surtout du buste.</li>
<li>La phase de glisse pendant laquelle le buste se relève progressivement et les bras se relâchent et reviennent vers l'avant.</li>
</ul>
<p>3 - Eléments Clés :</p>
<ul>
<li>Pendant la poussée, le bassin se recule, le buste s'abaisse et les talons appuient sur les skis</li>
<li>Les bras accélèrent leur action pour finir par un fouetté au cours duquel les bâtons se dégagent seuls de la neige.</li>
</ul>
<p>4 - Quelques conseils:</p>
<ul>
<li>Choisir un terrain plat descendant comportant de bonnes traces<br />Effectuer le planté des bâtons, bras fléchis ; accélérer la poussée lorsque les mains arrivent aux hanches et relâcher complètement le bâton en fin de poussée.</li>
<li>Fléchir le buste vers l'avant</li>
<li>Fléchir légèrement les genoux</li>
<li>Enchaîner les gestes pour conserver la vitesse<br /><br /></li>
</ul>
<ul>
<li><strong>Le pas de un</strong></li>
</ul>
<p>1 – Descriptif du geste : le pas de un est la combinaison d'un pas alternatif sans bâtons avec une poussée simultanée des deux bras. Ce pas s'utilise lorsque la vitesse est trop rapide pour maintenir un pas alternatif mais insuffisante pour employer une poussée simultanée seule.</p>
<p> 2 - Une phase essentielle :</p>
<ul>
<li>L'impulsion : elle est déclenchée par la poussée d'une jambe à laquelle s'ajoute la poussée des bras. Ces deux temps se combinent.</li>
</ul>
<p> 3 - Eléments Clés :</p>
<ul>
<li>acquérir la notion de transfert du poids du corps et d'appui</li>
<li>impulsion (à travailler sans bâton).</li>
<li>savoir dissocier l'action alternée des jambes et celle simultanée des bras.</li>
</ul>
<p>4 - Quelques conseils:</p>
<ul>
<li>S'exercer à faire 2 ou 3 pas d'alternatif en amenant les bras ensemble vers l'avant</li>
<li>Avant que la jambe arrière ne revienne, fléchir le buste en avant et exercer l'action de poussée des bras</li>
</ul>
<p> </p>
<ul>
<li><strong>Le pas tournant</strong></li>
</ul>
<p>1 - Descriptif du geste : le pas tournant est un déplacement angulaire et successif des skis pour changer de direction. Il permet de tourner, de changer de traces, d'éviter un obstacle...</p>
<p>2 - Deux phases essentielles :</p>
<ul>
<li>la poussée de la jambe extérieure à la courbe, pendant que le ski intérieur est dirigé vers la direction souhaitée.</li>
<li>pendant la phase de glisse sur le ski orientée dans la nouvelle direction, la jambe de poussée est ramenée sous le corps et successivement.</li>
</ul>
<p>3 - Eléments Clés :</p>
<ul>
<li>Dans la phase d'engagement dans la trace divergente, le poids du corps doit être sur la jambe extérieure, fléchie.</li>
<li>Effectuer une impulsion complète de cette jambe en direction de l'autre trace.</li>
<li>Opérer un transfert complet du poids du corps sur la jambe de glisse</li>
</ul>
<p>4 - Quelques conseils :</p>
<ul>
<li>En faible descente, s'exercer à sortir des traces puis revenir dans les traces</li>
<li>Dans les pentes présentant un dévers, descendre en biais et s'arrêter vers l'amont en petits pas tournants<br /><br /></li>
</ul>
<ul>
<li><strong>Le pas alternatif en montée</strong></li>
</ul>
<p>1 – Descriptif du geste : à utiliser lorsque l'adhérence ski neige est bonne sur de faible pente. C'est une adaptation du pas alternatif au plat avec une accélération du rythme.</p>
<p>2 – Une phase essentielle : Les articulations sont plus fléchies et l'amplitude du geste se réduit.</p>
<p>3 - Quelques conseils:</p>
<ul>
<li>Faire des essais d'adhérence sur faible pente pour débuter</li>
<li>Sentir l'appui au niveau de la plante du pied</li>
</ul>
<p> </p>
<ul>
<li><strong>La montée en ciseaux</strong></li>
</ul>
<p>1 - Descriptif du geste : geste utilisé lorsque la pente est trop raide pour que les skis puissent rester parallèles avec une adhérence suffisante. Il consiste à positionner ses skis de manière divergente de chaque côté de la ligne de pente.</p>
<p>2 - Deux phases essentielles :</p>
<ul>
<li>l'adhérence est réalisée par les carres internes du ski</li>
<li>les skis forment un angle ouvert vers l'avant et le travail des bras s'effectue en arrière.</li>
</ul>
<p> </p>
<ul>
<li> <strong>La montée en escalier</strong></li>
</ul>
<p>1 - Descriptif du geste : les skis sont déplacés parallèlement et perpendiculairement par rapport à la ligne de plus grande pente. Pas qui s'utilise lorsque la pente est trop forte pour que le skieur puisse monter en ciseaux.</p>
<p>2 - Phase essentielle : l'appui est procuré par les carres amont des skis.<br /><br /></p>
<ul>
<li><strong>Le freinage chasse neige</strong></li>
</ul>
<p>1 - Descriptif du geste : Donné par la divergence des talons et la convergence des pointes de ski. Le freinage s'obtient par le dérapage des skis avec la prise de carres intérieures.</p>
<p>2 - Eléments clés :</p>
<ul>
<li>la convergence des pointes de skis est réalisée par une poussée latérale des talons accompagnée d'un léger pivotement des pieds vers l'intérieur</li>
<li>la flexion des genoux (et chevilles) est essentielle pour être équilibré et éviter la chute.</li>
<li>Le degré de freinage (par la prise de carres intérieures) se dose à la poussée latérale plus ou moins forte exercée par les talons</li>
</ul>
<p> </p>
