<p><strong>Petit historique</strong><br />La création de la marche nordique date des années 1920.Durant la décennie suivante, elle est principalement utilisée en Finlande. Les skieurs de fond finlandais s’en servent en tant que mode d’entraînement hors saison lorsqu’il n’y a pas de neige.<br />Début des années 2000 la marche nordique se développe en France et en Europe<br />La marche nordique est un sport de plein air et elle se pratique à l’aide de bâtons conçus spécialement pour ce sport. <br />En marche nordique, les bâtons permettent de se projeter plus rapidement vers l’avant et sollicitent l’ensemble de vos muscles. A la différence de la randonnée, les bâtons ne sont pas posés verticalement en avant du corps mais sont orientés pointes vers l’arrière, comme en ski de fond. <br />Grâce aux bâtons, le déplacement est rapide et l’attitude du marcheur nordique est athlétique. Les bâtons permettent d’assurer la propulsion vers l’arrière et le retour de la poignée dans la paume lors du mouvement de bras vers l’avant.<br /><br /><strong>Comprendre le geste de la Marche Nordique en 4 étapes :</strong></p>
<ol>
<li>Tenez vos bâtons et marchez normalement en avançant alternativement bras et jambes opposés.</li>
<li>Plantez le bâton à l’avant au milieu de votre foulée, bras tendu, comme sur le schéma ci-dessus.</li>
<li>Dès qu’il est planté, faites une longue poussée sur le bâton. Votre bras doit aller assez loin derrière. La pression se fait avec la paume de la main ouverte sur le gantelet.</li>
<li>En ramenant le bras vers l’avant, resserrez votre main sur la poignée pour planter à nouveau le bâton.</li>
</ol>
<p><img src="ftp/images/marche_nordique_1.png" alt="Posture marche nordique" width="600" height="378" /></p>
<p><br /><br /><strong>Bienfaits de la marche nordique :</strong></p>
<ul>
<li>Elle tonifie tout le corps</li>
<li>L’utilisation des bâtons favorise le développement musculaire des parties supérieures du corps, une spécificité que l’on ne retrouve pas en marche traditionnelle ou en course à pied : Les abdominaux, les bras, les pectoraux, les épaules et le cou se trouvent sollicités au même titre que les fessiers, les cuisses et les mollets.</li>
<li>C’est donc une activité très complète qui sollicite 80% des chaînes musculaires et permet de sculpter harmonieusement l’ensemble du corps.
<p><img src="ftp/images/marche_nordique_2.png" alt="Tonus musculaire" width="250" height="250" /></p>
</li>
<li>Elle permet de mieux respirer grâce à une position du corps qui favorise l’amplitude pulmonaire et l’oxygénation</li>
<li>Elle fortifie les os</li>
<li>Elle assure une dépense énergétique équivalente à un petit footing.</li>
<li>Elle peut se pratiquer à toutes les saisons</li>
</ul>
<p> </p>
<p><img src="ftp/images/marche_nordique_3.png" alt="Bâtons" width="298" height="234" /><br /><br /><strong>Matériel nécessaire</strong></p>
<ul>
<li>Des chaussures tige basse avec semelles souples mais avec une bonne semelle accrocheuse et un bon amorti (pas de chaussures de randonnée)</li>
<li>Des bâtons de marche nordique équipés d’une dragonne et d’un gantelet amovible.</li>
<li>Des vêtements adaptés pour le sport (collant long ou court, tee-shirt respirant..)</li>
<li>Un petit sac à dos avec boisson et barres</li>
</ul>
<p><br /><strong>Comment choisir la bonne hauteur du bâton :</strong><br /><img src="ftp/images/marche_nordique_4.png" alt="Choisir bâtons" width="367" height="208" /><br />Le bras tenant le bâton posé au col, le coude doit former un angle droit (90°)<br /><br /><br /><strong>Quelle qualité choisir :</strong></p>
<ul>
<li>Si vous êtes marcheur occasionnel : composition carbone &gt; 50 %</li>
<li>Si vous êtes marcheur régulier : composition carbone mini 80 % voire 100 %</li>
</ul>
<p><br /><br /><strong>Programmation</strong><br /><br />Se reporter au site internet mais des séances d’initiation seront proposées ainsi que des sorties régulières après 18 heures en semaine ou le week-end. Séances d’échauffement en début et fin de séance.</p>
<p><br /><strong>Manifestations marche nordique région AURA :</strong></p>
<ul>
<li>Nordic Walk in Lyon chaque année depuis 2016</li>
<li>Euro Nordic walk in Vercors chaque année en Juin</li>
</ul>
<p> </p>
