<h2 class="bleucaf">Présentation</h2>
<p>La decente en canyons est une activité ludique, rafraichissante, enrichissante et qui permet d'évoluer dans de beaux paysages alliant montagne et eau.</p>
<p><img class="imgFloatRight" title="Canyon Gavarnie" src="ftp/images/canyongavarnie.jpg" alt="Canyon Gavarnie" width="290" height="216" />Il faut savoir nager et avoir de l'endurance. Une sortie avec marches d’approche (et retour), sauts, nages, rappels, désescalades, marches (le tout dans de l’eau froide) peut durer de 2 à 4 heures et exige une certaine dépense d’énergie.</p>
<p> </p>
<h2 class="bleucaf">Agenda</h2>
<ul style="list-style-position: outside; margin-left: 20px;">
<li>La programmation est mise à jour au cours de la saison</li>
<li>Le sorties peuvent être modifiées en fonction de la météo où du niveau des participants</li>
</ul>
<p> </p>
<p>Consultez <a href="/accueil/canyon.html">les actualités</a> et <a onclick="window.open('/responsables.html#canyon','','scrollbars=yes,width=600,height=400,left='+(screen.availWidth/2)+',top=10');return false;" href="/responsables.html#canyon">les encadrants</a> pour cette activité.</p>
<p> </p>
<div class="info">
<h2 class="bleucaf">Matériel nécessaire</h2>
<ul style="list-style-position: outside; margin-left: 20px;">
<li>Maillot de bain, serviette, boissons et repas pour la journée.</li>
<li>Combinaison de plongée complète. Pouvoir marcher avec la combinaison facilement. Location possible :</li>
<ul>
<li>Chez <a href="http://www.expe.fr/magasin-expe-lyon-pg16.html" target="_blank">EXPE</a>, 102 rue Boileau à Lyon (6ème) et</li>
<li>Chez <a href="http://www.location-sport-aventure.com" target="_blank">RANDOVIVE</a> (ou SPORT AVENTURE)  à Meyzieu <br />(remise 10 % membres du CAF - à confirmer cette année)</li>
</ul>
<li>Chaussures ou baskets de randonnée avec semelles correctes non lisses ou chaussures de canyon</li>
<li>Chaussons néoprène 3 mm à acheter :<strong> conseillé fortement car l'eau est toujours froide</strong>. <br />Vérifier que le chausson rentre dans la chaussure</li>
<li>Casque d’escalade (prêt CAF possible à demander lors de l'inscription)</li>
<li>Baudrier avec 2 longes de 1,30 m et 1 mousqueton à vis de grande ouverture (prêt CAF possible à demander lors de l'inscription)</li>
<li>Descendeur en HUIT</li>
<li>Maillot à mettre sous la combinaison, conseillé pour les frileux (style top ou lycra thermique à trouver dans les rayons sports aquatiques)</li>
<li>Sac de canyon (prêt CAF possible mais très faible nombre)</li>
<li>Corde de canyoning prêtée par le CAF</li>
<li>Bidon étanche (prêt CAF possible – 1 bidon pour 2)</li>
<li>Couverture de survie (conseillée)</li>
<li>NB : pour les porteurs de lunettes, port de lentilles de contact conseillé<br /><br /></li>
</ul>
</div>
<p> </p>
