<h1>Que faire si vous n'arrivez pas à vous connecter sur le site ?</h1>
<h1 class="bleucaf">1) Avez-vous activé votre compte ?</h1>
<p>Pour pouvoir utiliser ce site, il y a 2 pré-requis :</p>
<ol>
<li>être adhérent du CAF Lyon-Villeurbanne (numéro de licence commençant par 6900...)</li>
<li>avoir activé son compte sur le site :</li>
</ol>
<h1 class="bleucaf">2) Vérifier vos identifiants et mots de passe</h1>
<p> </p>
<h1 class="bleucaf">3) Videz le cache de votre navigateur</h1>
<p> </p>
<p>4) Ça ne fonctionne toujours pas ? demandez de l'aide</p>
