<p>Malheureusement, le club n'a pas actuellement de volontaire pour s'occuper du ski de piste.</p>
<p>Si vous êtes intéressé pour animer cette activité, n'hésitez pas à contacter le Président, pour en discuter avec lui.</p>
<!--
<p>Le club organise des sorties régulières de ski de piste.  Il vous est proposé des sorties encadrées en petit groupe de 6 à 8 personnes, de façon régulière, tous les week-ends de décembre à mi-mai.</p>
<ul style="list-style-position: outside; margin-left: 20px;">
<li>Les inscriptions se font au plus tard l’avant-dernier jeudi qui précède la sortie</li>
<li>Les sorties se font avec les cars Skimania</li>
<li>Les sorties ont lieu le samedi ou dimanche suivant la disponibilité des encadrants et du <a href="http://www.skimania.com" target="_blank">programme Skimania</a></li>
<li>Les sorties s'adressent à des participants maîtrisant déjà le ski alpin (pas d'apprentissage)</li>
<li>Les participants doivent avoir leur matériel de ski, individuel ou loué à Lyon, pour ne pas perdre de temps le matin à l'arrivée en station</li>
<li>Le port du casque n'est pas obligatoire, mais néanmoins conseillé</li>
<li>Les surfeurs sont acceptés</li>
<li>Le coût incluant inscription, transport et forfait va de 40 à 55€ en fonction des destinations et des dates, à règler au Club Alpin</li>
</ul>
<p>Renseignements le jeudi soir, auprès de l'encadrant, lors des inscriptions au club.</p>
<p>Renseignements complémentaires : Marcel Barlet</p>
<p> </p>
<p class="erreur"> Consultez <a href="/accueil/ski-de-piste.html">les actualités</a> et <a onclick="window.open('/responsables.html#ski-de-piste','','scrollbars=yes,width=600,height=400,left='+(screen.availWidth/2)+',top=10');return false;" href="/responsables.html#ski-de-piste">les encadrants</a> pour cette activité.</p>
-->
<p><br />NB : le ski hors-piste, qui peut avoir lieu au départ des stations, est repris dans <a href="/agenda/ski-de-randonnee.html">l'agenda du ski de randonnée </a>et répond aux conditions de sécurité de cette activitée.</p>
<p> </p>
