<h1 class="bleucaf">Avantages de l'adhésion</h1>
<ul style="list-style-position: outside; margin-left: 20px;">
<li>Les activités du Club sont réservées à ses membres et donc la carte permet d'accéder à toutes ses activités (sous réserve des places disponibles et du niveau du participant).</li>
<li>Cela inclut l'accès aux différentes formations et événements organisés par le Club ou la FFCAM</li>
<li>La carte donne droit à des réductions sur les nuitées des refuges et centres de montagne CAF (hors prestations de confort): 50% pour les plus de 24 ans et 75% pour les jeunes de 8 à 25 ans (gratuit pour les moins de 8 ans en famille) .</li>
<li>Les réductions sont également valables à l'étranger dans les hébergements gérés par les autres membres de l'<a href="http://www.theuiaa.org/" target="_blank">UIAA</a> (Union Internationale des Associations d'Alpinisme) dont font partie tous les club alpins européens.</li>
<li>Une très bonne assurance pour vos activités sportives, même en dehors du Club, dans l'Europe entière, y compris la Suisse.</li>
<li>Réductions dans certains magasins de sport sur présentation de la carte ou par des bons d'achats à prix réduits via des achats groupés organisés par le Club.</li>
<li>Entrées aux salles d'escalades ClimbUp (<a href="https://lyon-gerland.climb-up.fr/" target="_blank">Mur de Lyon</a>, Azium, M'Roc, etc...) à prix réduit, à acheter au Club. </li>
<li>Accès à la bibliothèque du Club : plus de 3000 ouvrages sur la montagne</li>
<li>Convivialité, bonne humeur, oxygène et remise en forme !</li>
<li>...</li>
</ul>
<p> </p>
<h1 class="bleucaf">Et si je suis d&eacute;j&agrave; adh&eacute;rent d'un autre club de montagne ?</h1>
<p>Si vous &ecirc;tes adh&eacute;rent d'un autre club affili&eacute; &agrave; la FFCAM,&nbsp;<strong>vous pouvez prendre une double adh&eacute;sion au CAF de Lyon-Villeurbanne&nbsp;</strong>pour participer &agrave; nos activit&eacute;s.</p>
<p>L'avantage est que vous n'aurez qu'&agrave;&nbsp;<u>r&eacute;gler la part club de la cotisation</u>.</p>
<p>Renseignez-vous aupr&egrave;s de l&rsquo;accueil&nbsp;:&nbsp;<a href="mailto:secretariat@clubalpinlyon.fr" target="_blank">secretariat@clubalpinlyon.fr</a>&nbsp;pour conna&icirc;tre le co&ucirc;t, compl&eacute;tez le document joint et payez ensuite en ligne via le lien hello asso suivant&nbsp;:</p>
<p><a href="https://www.helloasso.com/associations/club-alpin-francais-de-lyon-villeurbanne/evenements/double-adhesion?utm_source=user&amp;utm_medium=email-transac&amp;utm_campaign=FORM_ADMIN_ADD_EXISTING_USER" target="_blank">Double adh&eacute;sion - Club Alpin Francais de Lyon-Villeurbanne (helloasso.com)</a></p>
<p>Vous avez bien s&ucirc;r la possibilit&eacute; de passer au Club pour la prendre et le r&egrave;glement se fera sur place.</p>
<p>Pour r&eacute;cup&eacute;rer votre carte vous devez passer au club soit le mardi (14h-18h) ou le jeudi apr&egrave;s-midi (15h-20h)&nbsp;;</p>
<p><br /> Cette disposition ne concerne pas les membres de clubs affili&eacute;s &agrave; d'autres f&eacute;d&eacute;rations, comme la FFME (car f&eacute;d&eacute;ration et assurance diff&eacute;rentes). Vous devez alors prendre une adh&eacute;sion compl&egrave;te au CAF de Lyon-Villeurbanne.</p>
<p> </p>
<h2 class="bleucaf">Inscription des nouveaux adhérents :</h2>
<ul style="list-style-position: outside; margin-left: 20px;">
<li>Directement auprès de la Fédération avec paiement par carte bancaire sécurisé : <a title="Adhésion en ligne" href="https://extranet-clubalpin.com/app/webeff/we_crv2_step01.php?IDCLUB=6900&amp;Hchk=sRuIiVPWLBeMBeai0FB7If0jVPltnJ" target="_blank">Adhésion en ligne</a></li>
<li>Au club pendant les heures d'ouverture par :
<ul style="list-style-position: outside; margin-left: 30px;">
<li>Carte bancaire</li>
<li>Chèque bancaire à l'ordre du Club Alpin Français de Lyon.</li>
<li> Pass'Sport de 50€.</li>
<li>Carte PASS'Région, pour les jeunes de la région Rhône-Alpes, jusqu'au 31 mai, dans la limite de 30 Euros.</li>
<li>Chèques vacances et Coupons sports.</li>
</ul>
</li>
</ul>

<h2 class="bleucaf"><a name="renouveler_inscription"></a>Renouvellement de l'adhésion</h2>
<p>Le renouvellement d'adhésion peut se faire seulement d'une année sur l'autre.<br /> 
Courant septembre la FFCAM envoie aux adhérents de l'année précédente un courrier contenant le numéro de licence et un code internet.<br /> 
Ce code change tous les ans.<br /> Attendez de l'avoir reçu pour procéder au renouvellement : <a title="Renouvellement" href="https://extranet-clubalpin.com/monespace/" target="_blank">Renouvellement en ligne</a><br /><br /> <em>NB : Il est important pour les anciens adhérents de procéder à un renouvellement et non à une nouvelle adhésion, car une nouvelle adhésion entraîne l'attribution d'un nouveau numéro d'adhérent qui bloquera votre compte sur le site du club, nécessitant une opération manuelle fastidieuse pour le transfert de compte.</em></p>
<p>En parallèle, pour les renouvellements annuels, vous devrez remplir un auto-questionnaire de santé qui vous permettra d'apprécier si un nouveau certificat médical est nécessaire.<br />Le certificat médical doit être renouvelé tous les 10 ans par les pratiquants âgés de moins de 50 ans, 5 ans entre 50 et 65 ans et 3 ans au-delà.<br />Il doit être renouvelé tous les 3 ans par les adhérents pratiquant la compétition.<br /><br />Pour consulter le questionnaire de santé "QS Sport" : <a title="QS Sport" href="https://www.service-public.fr/particuliers/vosdroits/R47821" target="_blank">cliquer ici</a></p>
<p> </p>

<h2 class="bleucaf">Retrait de la carte</h2>
<p class="erreur">Pour tous,<strong> la carte d'adhérent est disponible au club</strong> quelques jours plus tard où vous pourrez venir la retirer ou nous envoyer une enveloppe timbrée portant votre adresse pour un envoi par courrier.</p>
<h1 class="bleucaf">Tarifs des cotisations</h1>
<p><a href="/ftp/telechargements/tarif-adhesion-2022-2023.pdf" target="_blank">Afficher les tarifs 2022-2023</a></p>
<p> </p>
<p>L'adhésion comprends les éléments suivant :</p>
<ul style="list-style-position: outside; margin-left: 30px;">
<li>La part fédérale, comprenant le financement des actions de la Fédération, des refuges d'un montant identique quelque soit le club d'appartenance, mais variable suivant la catégorie.</li>
<li>La part locale, fixée par le comité directeur du club, variable suivant la catégorie.</li>
<li>L'assurance responsabilité civile obligatoire France Europe (RC)</li>
<li>L'assurance de personne facultative (AP)</li>
<li>La Revue Alpine (RA Revue du CAF de Lyon) incluse avec supplément de 5€ pour les abonnés résidant hors de France.</li>
<li>La revue nationale du CAF "La Montagne et Alpinisme" facultative</li>
</ul>
<p>Le montant des adhésions représente la quasi-totalité des ressources du club et de la Fédération.</p>

<h1 class="bleucaf">L'assurance</h1>
<p>Depuis 2010,<a href="http://www.ffcam.fr/assurance.html"> les garanties d'assurance proposées aux adhérents de la FFCAM</a> ont été améliorées à l'occasion de la conclusion du contrat avec notre nouvel assureur. Ainsi, les sports aériens (parapente, aile delta, deltaplane mono- ou biplace) sont assurés en responsabilité civile au même titre que les autres activités,  à l'exception du paralpinisme pour lequel il y a une extension particulière.</p>
<p>Les garanties sont valables dans l'Union Européenne, l'Islande, la Norvège (sauf le Spitzberg), la Suisse, le Maroc.</p>
<p>La prise de l'assurance personnelle est vivement recommandée. En particulier, les frais de recherche et de secours en montagne sont couverts. Rappelons que depuis 2002, les communes françaises peuvent en exiger le remboursement. A l'étranger, cette pratique est universelle.</p>
<p>Les garanties peuvent être renforcées. Une extension au monde entier est aussi proposée.<strong> </strong></p>
<p style="text-align: center;"><a title="Extension d'assurance" href="https://extranet-clubalpin.com/monespace/" target="_blank">&gt; Souscrire une extension d'assurance</a></p>
<p>Les garanties de  l'assurance attachées à l'adhésion à la FFCAM prennent effet dès le versement de la cotisation. Le renouvellement de cette adhésion pourra se faire dès réception de l'appel de cotisation en début d'exercice.</p>
<p>L'adhésion prend effet dès le versement de la cotisation et cesse le 30 septembre à minuit. La couverture d'assurance reste acquise jusqu'au 31 octobre à minuit.<br /><br /></p>

<h2 class="bleucaf">En cas de sinistre</h2>
<p>En cas de sinistre, la déclaration doit être faite dans les 5 jours auprès de l'assurance :</p>
<ul style="list-style-position: outside; margin-left: 30px;">
<li>Directement : <a href="https://www.grassavoye-montagne.com/?dashboard=claimDeclaration" target="_blank">en ligne auprès de l'assureur</a></li>
<li>A l'aide d'un imprimé spécifique disponible ici : <a href="http://www.ffcam.fr/tzr/scripts/downloader2.php?filename=T004/fichier/80/66/4zoc9mlh43x8&amp;mime=application/pdf&amp;originalname=GS_FFCAM_declaration_internet_fr_14_15_v1.pdf" target="_blank">Déclaration d'accident au format PDF</a>.<br />(Il est possible également d'obtenir cet imprimé au club)</li>
<li>Pour contacter l'assureur :</li>
</ul>
<p style="text-align: center;"><strong>GRAS SAVOYE MONTAGNE</strong><br />SERVICE FFCAM<br />3B RUE DE L'OCTANT <br />BP 279 <br />38433 ECHIROLLES CEDEX<br />Ligne dédiée :<strong> 0810 104 079</strong></p>
<p><a id="carte_decouverte"></a> </p>
<p> </p>

<h1 class="bleucaf">La "carte découverte" ou la sortie "à l'essai" pour les non-adhérents</h1>
<p>La&nbsp;<strong>carte d&eacute;couverte</strong>&nbsp;de la FFCAM est destin&eacute;e &agrave; des personnes souhaitant participer &agrave; titre d&rsquo;essai &agrave; une activit&eacute; de d&eacute;couverte ou d&rsquo;initiation organis&eacute;e et encadr&eacute;e par le Club.</p>
<p>Le nombre de sorties est limit&eacute; &agrave; 3 (24 h chacune&nbsp;:&nbsp;1 sortie de 3 j cons&eacute;cutifs / ou 1 sortie de 2 j cons&eacute;cutifs et 1 sortie d'1 j). Cette carte fait office d&rsquo;assurance temporaire.</p>
<p>&nbsp;Le montant de l&rsquo;assurance temporaire s&rsquo;&eacute;l&egrave;ve &agrave; 8 &euro; par jour.</p>
<p>&nbsp;<strong>La proc&eacute;dure est la suivante&nbsp;:</strong></p>
<ol start="1">
<li><u>Prendre contact au pr&eacute;alable avec l&rsquo;accueil &agrave; l&rsquo;adresse mail suivante&nbsp;:&nbsp;</u><a href="mailto:secretariat@clubalpinlyon.fr" target="_blank">secretariat@clubalpinlyon.fr</a>&nbsp;qui transmet&nbsp;<u>&agrave; l&rsquo;encadrant</u>&nbsp;de la sortie concern&eacute;e&nbsp;la demande.</li>
<li>Si l&rsquo;encadrant donne son accord</li>
<li>Le demandeur une fois l&rsquo;accord re&ccedil;u peut&nbsp;:
<ol type="a" style="padding: 5px 20px;">
<li>Soit passer au club pour &eacute;tablir la carte d&eacute;couverte et r&eacute;gler le montant de celle-ci sur place</li>
<li>Soit <a href="https://forms.gle/R5MiKsLsHeLmrqhP7" target="_blank">remplir le formulaire suivant</a>&nbsp;et&nbsp;<u>payer en ligne via le lien Hello asso&nbsp;:</u></li>
</ol>
</li>
</ol>
<p><a href="https://www.helloasso.com/associations/club-alpin-francais-de-lyon-villeurbanne/evenements/carte-decouverte" target="_blank">Carte d&eacute;couverte - Club Alpin Francais de Lyon-Villeurbanne (helloasso.com)</a></p>
<p>4. A r&eacute;ception du paiement, la carte d&eacute;couverte est envoy&eacute;e au demandeur et &agrave; l&rsquo;encadrant qui l&rsquo;inscrit sur la sortie</p>
<p> </p>

