<p><a id="top"></a><img class="imgFloatLeft" title="Via ferrata" src="/ftp/images/Viaferrata2.jpg" alt="Via ferrata" width="206" height="128" /></p>
<ol class="mini">
<li><a href="/pages/via-ferrata.html#presentation">Présentation de l'activité</a></li>
<li><a href="/pages/via-ferrata.html#materiel">L'équipement du via-ferratiste</a></li>
<li><a href="/pages/via-ferrata.html#securite">La sécurité</a></li>
<li><a href="/pages/via-ferrata.html#cotation">Cotation des via ferrata</a></li>
<li><a onclick="window.open('/responsables.html#via-ferrata','','scrollbars=yes,width=600,height=400,left='+(screen.availWidth/2)+',top=10');return false;" href="/responsables.html#via-ferrata">Les encadrants via ferrata</a></li>
<li><a href="/accueil/via-ferrata.html">Les actualités via ferrata</a></li>
</ol>
<p> </p>
<p> </p>
<h1 class="bleucaf"><a id="presentation"></a>Présentation de l'activité</h1>
<p>D'avril à octobre, le club vous propose de découvrir les nombreuses via ferrata de France mais aussi d'Italie et de Suisse.</p>
<p>Les vie ferrate sont des équipements permettant la progression dans un <strong>univers vertical et gazeux </strong>réservé habituellement aux grimpeurs, ne nécessitant pas un bagage technique important, mais demandant néanmoins une <strong>bonne condition physique</strong> et le <strong>strict respect des règles de sécurité</strong>.</p>
<p>Les vie ferrate permettent aux randonneurs :</p>
<ul style="list-style-position: outside; margin-left: 20px;">
<li>de se confronter au monde vertical,</li>
<li>de découvrir de nouvelles sensations et des points de vue magnifiques,</li>
<li>et en règle générale, de "s'habituer au vide", ce qui n'est pas négligeable si l'on souhaite pratiquer l'escalade ou la haute montagne.<br /><br /></li>
</ul>
<h3 class="bleucaf">Initiation</h3>
<p>Le club vous propose des sorties initiation destinées à toute personne qui désire découvrir cette activité et possède un minimum de condition physique, suivi d'un ensemble de sorties de niveau progressif.<br /> L'objectif est d'acquérir l'autonomie, c'est-à-dire :</p>
<ul style="list-style-position: outside; margin-left: 20px;">
<li>Les connaissances techniques de base indispensables pour progresser en toute sécurité, et s'orienter vers une progression plus économe en efforts et dans des vie ferrate plus techniques et physiques (dévers) avec passage d'agrès : pont de singe ou pont népalais entre autres.</li>
<li>La connaissance de son propre niveau de pratique par rapport à la cotation officielle.</li>
</ul>
<p> </p>
<p class="erreur">Consultez <a href="/accueil/via-ferrata.html">les actualités</a> pour cette activité.</p>
<p> </p>
<div><a href="/pages/via-ferrata.html#top"><img class="imgFloatRight" style="float: right;" title="Haut" src="/ftp/images/logomini.png" alt="Haut" width="25" height="19" /></a></div>
<hr />
<h1 class="bleucaf"><a id="materiel"></a>L'équipement du via-ferratiste</h1>
<div class="erreur">
<p>Equipement de sécurité obligatoire</p>
<ul style="list-style-position: outside; margin-left: 20px;">
<li>Un casque : indispensable pour se protéger des pierres et des équipements en cas de chute. Les barreaux ne sont pas tendres avec nos têtes. Prenez la peine, lui aussi, de bien l'ajuster.</li>
<li>Un baudrier : veiller à bien le positionner à la taille, et à bien l'ajuster notamment pour les enfants.</li>
<li>Une longe double dynamique en Y, avec absorbeur d'énergie, reliées au harnais par une sangle cousue et à l'absorbeur par 2 noeuds en tête d'alouette ou par un maillon rapide en acier. <a href="/pages/via-ferrata.html#longes">Voir ci-dessous</a></li>
<li>2 mousquetons automatiques type K (klettersteig) - pas de mousqueton à vis</li>
<li>Une petite vache ou une dégaine qui va permettre dans les passages difficiles, d'effectuer les passages d'ancrage plus aisément, en se vachant sur un barreau, et en ayant ainsi les 2 mains libres. Elle permet aussi de s'asseoir dans son baudrier en cas de fatigue</li>
</ul>
</div>
<p>* Location possible au club d'un set complet. Ne jamais dissocier les éléments d'un set de sécurité.</p>
<div class="info">
<p>Equipement conseillé :</p>
<ul style="list-style-position: outside; margin-left: 20px;">
<li>Des chaussures de randonnée : tenant la cheville, bien crantée et munie de semelles semi-rigides type Vibram.</li>
<li>Une paire de gants : résistants, mais pas trop épais, pour pouvoir manoeuvrer les mousquetons (éviter les moufles), et se protéger des fils métalliques des câbles usagers. Les barreaux ferreux ne sont pas très chauds non plus, de bon matin !</li>
<li>Un petit sac à dos : contenant boisson, casse-croûte et petite laine.</li>
<li>Une corde : Si vous maîtrisez l'activité et que vous voulez emmener un(e) ami(e), rappelez-vous qu'une corde dynamique (longueur : 30 mètres, diamètre : 9mm à 11mm), quelques dégaines, 2 cordelettes, un système d'assurage (huit...) peuvent se révéler utiles au fond du sac. Les réactions des amis sont parfois imprévisibles.<br />Les enfants quant à eux, ont une difficulté certaine à rester concentrés. Aussi, est-il obligatoire de les encorder. La législation nous demande d'agir en "bon père de famille" ou en professionnel.</li>
</ul>
</div>
<p> </p>
<h2 class="bleucaf"><a id="longes"></a>Les longes</h2>
<p>Il n'existe plus actuellement qu'un seul type de longes : en Y<br />Avec une longe en Y les 2 mousquetons doivent être accrochés sur la même portion de câble.<br /><br /></p>
<h3>Constitution de la double longe en Y<img class="imgFloatRight" style="float: right;" title="Longe Y" src="/ftp/images/LongesY.png" alt="Longe Y" width="293" height="152" /></h3>
<ul style="list-style-position: outside; margin-left: 20px;">
<li>Longes munies chacune d'un mousqueton (type K) à très large ouverture et à virole automatique, ainsi que d'un système empêchant la rotation du mousqueton</li>
<li>Les 2 longes sont reliées à un brin de corde dynamique passant dans un absorbeur d'énergie</li>
<li>Le brin de corde doit mesurer au minimum 1,20 mètre en aval de l'absorbeur d'énergie. <br /><strong><img title="Attention" src="/ftp/images/Attention.png" alt="Attention" width="16" height="16" /> Il ne doit jamais être noué ou pire enroulé autour de l'absorbeur,</strong> comme on peut le voir parfois<strong>.<br /></strong></li>
</ul>
<h3><br />La liaison longe - baudrier</h3>
<p><img class="imgFloatLeft" style="float: left;" title="Attention" src="/ftp/images/Attention.png" alt="Attention" width="40" height="40" />Des accidents regrettables ont eu lieu par la rupture du doigt du mousqueton reliant le baudrier à l'absorbeur d'énergie, le mousqueton s'arc-boutant sur ce dernier, lors de chutes pourtant peu importantes.<img class="imgFloatRight" style="float: right;" title="Anneau" src="/ftp/images/Liaison.png" alt="Anneau" width="155" height="110" /> <br /><br />En conséquence, la liaison longe - baudrier n'est plus autorisée qu'à l'aide :</p>
<ul style="list-style-position: outside; margin-left: 20px;">
<li>soit, d'une double sangle cousue (24-26 cm) reliée à l'absorbeur et à l'anneau d'encordement du baudrier par 2 noeuds en tête d'alouette. Les longes vendues actuellement possèdent d'origine cette sangle solidaire à l'absorbeur d'énergie.</li>
<li>soit, d'un maillon rapide en acier, d'un diamètre important, que l'on aura bien évidemment fermé.</li>
</ul>
<p> </p>
<div><a href="/pages/via-ferrata.html#top"><img class="imgFloatRight" style="float: right;" title="Haut" src="/ftp/images/logomini.png" alt="Haut" width="25" height="19" /></a></div>
<hr />
<h1 class="bleucaf"><a id="securite"></a>La sécurité</h1>
<p>L<strong>'apparente simplicité de la progression </strong>en via ferrata est, paradoxalement, <strong>source de danger</strong> car elle fait <strong>oublier le respect des règles de sécurité </strong>notamment pour les grimpeurs confirmés et les personnes non sujettes au vertige. Hors, personne n'est à l'abri d'une glissade, d'une pierre qui tombe ou d'un malaise.</p>
<p><strong>"Le danger est rarement là où on l'attend</strong>."</p>
<p> </p>
<h2 class="bleucaf">Les équipements du rocher</h2>
<p><img class="imgFloatRight" style="float: right;" title="Cable via ferrata" src="/ftp/images/Cable.png" alt="Cable via ferrata" width="174" height="150" />Les <strong>reliefs naturels</strong> (vires, ressauts, prises diverses...) permettent aux via-ferratistes de progresser. Mais, dans ce paysage vertical, cela ne suffit pas et des équipements scellés dans le rocher composent l'essentiel des via ferrate.<br /><br />Les <strong>marches métalliques</strong>, les <strong>barreaux</strong> plus ou moins importants (crampons, rampes), les <strong>échelles métalliques</strong> sont le plus couramment rencontrés, auxquels s'ajoutent pour le plaisir, des <strong>passerelles</strong>, des <strong>ponts de singes</strong> (1 câble pour les pieds, 1 câble pour les mains), et des <strong>ponts népalais</strong> (1 câble pour les pieds, 2 câbles pour les mains).<br /><br />Le long de ces équipements, se trouve un câble qui suit tout le parcours de la via ferrate et que l'on nomme <strong>ligne de vie</strong>. C'est en effet sur celui-ci que l'on doit être longé en permanence, et ainsi nous éviter le "grand saut final" !!!<br /><br />Ce câble peut, dans certains cas qui doivent rester exceptionnels, aider le via-ferratiste à progresser et à réaliser ses manipulations sécuritaires (dévers). Mais ce n'est pas sa vocation, et à notre avis, beaucoup trop de via-ferratistes en abusent.<br /><br />Ce câble passe dans des ancrages scellés dans le rocher. On appelle <strong>portion de câble</strong>, la longueur de câble comprise entre 2 <strong>ancrages</strong>. A ceux-ci, sont souvent associées des <strong>queues de cochon</strong> qui permettent d'y faire passer une corde, si le responsable décide de la nécessité de s'encorder.</p>
<p> </p>
<div><a href="/pages/via-ferrata.html#top"><img class="imgFloatRight" style="float: right;" title="Haut" src="/ftp/images/logomini.png" alt="Haut" width="25" height="19" /></a></div>
<h2 class="bleucaf">La progression autonome</h2>
<p>La progression en via ferrate s'effectue généralement :</p>
<ul style="list-style-position: outside; margin-left: 20px;">
<li>soit, en traversée : progression horizontale ;</li>
<li>soit, en ascension ou en descente : progression verticale.</li>
</ul>
<p>Vous voilà bien équipé, même si les responsables vous en parleront sûrement, les choses sérieuses vont commencer :</p>
<ul style="list-style-position: outside; margin-left: 20px;">
<li>Dès le départ, il faut se vacher sur le câble avec les 2 longes, et rester vaché jusqu'à la fin.</li>
<li>Arrivé au premier point d'ancrage, il faut mousquetonner l'autre portion de câble avec un brin de la longe, toujours après avoir vérifié que l'autre brin est bien sur le câble. Et ainsi de suite à chaque point d'ancrage.</li>
<li>Un seul via ferratiste évolue sur une portion de câble (entre 2 points d'ancrage), surtout en passage vertical.</li>
<li>Il faut veiller à ne pas laisser les brins de la longe s'emmêler et toronner.</li>
</ul>
<p> </p>
<h3>Le mousquetonnage</h3>
<p>Anticipez vos mousquetonnages : dans les passages verticaux, il faut mousquetonner dès que possible au dessus de l'ancrage supérieur. Si vous avez dépassé le point d'ancrage, prenez la peine de redescendre pour mousquetonner en parfait équilibre.<br />Dans la progression, inverser l'ouverture des mousquetons.</p>
<p> </p>
<h3>Economisez vos forces</h3>
<ul style="list-style-position: outside; margin-left: 20px;">
<li>N'hésitez pas, en cas de fatigue ou dans les passages difficiles, en dévers notamment, lors des passages d'ancrage, à vous vacher avec votre petite vache ou dégaine, sur un barreau et à vous asseoir dans votre baudrier. Vous aurez les 2 mains libres et vous évitez l'éventualité d'une chute importante.</li>
<li>Progressez plus avec vos jambes que vos bras. Ne soyez pas sans arrêt pendu aux barreaux ou à la ligne de vie qui n'est pas faite pour cela, hormis lors de passages difficiles. Prenez plaisir à utiliser le câble le moins possible.</li>
<li>Progressez le plus possible les bras tendus, surtout en dévers, sinon gare aux avant-bras et aux doigts qui s'ouvrent, et respirez dans ces moments là.</li>
<li>Et n'oubliez pas d'admirer le paysage.<br /><br /></li>
</ul>
<h3>La progression simultanée et encordée<img class="imgFloatRight" style="float: right;" title="Progression" src="/ftp/images/Progression.png" alt="Progression" width="90" height="385" /></h3>
<p>Elle est identique à la progression autonome, mais les via-ferratistes sont, en plus, encordés tous les 8 mètres sur une corde dynamique de 9 à 11 mm de diamètre. Cette corde est reliée au pontet du baudrier par un double noeud de vache et un mousqueton à vis.<br />Les responsables peuvent rester autonomes pour aider les autres participants dans les passages difficiles.<br />Les cordées ne doivent pas dépasser 4 à 5 personnes.<br />Il faut progresser corde tendue et la passer dans les queues de cochon ou les dégaines posées par le premier de cordée.<br />Le responsable peut aussi assurer les autres personnes du haut, dans un passage difficile, en corde tendue à l'aide d'un demi-cabestan ou d'une plaquette d'assurage.<br />Pour la sécurité du groupe, le leader et la personne fermant la progression peuvent utiliser des talkies-walkies.<br /> </p>
<h3>Le savoir vivre en via ferrata</h3>
<ul style="list-style-position: outside; margin-left: 20px;">
<li>Une via ferrate a un sens obligatoire. On ne doit donc pas se croiser.</li>
<li>Dans un groupe, c'est le plus faible qui donne le rythme de l'évolution. Il doit être placé devant avec le responsable.</li>
<li>Si, lors de passages difficiles, il y a de l'attente, soyez patient et sport. Vachez-vous, reposez-vous et admirez le paysage.</li>
<li>Si un groupe est très lent devant vous, soyez patient, attendez un moment propice pour le doubler (large vire par exemple). Doublez au niveau d'un ancrage en vous arrangeant pour rester vaché.</li>
<li>Aidez-vous et conseillez-vous, et surtout n'hésitez pas à appeler le responsable du groupe si vous ne vous sentez pas à l'aise ou si un membre du groupe semble en difficulté.</li>
<li>Respectez l'environnement, ne jetez rien, d'autant plus qu'il y a peut-être d'autres via-ferratistes en-dessous.</li>
</ul>
<p><br />La meilleure façon de remercier les personnes qui vous encadrent est de respecter strictement les consignes et règles de sécurité. Seul, vous êtes responsable de vos agissements ; en collective, d'autres personnes le sont pour vous.</p>
<p><a href="/pages/via-ferrata.html#top"><img class="imgFloatRight" style="float: right;" title="Haut" src="/ftp/images/logomini.png" alt="Haut" width="25" height="19" /></a></p>
<h2 class="bleucaf">Le facteur de chute</h2>
<p><img class="imgFloatLeft" style="float: left;" title="Attention" src="/ftp/images/Attention.png" alt="Attention" width="40" height="40" />Le facteur de chute constitue un des points essentiels concernant la sécurité en via ferrate et nécessitant un minimum d'explications.<br />Lorsqu'on chute, suspendu à une corde, plus la corde est longue (entre le grimpeur et le point d'assurage), plus celle-ci absorbe de l'énergie, car son élasticité en est augmentée.<br />Le facteur de chute est égal au rapport de la hauteur de chute sur la longueur de corde. Il détermine la dureté de la chute.</p>
<p> </p>
<h3>En escalade</h3>
<p>En escalade, le facteur de chute ne dépasse pas 2. C'est le risque maximum rencontré en chute directe au relais.</p>
<p><span style="text-decoration: underline;">Exemple</span> : un grimpeur est 2,50 mètres au-dessus du relais (soit 2,50 mètres de corde), et tombe. Il chute donc de 5 mètres au total (2,50 mètres au-dessus du relais + 2,50 mètres au-dessous du relais). Voir figure 1 ci-dessous.</p>
<p> </p>
<table border="0" cellspacing="5">
<tbody>
<tr>
<td> <img title="Facteur de chute escalade" src="/ftp/images/Chuteesc.png" alt="Facteur de chute escalade" width="190" height="300" />     </td>
<td>
<p> </p>
<p><strong>&lt; -- Figure 1</strong><br />Escalade<br /> Chute au relais<br /> Facteur de chute :<br /> 5 mètres / 2,50 mètres = 2<br /> <br /> <br /> <br /><strong>Figure 2 -- &gt;</strong><br /> Via ferrata<br /> Chute au passage d'ancrage    <br /> Facteur de chute :<br /> 5 mètres / 1 mètre = 5</p>
</td>
<td>    <img title="Facteur de chute via" src="/ftp/images/Chutevia.png" alt="Facteur de chute via" width="145" height="300" />   </td>
</tr>
</tbody>
</table>
<p> </p>
<h3>En via ferrata</h3>
<p>En via ferrata, lors des progressions verticales, les points d'ancrage du câble (ou ligne de vie) sont, en général, distants de 3 mètres au maximum.</p>
<p><span style="text-decoration: underline;">Exemple</span> : un via ferratiste monte au-dessus du point d'ancrage du câble de la longueur de sa longe (environ 1 mètre). En voulant mousquetonner le câble sans redescendre, il perd l'équilibre et tombe. Il chute donc de 5 mètres au total (1 mètre au-dessus du point d'ancrage supérieur + 3 mètres de longueur de câble + 1 mètre au-dessous du point d'ancrage inférieur). Voir figure 2 ci-dessus.<br /><br /></p>
<h3 class="bleucaf">L'absorbeur d'énergie</h3>
<p>Les énergies développées sont donc considérables, les conséquences pour le matériel sont énormes et obligent donc à utiliser un absorbeur d'énergie qui, en créant des forces de frottement importantes sur la longe, réduit ainsi la force de choc finale.</p>
<p>Le défilement de la corde dans l'absorbeur va freiner la chute et amoindrir la force de choc. Une agrafe plastique permet de fixer le brin de corde sur un porte-outil du baudrier.</p>
<p><img class="imgFloatLeft" style="float: left;" title="Attention" src="/ftp/images/Attention.png" alt="Attention" width="40" height="40" /><strong>Ne pas avoir d'absorbeur d'énergie sur sa longe en progression verticale, équivaut, en cas de chute, à n'avoir aucun assurage.</strong><br /> Les absorbeurs sont validés pour un poids compris entre un minimum et un maximum, vérifier la notice d'emploi.</p>
<p> </p>
<div><a href="/pages/via-ferrata.html#top"><img class="imgFloatRight" style="float: right;" title="Haut" src="/ftp/images/logomini.png" alt="Haut" width="25" height="19" /></a></div>
<hr />
<h1 class="bleucaf"><a id="cotation"></a>Cotation des via ferrata</h1>
<p>La cotation prend en compte la longueur totale, la durée, l'aspect aérien, vertical, athlétique (dévers), l'aspect technique et l'existence ou non d'échappatoires dans la via ferrate.<br />Lorsque vous serez autonomes, n'oubliez pas, avant de vous lancer, de consulter les topos, et une fois informés sur la difficulté, n'oubliez pas la météo, la carte et les numéros de secours en montagne.</p>
<div class="info">
<p>L'échelle de cotation communément adoptée par la France comporte 5 catégories de F à ED.</p>
<ul style="list-style-position: outside; margin-left: 20px;">
<li><strong>F : Facile : </strong>Sur sentiers balcons parfois aériens, mais horizontaux, ne réclamant pas de qualités particulières.<br /> </li>
<li><strong>PD : Peu Difficile : </strong>Ne présentant pas de difficultés majeures, pouvant comporter des passages aériens d'escalades faciles, des traversées parfois aériennes et exposées. A effectuer en initiation pour apprendre la progression le long des cables.<br /> </li>
<li><strong>AD : Assez Difficile :</strong> Parcours présentant quelques difficultés courtes, ne demandant pas trop de technicité et de condition physique.<br /> </li>
<li><strong>D : Difficile : </strong> Parcours et traversées présentant quelques difficultés, réunissant l'exposition, la longueur et la technicité sur des passages assez longs avec un niveau plus important de technicité et de condition physique.<br /> </li>
<li><strong>TD : Très Difficile : </strong> Parcours soutenus, verticaux, aériens, athlétiques, assez courts, exigeant des qualités de grimpeur et nécessitant un engagement supérieur suivant l'ampleur du parcours et les conditions de la montagne.<br /> </li>
<li><strong>ED : Extrêmement Difficile : </strong>Parcours exceptionnel, escalade aérienne, verticale, parfois exposée, passages athlétiques sur une bonne partie du parcours, engagement complet surtout dans les parcours en montagne, assez rare en France. Ce niveau constitue assurément la limite de difficulté pour le randonneur alpin, mais non pas de ses capacités physiques.</li>
</ul>
</div>
<p> </p>
<p><em>Attention : Ces cotations ne doivent pas être confondues avec l'échelle de cotation UIAA utilisée en alpinisme.</em></p>
<div><a href="/pages/via-ferrata.html#top"><img class="imgFloatRight" style="float: right;" title="Haut" src="/ftp/images/logomini.png" alt="Haut" width="25" height="19" /></a></div>
<p> </p>
