<p><img class="imgFloatLeft" style="margin-left: 10px; margin-right: 10px;" title="Sabot de Vénus" src="ftp/images/sabotdevenus.JPG" alt="Sabot de Vénus" width="229" height="334" /></p>
<p>La Commission Environnement Durable invite l'ensemble des adhérents et sympathisants à participer à toutes les actions de <strong>sensibilisation à la protection de la montagne</strong>, de <strong>nettoyage de sites</strong> et aux chantiers dont elle aura connaissance, qu'elles soient de l'initiative de la FFCAM (Opération "Que la montage est belle") ou d'autres organisations (Moutain Wilderness, FRAPNA...).<br /><br />La commission organise des sorties spécifiques ayant une approche tournée vers une plus grande connaissance du patrimoine offert par la montagne (Savoie baroque, lacs de montagne, géologie, faune, flore,...).</p>
<p> </p>
<p> </p>
<p>Consultez <a href="/accueil/environnement.html">les actualités</a> et <a href="/agenda/environnement.html">les sorties proposées dans l'agenda</a> pour cette activité.</p>
