<p><img style="display: block; margin-top: 0px; margin-right: 10px; margin-bottom: 10px; margin-left: 10px; float: right;" src="/ftp/images/chaletbonneval.jpg" alt="chaletbonneval" width="325" height="218" /></p>
<p style="text-align: justify;">Le chalet est situé à 1810 mètres d'altitude dans la commune de <strong>Bonneval-sur-Arc</strong> en Savoie (73) dans le massif de la <strong>Vanoise</strong>, en <strong>Haute-Maurienne</strong>.</p>
<p>Construit en 1986, il est situé à l'entrée du récent hameau touristique de Tralenta, situé tout au bout de la vallée, village classé, offre un ensemble exceptionnel de maisons anciennes habilement conservées, groupées autour de son église savoyarde, séparées par d'étroites ruelles.</p>
<p>A Bonneval sur Arc, nous accueillons dans notre chalet des skieurs de piste ou de randonnée, des randonneurs à pied ou à raquettes, des alpinistes... en gestion libre toute l’année (adhérent ou non du Club Alpin Français).</p>
<p><strong>Capacité d'accueil</strong> : 16 places en dortoirs.</p>
<p> </p>
<h2 class="bleucaf">Régles de réservations</h2>
<p>Ces règles sont applicables pendant les <strong>périodes de congés scolaires</strong> uniquement :</p>
<ul style="list-style-position: outside; margin-left: 20px;">
<li>Les réservations seront enregistrées 60 jours maxi avant l'occupation des lieux.</li>
<li>Les réservations sont limitées à 7 jours consécutifs.</li>
<li>Effectif limité à 8 personnes.</li>
<li>Toutefois, si dans les 8 jours qui précèdent le début du congé scolaire, il reste des places vacantes, celles-ci pourront être attribuées aux réservataires déjà enregistrés ou à tous autres.</li>
</ul>
<p><strong>En dehors des congés scolaires</strong>, des groupes jusqu'à 14 personnes pourront faire des réservations pour une semaine entière.</p>
<p> </p>
<p class="erreur" style="text-align: center;">Pour toutes autres informations et pour réserver, consulter le site du chalet : <a title="Chalet de Bonneval FFCAM" href="http://chaletbonnevalsurarc.ffcam.fr/home.html" target="_blank">chaletbonnevalsurarc.ffcam.fr</a></p>
<p> </p>
<p><iframe src="http://maps.google.fr/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=Bonneval-sur-Arc&amp;aq=&amp;sll=45.699594,4.884465&amp;sspn=0.075772,0.209255&amp;vpsrc=6&amp;ie=UTF8&amp;hq=&amp;hnear=Bonneval-sur-Arc,+Savoie,+Rh%C3%B4ne-Alpes&amp;t=h&amp;ll=45.374458,7.046013&amp;spn=0.028941,0.054932&amp;z=14&amp;iwloc=A&amp;output=embed" frameborder="0" scrolling="auto" width="559" height="420"></iframe></p>
<p> </p>
