<p>Tout adhérent du club qui souhaite participer aux sorties doit avoir en tête les quelques règles de base suivantes :</p>
<p> </p>
<h2 class="bleucaf"><img class="imgFloatRight" title="Lac de montagne" src="/ftp/images/lac.jpg" alt="Lac de montagne" width="337" height="251" />Quelles sont les conditions pour que je puisse participer aux sorties du club ?</h2>
<ol>
<li>Je dois être à jour de ma cotisation CAF pour l'année en cours.</li>
<li>Je dois être en bonne condition physique et posséder le niveau technique de la sortie envisagée</li>
<li>Je dois posséder l'équipement adéquat au type de sortie considérée (ski alpinisme, alpinisme, raquette à neige, escalade...)</li>
<li>Je dois régler l'éventuelle participation financière prévue pour la sortie</li>
</ol>
<p> </p>
<h2 class="bleucaf">Tarifs participation journalière aux activités :</h2>
<ol>
<li>Collectives hors alpinisme d’une durée de <strong>1 à 4 jours</strong> : inclus dans l'adhésion<strong><br /></strong></li>
<li>Toutes sorties alpinisme : <strong>10€ par jour</strong> dès le 1er jour (<strong>5€ par jour</strong> jusqu'au 25eme anniversaire)</li>
<li>Cycles d'initiation au ski de randonnée : <strong>10€ par jour</strong> dès le 1er jour</li>
<li>Autres raids, camps, cycles … : <strong>5€ par jour</strong> dès le 1er jour</li>
</ol>
<p> </p>
<h2 class="bleucaf">Carte découverte pour les non adhérents</h2>
<p>Si je ne suis pas adhérent, et si je souhaite découvrir les activités du club avant d’adhérer, j'ai la possibilité de participer à maximum 3 jours de sorties du club, grâce à la <a href="/pages/adhesion.html#carte_decouverte">carte découverte.</a></p>
<p>Au-delà , je dois prendre mon adhésion au club pour pouvoir participer aux sorties.</p>
<p> </p>
<h2 class="bleucaf">Que dois-je faire pour  m’inscrire aux sorties collectives ?</h2>
<p>Les inscriptions aux sorties collectives s’effectuent principalement en ligne sur le site internet.</p>
<p>Pour ce faire, chaque membre du club doit activer son compte sur le site (en n'oubliant pas d'y mettre sa photo, afin que l'encardrant puisse l'identifier) et faire une demande d’inscription pour telle ou telle sortie inscrite et validée sur le site. Ensuite la demande pour être acceptée, doit être validée par l’encadrant qui a le choix entre acceptation et refus.</p>
<p>Pour certaines activités il est encore possible de s’inscrire au club selon les modalités historiques : inscription auprès des responsables de la collective le jeudi soir précédant la course, pour les sorties à la journée ou au week-end.</p>
<p> </p>
<h2 class="bleucaf">Je peux pour certaines activités bénéficier d’une mise à disposition de matériel</h2>
<p>Certaines activités exigent l’utilisation de matériel spécifique : dva, sonde, pelle à neige, crampons, casque, set de via ferrata... <br />Ce matériel peut être mis à disposition par le club, dans la limite du stock disponible.<br />Le bénéficiaire doit dans ce cas verser un<strong> chèque de caution</strong> variant de 50€ à <strong>350€</strong> en fonction du matériel, plus l'éventuel coût de location.</p>
<p>Le matériel n’est prêté que pour les sorties du club, en aucun cas pour les sorties personnelles, tous les jeudi soir au siège du club. Il doit être impérativement restitué le jeudi suivant.</p>
<p><a href="/ftp/telechargements/Emprunt_materiel_2018.pdf" target="_blank">Détail des conditions d'emprunts du matériel</a></p>
<p> </p>
<h2 class="bleucaf">Les frais de transport</h2>
<p>En dehors des cars, les transports se font pour la plupart en véhicules individuels, selon un système de covoiturage, de façon à permettre le partage des frais de route.<br />(tarif de remboursement  préconisé : 0,35 € par km + frais d’autoroute)</p>
<p> </p>
<h2 class="bleucaf">Les annulations de sortie</h2>
<p>Toute sortie est susceptible d’être annulée soit par l’encadrant, soit par  le responsable de commission ou par le président, en fonction des risques éventuels, de la météo ou tout autre paramètre.</p>
<p>Ainsi en matière de nivologie, les risques 4 et 5 entraînent automatiquement l’annulation de toutes les sorties de ski alpinisme, ski de randonnée, des  cycles de ski et de  raquettes à neige. Le risque 3 doit faire l’objet d’un examen sérieux selon les massifs, les versants etc….</p>
<p>Pour connaître la définition des risques, il faut se reporter à la page consacrée à la sécurité en montagne.</p>
<p> </p>
<p> </p>
