<p><img class="imgFloatLeft" title="Skieur" src="/ftp/images/skieur.jpg" alt="Skieur" width="149" height="111" /></p>
<ol class="mini">
<li><a href="/pages/ski-de-fond.html">Présentation</a></li>
<li><a href="/pages/ski-de-fond-pratique.html">Détails pratiques</a></li>
<li><a href="/pages/ski-de-fond-technique.html">La technique</a></li>
<li><a href="/pages/ski-de-fond-biblio.html">Bibliographie</a></li>
<li><a href="/accueil/ski-de-fond.html">Les actualités</a></li>
<li><a onclick="window.open('/responsables.html#ski-de-fond','','scrollbars=yes,width=600,height=400,left='+(screen.availWidth/2)+',top=10');return false;" href="/responsables.html#ski-de-fond">Les encadrants</a></li>
</ol>
<p> </p>
<p>Les ouvrages suivants sont disponibles pour emprunt à la bibliothèque du club. N'hésitez pas à leur faire prendre l'air de temps en temps (s'adresser à l'accueil):<br /><br /></p>
<p><img class="imgFloatLeft" style="margin-right: 10px; margin-left: 10px;" src="/ftp/images/Skidefond.jpg" alt="Skidefond" width="155" height="250" /><span style="font-size: 12pt; font-family: Georgia, serif; color: #948a54;">LE SKI DE FOND</span></p>
<p><a title="Wilfrid Valette" href="http://www.glenatlivres.com/auteurs/valette-wilfrid.htm">Wilfrid Valette</a> - <a title="Renaud Charignon" href="http://www.glenatlivres.com/auteurs/charignon-renaud.htm">Renaud Charignon</a> - <a title="Vincent Vittoz" href="http://www.glenatlivres.com/auteurs/vittoz-vincent.htm">Vincent Vittoz</a> Préfacier<br /> Skating . Classique</p>
<p>Comment débuter ou se perfectionner, en classique ou en skating, quel matériel choisir, comment se préparer aux courses, quel fart appliquer, comment faire débuter ses enfants, qu’est-ce que le combiné nordique ou le biathlon… ? Ce guide donne les clés pratiques à ceux qui s’intéressent de près ou de loin au ski de fond. Grâce aux nombreux décomposés photos, les conseils techniques sont très clairs et une présentation des grands sites nordiques français complète l’ouvrage.</p>
<p><strong>Vincent Vittoz, champion du monde de ski de fond, signe la préface.</strong></p>
<p>Paru le 23.11.2011 EAN/ISBN : 9782723484343</p>
<p> </p>
<p> </p>
<p><img class="imgFloatLeft" style="margin-left: 10px; margin-right: 10px;" src="/ftp/images/Sancy.jpg" alt="Sancy" width="162" height="252" /></p>
<p> </p>
<p><strong><span style="font-size: 12pt; font-family: Georgia, serif; color: #948a54;">MASSIF DU SANCY</span></strong></p>
<p>2 à 8 jours de rando à ski<br />Chamina<br />Décembre 1981<br /><br /><br /><br /><br /><br /><br /><br /></p>
<p> </p>
<p> </p>
<p> </p>
<p><img class="imgFloatLeft" style="margin-left: 10px; margin-right: 10px;" src="/ftp/images/les-tj.jpg" alt="Les TJ" width="158" height="250" /></p>
<p> </p>
<p><strong><span style="font-size: 12pt; font-family: Georgia, serif; color: #948a54;">LES TRAVERSEES DU JURA</span></strong></p>
<p>700kms de ski sans frontière<br />Club Alpin Français<br />Pierre Brunschwig – 1980<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /></p>
