<p><a class="mailthisanchor"></a><script type="text/javascript" class="mailthis">mailThis('jlcampagnoli', 'gmail', 'com', '', 'Jean-Luc Campagnoli&nbsp;');</script> (ou 06 73 14 56 90)</p>
<p><a class="mailthisanchor"></a><script type="text/javascript" class="mailthis">mailThis('nicolas.bouin', 'gmail', 'com', '', 'Nicolas Bouin');</script> (co-encadrant) (ou 06 59 64 64 59)</p>
<h2> </h2>
<h2><span class="bleucaf">La cotation des sorties :</span></h2>
<p>Le niveau des sorties de VTT s'évalue sur 2 échelles : physique (P) et technique (T), sur des niveaux de 1 à 4 (ou vert, bleu, rouge , noir suivant les endroits).</p>
<p>P1 : Dénivelé &lt; 500m, distance &lt; 25 km,  pente faible, terrain facile.</p>
<p>P2 : Dénivelé 500-900m,  distance 25-50 km, terrain moyennement accidenté.</p>
<p>P3 : Dénivelé 900-1300m, distance &gt; 50 km, tout type de terrain. Nécessite une bonne condition physique.</p>
<p>P4 : Dénivelé au delà de 1300m, distance &gt; 50 km,  montées pouvant être longues et soutenues. Réservé à des personnes en très bonne condition physique.</p>
<p>T1 : Parcours sans difficultés : Terrain roulant à inclinaison faible ou modérée.</p>
<p>T2 : Pistes ou chemins plus raides ou caillouteux. Sentiers faciles.</p>
<p>T3 : Sentiers caillouteux avec  passages raides, possibilité de rencontrer des marches.</p>
<p>T4 : Sentiers ou chemins techniques comportant féquemment : des marches parfois hautes (&gt;40cm), des épingles, des passages raides à très raides, des portions exposées... Les descentes sont soutenues et nécessitent un bon bagage technique.</p>
<p> </p>
<div class="mini erreur">
<h4>Les différentes catégories de sorties</h4>
<ul>
<li><strong>Catégorie 1</strong> : Parcours ne présentant pas de difficultés majeures. Terrain roulant, peu de dénivelée.</li>
<li><strong>Catégorie 2</strong> : Parcours moyennement difficile. Terrain accidenté, dénivelée de 500 à 700 mètres.</li>
<li><strong>Catégorie 3</strong> : Réservée aux personnes en bonne condition physique. Forte dénivelée sur tout type de terrain.</li>
</ul>
</div>
<p> </p>
<table style="background-color: #87cefa;" border="0" frame="border" rules="rows">
<tbody>
<tr style="height: 30px;">
<td>Ain</td>
<td>Plan d'Hotonnes, Cuvéry, Chapelle de Retord, Plateau de Retord</td>
</tr>
<tr style="height: 30px;">
<td>Haut Jura et Jura</td>
<td>Giron, La Pesse, La Vattay, Lajoux</td>
</tr>
<tr style="height: 30px;">
<td>Doubs</td>
<td>La Chapelle des Bois, Métabief</td>
</tr>
<tr style="height: 30px;">
<td>Vercors</td>
<td>Autrans, Corrençon, Lans en Vercors</td>
</tr>
</tbody>
</table>
<p> </p>
<table border="1" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="text-align: center;" valign="top">
<p><strong>TARIF SAISON</strong></p>
<p><strong>2015 /2016</strong></p>
</td>
<td style="text-align: center;" valign="top">
<p><strong> Randonnée  </strong><br /><strong>VTT <br /></strong></p>
</td>
<td style="text-align: center;" colspan="2" valign="top">
<p><strong>Raquette </strong><br /><strong>Ski de fond </strong><br /><strong> Ski de piste<br /> Ski de rando  <br />Via ferrata  <br /></strong></p>
</td>
<td style="text-align: center;" valign="top">
<p><strong>Alpinisme</strong><br /><strong>Escalade</strong><br /><strong> Canyoning  <br /></strong></p>
</td>
<td style="text-align: center;" valign="top">
<p><strong> Jeunes<br />Moins de 24 ans<br />quelque soit l'activité  <br /><br /></strong></p>
</td>
</tr>
<tr>
<td style="text-align: center;" valign="top">
<p> </p>
</td>
<td style="text-align: center;" valign="top"> </td>
<td style="text-align: center;" valign="top"> </td>
<td style="text-align: center;" valign="top">KIT*</td>
<td style="text-align: center;" valign="top"> </td>
<td style="text-align: center;" valign="top"> KIT compris</td>
</tr>
<tr>
<td style="text-align: center;" valign="top">
<p>Sorties classiques - <br />la journée</p>
</td>
<td style="text-align: center;" valign="top">0€</td>
<td style="text-align: center;" valign="top">0€</td>
<td style="text-align: center;" valign="top">6€</td>
<td style="text-align: center;" valign="top">6€</td>
<td style="text-align: center;" valign="top">0€</td>
</tr>
<tr>
<td style="text-align: center;" valign="top">Sorties classiques - par <br />jour supplémentaire</td>
<td style="text-align: center;" valign="top">0€</td>
<td style="text-align: center;" valign="top">0€</td>
<td style="text-align: center;" valign="top">6€</td>
<td style="text-align: center;" valign="top">6€</td>
<td style="text-align: center;" valign="top">0€</td>
</tr>
<tr>
<td style="text-align: center;" valign="top">Séjours et raids<br /><br /></td>
<td style="text-align: center;" valign="top">5€/J</td>
<td style="text-align: center;" valign="top">5€/j</td>
<td style="text-align: center;" valign="top">6€/j</td>
<td style="text-align: center;" valign="top">6€/j</td>
<td style="text-align: center;" valign="top">0€</td>
</tr>
<tr>
<td style="text-align: center;" valign="top">Cycles<br /><br /></td>
<td style="text-align: center;" valign="top">10€/J</td>
<td style="text-align: center;" colspan="2" valign="top">10€/J</td>
<td style="text-align: center;" valign="top">10€/J</td>
<td style="text-align: center;" valign="top">0€</td>
</tr>
</tbody>
</table>
<p><strong> </strong></p>
<p>JEUNE : moins de  24 ans, gratuité  complète</p>
<p>*KIT : matériel emprunté</p>
<p> </p>
<table border="1" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="text-align: center;" valign="top">
<p><strong>TARIF SAISON</strong></p>
<p><strong>2015 /2016</strong></p>
</td>
<td style="text-align: center;" valign="top">
<p><strong> Randonnée  </strong><br /><strong>VTT</strong></p>
</td>
<td style="text-align: center;" colspan="2" valign="top">
<p><strong>Raquette </strong><br /><strong>Ski de fond </strong><br /><strong> Ski de piste  <br /></strong></p>
</td>
<td style="text-align: center;" colspan="2" valign="top">
<p><strong> Ski de rando  </strong><br /><strong>Via ferrata</strong></p>
</td>
<td style="text-align: center;" colspan="2" valign="top">
<p><strong>Alpinisme</strong><br /><strong>Escalade</strong><br /><strong>Canyoning</strong></p>
</td>
<td style="text-align: center;" colspan="2" valign="top">
<p><strong>Cycles :</strong><br /><strong>Ski de rando</strong><br /><strong>Alpinisme</strong><br /><strong>Escalade</strong><br /><strong>Via ferrata</strong></p>
</td>
</tr>
<tr>
<td style="text-align: center;" valign="top">
<p> </p>
</td>
<td style="text-align: center;" valign="top"> </td>
<td style="text-align: center;" valign="top"> </td>
<td style="text-align: center;" valign="top">KIT*</td>
<td style="text-align: center;" valign="top"> </td>
<td style="text-align: center;" valign="top">KIT*</td>
<td style="text-align: center;" valign="top"> Adulte </td>
<td style="text-align: center;" valign="top"> Jeune </td>
<td style="text-align: center;" valign="top"> Adulte </td>
<td style="text-align: center;" valign="top"> Jeune </td>
</tr>
<tr>
<td style="text-align: center;" valign="top">
<p>Sorties classiques - <br />la journée</p>
</td>
<td style="text-align: center;" valign="top">0€</td>
<td style="text-align: center;" valign="top">0€</td>
<td style="text-align: center;" valign="top">6€</td>
<td style="text-align: center;" valign="top">0€</td>
<td style="text-align: center;" valign="top">6€</td>
<td style="text-align: center;" valign="top">6€</td>
<td style="text-align: center;" valign="top">0€</td>
<td style="text-align: center;" valign="top">10€</td>
<td style="text-align: center;" valign="top">0€</td>
</tr>
<tr>
<td style="text-align: center;" valign="top">Sorties classiques - par <br />jour supplémentaire</td>
<td style="text-align: center;" valign="top">0€</td>
<td style="text-align: center;" valign="top">0€</td>
<td style="text-align: center;" valign="top">6€</td>
<td style="text-align: center;" valign="top">0€</td>
<td style="text-align: center;" valign="top">6€</td>
<td style="text-align: center;" valign="top">6€</td>
<td style="text-align: center;" valign="top">0€</td>
<td style="text-align: center;" valign="top">10€</td>
<td style="text-align: center;" valign="top">0€</td>
</tr>
<tr>
<td style="text-align: center;" valign="top">Séjours et raids<br /><br /></td>
<td style="text-align: center;" valign="top">5€/J</td>
<td style="text-align: center;" valign="top">5€/j</td>
<td style="text-align: center;" valign="top">6€/j</td>
<td style="text-align: center;" valign="top">5€/j</td>
<td style="text-align: center;" valign="top">6€/j</td>
<td style="text-align: center;" valign="top">6€/j</td>
<td style="text-align: center;" valign="top">0€</td>
<td style="text-align: center;" valign="top">10€/J</td>
<td style="text-align: center;" valign="top">0€</td>
</tr>
<tr>
<td style="text-align: center;" valign="top">Cycles<br /><br /></td>
<td style="text-align: center;" valign="top">10€/J</td>
<td style="text-align: center;" colspan="2" valign="top">10€/J</td>
<td style="text-align: center;" colspan="2" valign="top">10€/J</td>
<td style="text-align: center;" valign="top">10€/J</td>
<td style="text-align: center;" valign="top">0€</td>
<td style="text-align: center;" valign="top">10€/J</td>
<td style="text-align: center;" valign="top">0€</td>
</tr>
</tbody>
</table>
<p><strong> </strong></p>
<p> </p>
<p> </p>
<p><a href="ftp/telechargements/Tarif_adhesion_2018_2019.pdf" target="_blank">Tarifs 2018-2019</a></p>
<p><iframe style="display: block; margin-left: auto; margin-right: auto;" src="http://www.clubalpinlyon.fr/ftp/telechargements/Tarif_adhesion_2018_2019.pdf" frameborder="0" scrolling="no" width="159" height="376"></iframe></p>
<!--you can copy the below code to your htm 
page-----------------------------begin--->
<p> </p>
<p> </p>
<!--change the width and height value as you want.-->
<p> </p>
<!-- Do change "index.htm" to your real html name of the flippingbook-->
<p><iframe style="width: 600px; height: 1440px;" src="http://online.fliphtml5.com/ppzx/twpq/" frameborder="0" scrolling="no" width="320" height="240"></iframe></p>
<p> </p>
<p> </p>
<p><a title="Voir le profil" href="/includer.php?p=includes/fiche-profil.php&amp;id_user=499" target="_blank">Me contacter</a></p>
<p> </p>
