<p class="menutitle">Activer mon compte</p>
<p>Pour rejoindre le site, vous devez être inscrit au Club Alpin Français de Lyon-Villeurbanne.<br />Munissez-vous de votre numéro d'adhérent et de votre adresse e-mail, choisissez un peudonyme et un mot de passe, et laissez-vous guider.</p>
