<p><a id="top"></a><img class="imgFloatLeft" title="Ski de rando" src="ftp/images/skiderando.jpg" alt="Ski de rando" width="162" height="100" /></p>
<ol class="mini">
<li><a href="/pages/ski-de-randonnee.html#presentation">Présentation</a></li>
<li><a href="/pages/ski-de-randonnee.html#sorties">Types de sorties</a></li>
<li><a href="/pages/ski-de-randonnee.html#materiel">Matériel</a></li>
<li><a href="/pages/ski-de-randonnee.html#cotation">Cotation</a></li>
<li><a onclick="window.open('/responsables.html#ski-de-randonnee','','scrollbars=yes,width=600,height=400,left='+(screen.availWidth/2)+',top=10');return false;" href="/responsables.html#ski-de-randonnee">Les encadrants</a></li>
<li><a href="/accueil/ski-de-randonnee.html">Les actualités ski de randonnée</a></li>
</ol>
<p> </p>
<h1 class="bleucaf"><a id="presentation"></a>Présentation</h1>
<p><img class="imgFloatRight" style="margin-left: 10px; margin-right: 10px;" title="Lauzière" src="ftp/images/Lauziere.jpg" alt="Lauzière" width="279" height="195" />Qu'on l'appelle <strong>ski de randonnée</strong>, <strong>ski de montagne</strong> ou <strong>ski-alpinisme</strong>, l'activité consiste à parcourir les sommets enneigés ski au pieds hors des domaines skiables et sans utilisation des remontées mécaniques. L'ascension s'effectue grâce aux "peaux de phoque", éventuellement avec un parcours à pied, ski sur le dos,  la descente en glissant, comme pour le ski alpin.</p>
<p>Une bonne condition physique est indispensable ainsi qu'une <strong>maîtrise du ski de piste</strong> (niveau piste rouge en toute circonstance).</p>
<p>Les <strong>courses</strong> et <strong>raids</strong> <strong>de niveau 3.2 (AD)</strong> <strong>et au-dessus</strong>, et d'une dénivelée supérieure à 1200 mètres sont réservées aux skieurs alpinistes possédant déjà une <strong>expérience avérée</strong> de l'activité, une bonne endurance et la pratique de quelques courses dans la saison.</p>
<p> </p>
<h2>Le CAF propose également du <span class="bleucaf">ski hors-piste</span> qui s'adresse :</h2>
<ul style="list-style-position: outside; margin-left: 20px;">
<li>aux adhérents désireux de se lancer dans le ski de randonnée mais hésitant à franchir le pas. Cette formule est un excellent intermédiaire permettant de sortir des pistes dans des conditions idéales ;</li>
<li>aux skieurs de piste désirant découvrir de nouveaux espaces ;</li>
<li>aux amateurs de ski de randonnée, souhaitant perfectionner leur technique "toutes neiges, tous terrains" ;</li>
<li>aux pratiquants chevronnés du ski alpinisme, désireux de "se mettre en jambe" en début de saison ;</li>
<li>aux surfeurs après accord de l'encadrant.<br /><br /></li>
</ul>
<p>NB : Pour le ski de piste il y a une rubrique <a href="/pages/ski-de-piste.html">dédiée</a>.</p>
<p> </p>
<p class="erreur">Pour le détail des sorties, consultez <a href="/accueil/ski-de-randonnee.html">les actualités</a> et <a href="/agenda/ski-de-randonnee.html">l'agenda</a> de l'activité.</p>
<h1 class="bleucaf"><a id="sorties"></a>Les différents types de sortie<a href="/pages/ski-de-randonnee.html#top"><img class="imgFloatRight" style="float: right;" title="Haut" src="ftp/images/logomini.png" alt="Haut" width="25" height="19" /></a></h1>
<h2><span class="bleucaf">Les sorties collectives en week-end :</span></h2>
<p>Il s'agit de sorties sur 1 à 3 jours maximum, s'adressant généralement à des participants autonomes.<br /><br /></p>
<h2 class="bleucaf">Le ski  du mercredi :</h2>
<p>Il s'agit de sorties à la journée, le mercredi habituellement (changement éventuel le mardi ou le jeudi selon la nivo-météo) en ski de randonnée ou ski hors piste.<br /><br /></p>
<h2 class="bleucaf">Les raids et séjours en étoile :</h2>
<p>Il s'agit de sorties sur 5 à 10 jours consécutifs, en France ou à l'étranger, soit en randonnée itinérante, en changeant de gîtes ou refuges tous les jours, soit en séjour en étoile, avec un hébergement unique en gîte ou refuge. <br /><br /></p>
<h2 class="bleucaf">Les cycles :</h2>
<p>Les principes généraux des cycles sont :</p>
<ul style="list-style-position: outside; margin-left: 20px;">
<li>8 à 15 participants : ils sont toujours les mêmes et s'engagent à suivre l'intégralité du programme</li>
<li>5 et 10 sorties sur 1 à 4 jours en week-end</li>
<li>Entre décembre et mai</li>
<li>Il y a des <strong>cycles de formation</strong> dit pédagogiques, de différents niveaux (initiation, perfectionnement, autonomie), ou bien des <strong>cycles thématiques</strong> qui s'adressent à des participants autonomes.<br /><br /></li>
</ul>
<div style="margin-left: 20px;">
<h3 class="bleucaf">Les cycles pédagogiques</h3>
<p>Ils sont organisés et encadrés par des bénévoles du club. Ils se déroulent de décembre à mai avec un niveau de difficulté croissant de manière à envisager des sorties intéressantes dès la fin de la première année. Les premières sorties se font en moyenne montagne pour finir, en fin de cycle, sur les glaciers.</p>
<p>Les sorties envisagées permettront de mettre en application sur le terrain, les principes de base du ski de randonnée à l'occasion de courses en montagne de difficultés progressives et adaptées à chaque niveau : matériel et équipement du skieur de randonnée, techniques de progression à la montée et à la descente, exercices de maniement des DVA (Détecteur de Victime d'Avalanche), cartographie et orientation, météo et nivologie, préparation et conduite d'une course, prise de décision et responsabilité...</p>
<p>En cas de conditions nivologiques (risques d'avalanche) ou météorologiques défavorables, l'annulation des sorties pourra être décidée par les responsables.</p>
<h4><span class="bleucaf"> </span></h4>
<p><strong>Ces cycles de formation s'adressent</strong> à des skieurs de piste confirmés <em>(pratique du ski hors piste souhaitable)</em>, souhaitant découvrir ou approfondir la pratique du ski de randonnée et pouvoir s'y adonner ensuite dans le cadre des sorties collectives ou de manière autonome.</p>
 
<h3 class="bleucaf">Inscriptions aux  cycles</h3>
<p>Les inscriptions aux cycles se font généralement au mois d'octobre mais les modalités et les dates sont propres à chaque cycle.</p>
<p class="erreur">Pour le détail des cycles et les modalités d'inscription consulter <a href="/accueil/ski-de-randonnee.html">les actualités</a>. </p>
<p> </p>
</div>
<h1 class="bleucaf"><a id="materiel"></a>Matériel<a href="/pages/ski-de-randonnee.html#top"><img class="imgFloatRight" style="float: right;" title="Haut" src="ftp/images/logomini.png" alt="Haut" width="25" height="19" /></a></h1>
<div class="erreur">
<h3 class="bleucaf">Matériel de sécurité obligatoire pour toutes les sorties (y compris le ski hors-piste):</h3>
<ul style="list-style-position: outside; margin-left: 20px;">
<li>DVA (Détecteur de Victime d'Avalanche, ex-ARVA) obligatoirement numérique avec piles neuves montées - faire essai de fonctionnement la veille.</li>
<li>Pelle</li>
<li>Sonde à neige</li>
</ul>
<p>Si vous ne possédez pas ce matériel, il vous incombe de vous le procurer, soit en le louant auprès d'un magasin* soit auprès du Club, sous réserve de disponibilité (bien vérifier les conditions d'emprunt ou de location avant la sortie).</p>
<p>Il est fortement recommandé à chaque participant habitué des collectives de posséder son propre matériel individuel de sécurité (DVA, pelle et sonde).</p>
</div>
<div class="info">
<h3 class="bleucaf">Matériel pour le ski de randonnée / ski-alpinisme</h3>
<ul style="list-style-position: outside; margin-left: 20px;">
<li>Skis et chaussures de randonnée, bâtons, "peaux de phoques", couteaux</li>
<li>Selon la course prévue : crampons, piolet, harnais, etc. Le matériel à emporter sera précisé par l'encadrant.</li>
<li>Sac à dos suffisamment grand pour contenir les affaires personnelles et le matériel de sécurité (30 à 40 litres mini)</li>
<li>Pique-nique pour midi, gourde et/ou thermos, lunettes de soleil, 2 paires de gants, crème solaire ;<br /><br /></li>
</ul>
<h3 class="bleucaf">Matériel  pour le ski hors piste</h3>
<p>Même matériel que ski de randonnée sauf pour les skis et chaussures qui peuvent être de piste</p>
</div>
<p> </p>
<p><strong class="bleucaf">* La location du matériel</strong> est possible, à réserver pour une découverte de l'activité ou pour un usage occasionnel, chez :</p>
<ul>
<li><strong><a title="Expé" href="http://www.expe.fr" target="_blank">Expé</a> : </strong>102 rue Boileau, Lyon 6e</li>
<li><a href="https://www.neige-et-caillou.fr/" target="_blank">Neige et Caillou</a> : 71 avenue Berthelot, Lyon 3e</li>
<li><a title="Randovive - Sport Aventure" href="http://www.location-sport-aventure.com" target="_blank"><strong>Randovive (ou Sport aventure)</strong> </a>: 3 rue Detroyat, Meyzieu</li>
<li><a title="Espace Montagne" href="https://www.espacemontagne-lyon.fr/" target="_blank">Espace Montagne</a>, 63 avenue du Chater, Francheville</li>
<li><a title="e-loue" href="https://www.e-loue.com/location/loisirs/" target="_blank">e-loue.com</a> : Location entre particuliers</li>
</ul>
<h1 class="bleucaf"><a id="cotation"></a>Cotation<a href="/pages/ski-de-randonnee.html#top"><img class="imgFloatRight" style="float: right;" title="Haut" src="ftp/images/logomini.png" alt="Haut" width="25" height="19" /></a></h1>
<p>Comment définir le niveau d'un skieur de montagne ? Par son expérience de la montagne, sa résistance physique et psychique face à la pente, son exposition avec les conséquences d'une chute.</p>
<p>Ci dessous un barême de cotations qui remplace les définitions anciennement utilisés (Bon Skieur, AD, etc.). On trouvera <a href="http://www.volopress.net/volo/spip.php?article367" target="_blank">ici plus de détails</a> sur des cotations de difficultés concernant la marche et l'exposition.</p>
<table border="1" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr align="center" valign="center">
<td rowspan="2" align="center" valign="center" width="100">Cotation</td>
<td rowspan="2" align="center" valign="center" width="159">Définition</td>
<td rowspan="2" align="center" valign="center" width="132">Exemple de courses</td>
<td colspan="3" align="center" valign="center" width="228">Correspondances</td>
</tr>
<tr align="center" valign="center">
<td align="center" valign="center" width="72">Alpine</td>
<td align="center" valign="center" width="72">Blachère</td>
<td align="center" valign="center" width="84">PentePonctuelle</td>
</tr>
<tr align="center" valign="center">
<td align="center" valign="center" width="100">1.1</td>
<td rowspan="3" align="center" valign="center" width="159">Niveau d’initiation : les pentes n’excèdent pas 25°, les passages ne sont pas étroits, l’exposition n’est pas trop importante et le risque d’avalanche est généralement faible</td>
<td align="center" valign="center" width="132">Grand Rocher (col du Barioz, Belledone)</td>
<td align="center" valign="center" width="72">F-</td>
<td rowspan="3" align="center" valign="center" width="72">SM (skieur moyen)</td>
<td rowspan="3" align="center" valign="center" width="84">S1/S2 (&lt;25°)</td>
</tr>
<tr align="center" valign="center">
<td align="center" valign="center" width="100">1.2</td>
<td align="center" valign="center" width="132">Pas de la Coche(Belledonne)</td>
<td align="center" valign="center" width="72">F</td>
</tr>
<tr align="center" valign="center">
<td align="center" valign="center" width="100">1.3</td>
<td align="center" valign="center" width="132">Grand Van, Chamrousse (Belledonne)</td>
<td align="center" valign="center" width="72">F+</td>
</tr>
<tr align="center" valign="center">
<td align="center" valign="center" width="100">2.1</td>
<td rowspan="3" align="center" valign="center" width="159">Peu de difficultés techniques : pas de pentes raides (35° au maximum). Mais le dénivelé comme l’exposition à la chute ou le danger objectif peuvent être importants</td>
<td align="center" valign="center" width="132">Terre Noire, sud-ouest (Queyras)</td>
<td align="center" valign="center" width="72">PD-</td>
<td rowspan="3" align="center" valign="center" width="72">BS (bon skieur)</td>
<td rowspan="3" align="center" valign="center" width="84">S3 (25 à 35°)</td>
</tr>
<tr align="center" valign="center">
<td align="center" valign="center" width="100">2.2</td>
<td align="center" valign="center" width="132">Brèche de la Meije(Écrins)</td>
<td align="center" valign="center" width="72">PD</td>
</tr>
<tr align="center" valign="center">
<td align="center" valign="center" width="100">2.3</td>
<td align="center" valign="center" width="132">Croix de Belledonne par La Pra</td>
<td align="center" valign="center" width="72">PD+</td>
</tr>
<tr align="center" valign="center">
<td align="center" valign="center" width="100">3.1</td>
<td rowspan="3" align="center" valign="center" width="159">Entrée dans le ski alpinisme : passage techniques, pentes longues à 35°, courts passages jusqu’à 40-45°. Forêts assez denses même avec pentes faibles, chemins forestiers raides</td>
<td align="center" valign="center" width="132">Tête de l’Aupet (Dévoluy)</td>
<td align="center" valign="center" width="72">AD-</td>
<td rowspan="3" align="center" valign="center" width="72">TBS (très bon skieur)</td>
<td rowspan="3" align="center" valign="center" width="84">S4 (35 à 45°)</td>
</tr>
<tr align="center" valign="center">
<td align="center" valign="center" width="100">3.2</td>
<td align="center" valign="center" width="132">Taillefer par le pas de la Mine</td>
<td align="center" valign="center" width="72">AD</td>
</tr>
<tr align="center" valign="center">
<td align="center" valign="center" width="100">3.3</td>
<td align="center" valign="center" width="132">Charvet, face ouest (Aravis)</td>
<td align="center" valign="center" width="72">AD+</td>
</tr>
</tbody>
</table>
<p> </p>
<p>Ces cotations se modifient et perdent tout leur sens avec les conditions très variables (nivologiques, météorologiques...) de la montagne. Les niveaux de difficulté supérieure ne font pas l'objet de sorties collectives. De même, elles ne comportent pas de difficultés notables dûes à la marche et à l'exposition.</p>
<p> </p>
