<h2><a href="pages/mentions-legales.html">Mentions légales</a></h2>
<p>©Les contenus de ce site, images et textes, appartiennent au Club Alpin Français et ne peuvent être réutilisés sans l'accord de leurs auteurs respectifs.<br /><a href="pages/mentions-legales.html">[en savoir plus]</a></p>
<hr />
<p><span style="font-size: small;">Retrouvez-nous sur les réseaux sociaux<br /><a href="https://fr-fr.facebook.com/pages/Club-Alpin-Fran%C3%A7ais-de-Lyon-Villeurbanne/118851941629324" target="_blank"><img src="img/social/facebook.png" alt="Facebook" width="30" height="30" /></a> <a href="https://www.instagram.com/clubalpinlyonvilleurbanne/" target="_blank"><img src="img/social/instagram.png" alt="Instagram" width="30" height="30" /></a> </span></p>
