<h2>Liste des partenaires proposant des remises pour les adh&eacute;rents du CAF Lyon Villeurbanne</h2>
<table border="1px solid">
    <tbody>
        <tr>
            <td>
                <p><strong>Partenaire</strong></p>
            </td>
            <td>
                <p><strong>Adresse</strong></p>
            </td>
            <td>
                <p><strong>Remises adh&eacute;rents CAF LV</strong></p>
            </td>
        </tr>
        <tr>
            <td>Au Vieux Campeur</td>
            <td>
                <p>43, cours de la Libert&eacute;</p>
                <p>69003 LYON</p>
            </td>
            <td>
                <p>Remise de 18% sauf librairie, prix sp&eacute;ciaux et articles sold&eacute;s/promotions</p>
            </td>
        </tr>
        <tr>
            <td>Millet / Lafuma</td>
            <td>
                <p>42 Rue de Brest</p>
                <p>69002 LYON</p>
            </td>
            <td>
                <p>Remise de 15% sur l&rsquo;ensemble des achats effectu&eacute;s en boutique (hors soldes ou
                    promotions)</p>
                <p>Des offres promotionnelles dans l&rsquo;ann&eacute;e</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>CABESTO (ex Exp&eacute;)</p>
            </td>
            <td>
                <p>102 rue Boileau</p>
                <p>69006 LYON</p>
            </td>
            <td>
                <p>-10%&nbsp;</p>
                <p>-15% b&eacute;n&eacute;vole</p>
                <p>-20% sur carte cadeau (achat au Club)</p>
            </td>
        </tr>
        <tr>
            <td>Salomon</td>
            <td>
                <p>7 Rue du Pr&eacute;sident Carnot</p>
                <p>69002 LYON</p>
            </td>
            <td>
                <p>-20% sauf S Lab</p>
            </td>
        </tr>
        <tr>
            <td>Ekosport</td>
            <td>
                <p>183 Route de Grenoble</p>
                <p>69800 SAINT-PRIEST **</p>
            </td>
            <td>
                <p>-15% sur les produits non remis&eacute;s*</p>
                <p>-5% de remise suppl&eacute;mentaire sur les produits d&eacute;j&agrave; remis&eacute;s*</p>
            </td>
        </tr>
        <tr>
            <td>Espace Montagne</td>
            <td>
                <p>63 Avenue du Chater</p>
                <p>69340 FRANCHEVILLE</p>
            </td>
            <td>
                <p>-15% de remise sur tout le magasin</p>
            </td>
        </tr>
        <tr>
            <td>Sport 2000</td>
            <td>
                <p>SAINT ALBAN LEYSSE</p>
                <p>DRUMETTAZ</p>
                <p>EPAGNY</p>
            </td>
            <td>
                <p>-15% sur le rayon montagne*</p>
                <p>-10% sur le reste du magasin*</p>
            </td>
        </tr>
        <tr>
            <td>Degrif Sport</td>
            <td>
                <p>AIX LES BAINS</p>
                <p>PONCHARRA</p>
                <p>SEYNOD</p>
                <p>RUMILLY</p>
            </td>
            <td>
                <p>-10% de remise suppl&eacute;mentaire sur tout le magasin*</p>
            </td>
        </tr>
    </tbody>
</table>
<p><em>* hors cartes cadeaux, soldes, promotions, op&eacute;rations commerciales et non cumulables avec autres remises
        et achats de bons d&rsquo;achats par le club</em></p>
