<p>Le club alpin de Lyon-Villeurbanne comporte une section "<span class="bleucaf">Ouest Lyonnais</span>" basée à Ecully.</p>
<p>Renseignements : <a href="http://www.caflyonouest.fr/" target="_blank">http://www.caflyonouest.fr/</a></p>
