<p>www.clubalpinlyon.fr est édité par la Club Alpin Français (CAF) de Lyon Villeurbanne, association loi 1901 agréée par le Ministère de la Jeunesse et des sports.</p>
<p>Directeur de la publication : <a class="mailthisanchor"></a><script type="text/javascript" class="mailthis">mailThis('president', 'clubalpinlyon', 'fr', '', 'Jean-Christophe Segault');</script>, président du CAF de Lyon Villeurbanne.</p>
<br>
<h2><strong>Hébergeur : </strong></h2>
<p>Notre site est hébergé sur les serveurs localisés à Paris (France - Europe) de Amazon Web Services Inc, PO Box 81226, Seattle, WA 981808-1226 – USA. <a href="https://aws.amazon.com/fr/compliance/eu-data-protection/" target="_blank">https://aws.amazon.com/fr/compliance/eu-data-protection/</a></p>
<p> </p>
<h2><strong>Déclaration à la CNIL<br /></strong></h2>
    <p>Conformément à la loi n° 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, le présent site a fait l'objet d'une déclaration à la Commission nationale de l'informatique et des libertés (CNIL).
        <br />Il est crée au CAF de Lyon Villeurbanne un site Internet Web dans le cadre duquel sont mis en œuvre les traitements automatisés d'informations nominatives suivants :</p>
        <ul>
            <li>diffusion d'informations relatives à des personnes appartenant au CAF de Lyon Villeurbanne, service gestion des adhérents, service informatiques</li>
            <li>diffusion d'informations relatives à des personnes extérieures : la Fédération des clubs alpins de montagne, les associations affiliées à la Fédération, les refuges, chalets et centres alpins gérés par le CAF de Lyon Villeurbanne, </li>
            <li>la collecte de données personnelles par le biais de formulaires pour une demande de contact au CAF de Lyon Villeurbanne.</li>
        </ul>
    <p> </p>
<h2><strong>Droit d'accès et de rectification </strong></h2>
    <p>Conformément à la loi n° 78-17 du 6 janvier 1978, vous bénéficiez d'un droit d'accès à ces informations et, le cas échéant, du droit de rectification, ainsi que d'un droit d'opposition à leur conservation. Si vous souhaitez exercer ce droit, il vous suffit de nous contacter.<br /><br /></p>
<h2><strong>Propriété intellectuelle<br /></strong></h2>
    <p>L'intégralité du site www.clubalpinlyon.fr est protégée par les législations françaises et internationales relatives à la propriété intellectuelle. Tous les droits de reproduction sont réservés, y compris pour les documents téléchargeables. L'ensemble des textes, graphismes, icônes, photographies, plans, logos, vidéos, sons, marques (…) et plus généralement l'ensemble des éléments composant le site www.clubalpinlyyon.fr et le site lui-même ne peuvent, conformément à l'article L122-4 du code de la propriété intellectuelle, faire l'objet d'une quelconque représentation ou reproduction, intégrale ou partielle, sur quelque support que ce soit, sans l'autorisation expresse et préalable du CAF de Lyon Villeurbanne. Le non-respect de cette interdiction constitue un acte de contrefaçon pouvant engager la responsabilité civile et/ou pénale de son auteur.<br /><br /></p>
<h2><strong>Responsabilité</strong></h2>
    <p>Les informations communiquées sur le site www.clubalpinlyon.fr sont fournies à titre indicatif, elles sont non contractuelles et ne sauraient engager la responsabilité du CAF de Lyon Villeurbanne. Elles peuvent être modifiées ou mises à jour sans préavis. <br />Le CAF de Lyon Villuerbanne  n'assume aucune responsabilité relative à l'utilisation du site www.clubalpinlyon.fr ou ses contenus. Ainsi le CAF de Lyon n'est aucunement responsable des dommages directs ou indirects, survenant notamment à l'occasion de l'accès de l'Utilisateur au site www.clubalpinlyon.fr ou de l'utilisation du site www.clubalpinlyon.fr, du non respect du site www.clubalpinlyon.fr ou de ses contenus à toute réglementation ou toute atteinte aux droits de tiers.<br />L'utilisateur du site www.clubalpinlyon.fr renonce à exercer tout recours contre le CAF de Lyon Villeurbanne dans le cas de poursuites diligentées par un tiers à son encontre du fait de l'utilisation et/ou de l'exploitation illicite du site www.clubalpinlyon.fr<br /><br /></p>
<h2><strong>Liens</strong></h2>
    <p>Le site www.clubalpinlyon.fr peut contenir des liens vers des sites de partenaires du CAF de Lyon Villeurbanne ou de tiers. Le CAF de Lyon Villeurbanne n'exerce aucun contrôle sur ces sites et n'assume par conséquent, aucune responsabilité quant à la disponibilité de ces sites, leur contenu, publicités, produits ou services disponibles sur ou à partir de ces sites.</p>
    <br />
<h2><strong>Gestion des cookies</strong></h2>
    <p>Ce site utilise des cookies pour améliorer votre expérience de navigation. En accédant à ce site, vous consentez à l'utilisation de cookies conformément à notre politique.</p>
    <p>Liste des cookies utilisés:</p>
        <ul>
            <li>Google Analytics</li>
            <li>phpBB</li>
        </ul>
    <p>Vous pouvez contrôler les cookies via les paramètres de votre navigateur. La désactivation peut affecter la fonctionnalité du site.</p>

