<h2>Liste des partenaires proposant des remises pour les adh&eacute;rents du CAF Lyon Villeurbanne</h2>
<table border="1px solid" cellpadding="5">
    <tbody>
        <tr>
            <td>
                <p><strong>Partenaire</strong></p>
            </td>
            <td>
                <p><strong>Adresse boutique</strong></p>
            </td>
            <td>
                <p><strong>Remises adh&eacute;rents CAF Lyon Villeurbanne</strong></p>
            </td>
        </tr>
        <tr>
            <td><a href="https://www.auvieuxcampeur.fr" target="_blank"><img src="https://clubalpinlyon.fr/ftp/images/logo-partenaires/auvieuxcampeur.jpg" /></a></td>
            <td>
                <p>43, cours de la Libert&eacute;</p>
                <p>69003 LYON</p>
                <p><a href="https://www.auvieuxcampeur.fr" target="_blank">www.auvieuxcampeur.fr</a></p>
            </td>
            <td>
                <p>∙ Remise dans toutes les boutiques de 18% sauf prix spéciaux *</p>
            </td>
        </tr>
        <tr>
            <td><a href="https://www.millet.fr" target="_blank"><img src="https://clubalpinlyon.fr/ftp/images/logo-partenaires/millet-lafuma.png" /></a></td>
            <td>
                <p>42 Rue de Brest</p>
                <p>69002 LYON</p>
                <p><a href="http://www.millet.fr">www.millet.fr</a></p>
                <p><a href="http://www.lafuma.fr">www.lafuma.fr</a></p>
            </td>
            <td>
                <p>∙ Remise de 15% sur l’ensemble des achats effectués en boutique de Lyon (hors soldes ou promotions) *</p>
                <p>∙ Des offres promotionnelles dans l&rsquo;ann&eacute;e</p>
            </td>
        </tr>
        <tr>
            <td>
                <p><a href="http://www.cabesto.com"><img src="https://clubalpinlyon.fr/ftp/images/logo-partenaires/cabesto.png" /></a></p>
            </td>
            <td>
                <p>102 rue Boileau</p>
                <p>69006 LYON</p>
                <p><a href="http://www.cabesto.com">www.cabesto.com</a></p>
            </td>
            <td>
                <p>∙ Remise de 10% en magasin de Lyon sur présentation carte CAF *</p>
                <p>∙ Remise de 20% sur achats cartes cadeaux de
100€ à l’accueil du CAF – valable sur soldes et
promotions</p>
            </td>
        </tr>
        <tr>
            <td><a href="https://www.salomon.com" target="_blank"><img src="https://clubalpinlyon.fr/ftp/images/logo-partenaires/salomon.png" /></a></td>
            <td>
                <p>7 Rue du Pr&eacute;sident Carnot</p>
                <p>69002 LYON</p>
                <p><a href="http://www.salomon.com">www.salomon.com</a></p>
            </td>
            <td>
                <p>∙ Remise de 20% en boutique de Lyon hors
produits gamme S Lab *</p>
                <p>∙ Ventes priv&eacute;es dans l&rsquo;ann&eacute;e</p>
            </td>
        </tr>
        <tr>
            <td><a href="https://www.ekosport.fr" target="_blank"><img src="https://clubalpinlyon.fr/ftp/images/logo-partenaires/ekosport.png" /></a></td>
            <td>
                <p>183 Route de Grenoble</p>
                <p>69800 SAINT-PRIEST **</p>
                <p><a href="http://www.ekosport.fr">www.ekosport.fr</a></p>
            </td>
            <td>
                <p>∙ Remise de 15% en magasin sur les produits non
remisés (cf. liste magasins groupe FRASTEYA
EKOSPORT) *</p>
                <p>∙ Remise de 5% suppl&eacute;mentaire sur les produits d&eacute;j&agrave; remis&eacute;s *</p>
            </td>
        </tr>
        <tr>
            <td><a href="https://www.espacemontagne.com" target="_blank"><img src="https://clubalpinlyon.fr/ftp/images/logo-partenaires/espace-montagne.png" /></a></td>
            <td>
                <p>63 Avenue du Chater</p>
                <p>69340 FRANCHEVILLE</p>
                <p><a href="https://espacemontagne.com/">espacemontagne.com</a></p>
            </td>
            <td>
                <p>∙ Remise de 10% de remise sur tout le magasin de
Francheville *</p>
            </td>
        </tr>
        <tr>
            <td><a href="https://www.sport2000.fr" target="_blank"><img src="https://clubalpinlyon.fr/ftp/images/logo-partenaires/sport-2000.png" /></a></td>
            <td>
                <p>SAINT ALBAN LEYSSE</p>
                <p>DRUMETTAZ</p>
                <p>EPAGNY **</p>
                <p><a href="http://www.sport2000.fr">www.sport2000.fr</a></p>
            </td>
            <td>
                <p>∙ Remise de 15% sur le rayon montagne *</p>
                <p>∙ Remise de 10% sur le reste du magasin (cf. liste
magasins groupe FRASTEYA EKOSPORT) *</p>
            </td>
        </tr>
        <tr>
            <td><img src="https://clubalpinlyon.fr/ftp/images/logo-partenaires/degrif-sport.png" /></td>
            <td>
                <p>AIX LES BAINS</p>
                <p>PONCHARRA</p>
                <p>SEYNOD</p>
                <p>RUMILLY</p>
            </td>
            <td>
                <p>∙ Remise de 10% supplémentaire sur tout le
magasin (cf. liste magasins groupe FRASTEYA
EKOSPORT) *</p>
            </td>
        </tr>
        <tr>
            <td><a href="https://www.terrederunning.com" target="_blank"><img src="https://clubalpinlyon.fr/ftp/images/logo-partenaires/terre-de-running.png" /></a></td>
            <td>
                <p>8 Rue de la Barre&nbsp;</p>
                <p>69002 Lyon&nbsp;</p>
                <p><a href="http://www.terrederunning.com">www.terrederunning.com</a></p>
            </td>
            <td>
                <p>∙ Remise de 10% sur tout le magasin de Lyon
Bellecour *</p>
            </td>
        </tr>
        <tr>
            <td><a href="https://www.trirun-shop.com" target="_blank"><img src="https://clubalpinlyon.fr/ftp/images/logo-partenaires/rrunning.png" /></a><br />
                <a href="https://www.trirun-shop.com" target="_blank"><img src="https://clubalpinlyon.fr/ftp/images/logo-partenaires/running-cycle-passion.png" /></a></td>
            <td>
                <p>RRUNNING LYON</p>
                <p>104 boulevard des Belges</p>
                <p>69006 Lyon</p>
                <p></p>
                <p>RUNNING CYCLE PASSION</p>
                <p>662 rue des Joncheres</p>
                <p>69730 Genay</p>
                <p><a href="https://www.trirun-shop.com">www.trirun-shop.com</a></p>
            </td>
            <td>
                <p>∙ Remise dans les 2 boutiques de 20% sur le textile
et les chaussures de running *</p>
                <p>∙ Remise dans les 2 boutiques de 15% sur
l&#39;accessoire et l&#39;habillement vélo *</p>
                <p>∙ Remise de 20% pour les skis de fond
(uniquement du skating) boutique Genay *</p>
                <p>∙ Remise de 20% sur l&#39;atelier vélo et ski de fond
boutique Genay</p>
            </td>
        </tr>
        <tr>
            <td><a href="https://www.lepape.com/" target="_blank"><img src="https://clubalpinlyon.fr/ftp/images/logo-partenaires/lepape.png" /></a><br />
                </td>
            <td>
                <p>Lepape LYON</p>
                <p>104 boulevard des Belges</p>
                <p>69006 Lyon</p>
                <p><a href="https://www.lepape.com/">www.lepape.com/</a></p>
            </td>
            <td>
                <p>∙ Remise de 20% sur les chaussures et textiles sur le Running *</p>
-20% sur les <p>∙ Remise de 20% sur les chaussures et textiles Vélo (sauf marque assos) *</p>
- 5% sur les <p>∙ Remise de 5% sur les accessoires (nouveautés montres....) *</p>
            </td>
        </tr>
    </tbody>
</table>
<p><em>* hors cartes cadeaux, soldes, promotions, op&eacute;rations commerciales, librairie et non cumulables avec
        autres remises et achats de bons d&rsquo;achats par le club</em></p>
<p><em>** cf. <a href="https://clubalpinlyon.fr/ftp/images/logo-partenaires/LISTE-MAGASINS-GROUPE-FRASTEYA-EKOSPORT.pdf" target="_blank">liste magasins groupe FRASTEYA EKOSPORT</a></em></p>