<h1>Alors comme ça, vous avez perdu votre mot de passe ?</h1>
<p>Nous n'y avons pas accès nous-même, donc nous ne pouvons pas vous le renvoyer. Par contre vous pouvez le réinitialiser : <br />Entrez ci-dessous votre adresse e-mail, puis le nouveau mot de passe désiré. Vous recevrez un courrier avec un lien sur lequel cliquer pour confirmer le changement.</p>
