<p class="menutitle">Le Club</p>
<ul>
<li><a href="/pages/presentation.html">Présentation du club</a></li>
<li><a href="/pages/adhesion.html">Adhérer au club</a></li>
<li><a href="https://benevolat.clubalpinlyon.fr/">Le bénévolat au Club</a></li>
<li><a href="/pages/organisation-sorties.html">Organisation des sorties</a></li>
<li><a href="/responsables.html">Responsables des activités</a></li>
<li><a href="/article/la-bibliotheque-du-club-25.html">Bibliothèque</a></li>
<li><a href="/article/la-revue-alpine-24.html">Revue Alpine</a></li>
<li><a href="/pages/section-ouest-lyonnais.html">Section de l'Ouest Lyonnais</a></li>
</ul>
<p> </p>
<p class="menutitle"><a href="/forum">Forum &amp; Bourse aux équipiers</a></p>
