<p class="menutitle">Activités Sportives</p>
<ul>
<li><a href="/pages/alpinisme.html">Alpinisme / Cascade de glace</a></li>
<li><a href="/pages/canyon.html">Canyon</a></li>
<li><a href="/pages/escalade.html">Escalade</a></li>
<li><a href="/pages/randonnee.html">Randonnée</a></li>
<li><a href="/pages/marche-nordique.html">Marche nordique</a></li>
<li><a href="/pages/raquette.html">Raquette</a></li>
<li><a href="/pages/ski-de-randonnee.html">Ski de randonnée / alpinisme</a></li>
<li><a href="/pages/ski-de-piste.html">Ski de piste</a></li>
<li><a href="/pages/ski-de-fond.html">Ski de fond</a></li>
<li><a href="/pages/snowboard-rando.html">Snowboard de randonnée</a></li>
<li><a href="/pages/trail.html">Trail</a></li>
<li><a href="/pages/vtt.html">VTT Vélo de Montagne</a></li>
<li><a href="/pages/via-ferrata.html">Via ferrata</a></li>
</ul>
<p> </p>
