<p>L'image est redimensionnée dans les proportions indiquées ci-contre. Prenez soin de choisir des photographies horizontales, et jamais de textes ni de logos qui seraient tronqués de façon inesthétique.</p>
<p>Vous pourrez ajouter toutes sortes d'images dans le corps de l'article plus bas.</p>
