<p>Parce que<strong> la sécurité ça n'a pas de prix</strong>, le Club Alpin considère la <strong>formation</strong> à toutes les activités de pleine nature comme une <strong>action stratégique</strong>.</p>
<p>Elle s’adresse à tous les adhérents :</p>
<ul style="list-style-position: outside; margin-left: 15px;">
<li>pour leur pratique personnelle et collective au sein du club</li>
<li>à tous ceux qui souhaitent s’investir davantage dans le rôle d’encadrant bénévole</li>
</ul>
<p><a href="/pages/formation.html">EN SAVOIR PLUS ...</a></p>
