<p>L'alpinisme se pratique principalement au printemps-été de mai à septembre (le rocher doit être suffisamment sec pour les courses d'arêtes... et les glaciers pas trop crevassés... et les refuges sont alors gardés); voire plus tôt en moyenne montagne.<br />En hiver l'alpinisme est tout de même bien présent sous forme de cascade de glace ou de goulotte-mixte.</p>
<p><a href="/pages/alpinisme.html">EN SAVOIR PLUS ...</a></p>
