<p><strong class="bleucaf">Le Club Alpin Français de Lyon, </strong>fondé en 1876, est une association loi de 1901 et fait partie de la <a class="bleucaf" href="http://www.ffcam.fr/" target="_blank">Fédération Française des Clubs Alpins et de Montagne (FFCAM)</a>. <br />Il est exclusivement géré et animé par des membres bénévoles et il compte environ 1500 adhérents.<br />Son but est de faire connaître et défendre la montagne par tous moyens adaptés.</p>
<ul style="list-style-position: outside; margin-left: 20px;">
<li><a href="/pages/presentation.html" target="_blank">Présentation du Club</a></li>
<ul>
<li><a href="accueil/jeunes.html">Un CAF pour les jeunes !</a></li>
</ul>
<li><a href="/pages/adhesion.html">Pourquoi et comment adhérer ?</a></li>
<li><a title="Adhésion en ligne FFCAM" href="https://extranet-clubalpin.com/app/webeff/we_crv2_step01.php?IDCLUB=6900&amp;Hchk=sRuIiVPWLBeMBeai0FB7If0jVPltnJ" target="_blank">Adhérer pour la 1ère fois (en ligne)</a></li>
<li><a title="Déclaration assurance Gras-Savoye" href="https://montagne.grassavoye.com/menu/accueil_dossier/type_produit/13" target="_blank">Déclarer un accident</a></li>
<li><a title="Espace ahérent FFCAM" href="https://extranet-clubalpin.com/monespace/" target="_blank">Espace adhérent FFCAM</a></li>
<ul>
<li><a title="Renouvellement adhésion FFCAM" href="https://extranet-clubalpin.com/monespace/" target="_blank"><strong class="bleucaf">Renouveler son adhésion (en ligne)</strong></a></li>
<li><a title="Assurance complémentaire" href="https://extranet-clubalpin.com/assurance/" target="_blank">Souscrire une assurance</a></li>
<li><a title="Modifications coordonnées FFCAM" href="https://extranet-clubalpin.com/monespace" target="_blank">Modifier ses coordonnées</a></li>
</ul>
<li><a style="color: red;" href="/forum/index.php">Forum / Bourse aux équipiers</a></li>
</ul>
<p> </p>
