<p>Si tu rêves de champs de poudre, d'aventures hivernales en sécurité, de passer un bon moment avec d'autres snowboarders, cette activité est pour toi.</p>
<p>Le Club Alpin de Lyon propose cette activité depuis 3 ans avec des membres très actifs et dynamiques.</p>
<p>Nous proposons pour le moment 2 cycles composés de splitboarders (nous acceptons aussi les snowboarders en raquettes):</p>
<ul>
<li>initiation pour découvrir l'activité et se former aux bases</li>
<li>perfectionnement pour les splitboarders ayant plus d'expérience</li>
</ul>
<p>Par ailleurs, nous organisons également un weekend d'intégration et des sorties ad-hoc.</p>
<p>N'hésitez pas à nous contacter:</p>
<p><a class="mailthisanchor"></a><script type="text/javascript" class="mailthis">mailThis('snowrando', 'clubalpinlyon', 'fr', '', '');</script></p>
<p><a href="/pages/snowboard-rando.html">EN SAVOIR PLUS ...</a></p>
