<p>L'escalade au CAF de Lyon est une activité à multiples facettes : en salle, en falaise ou en grande voies, en sorties simples, cycles ou séjours ...</p>
<p><a href="https://www.clubalpinlyon.fr/article/programme-caf-2022-2023-de-la--1304.html?commission=escalade">Programme 2022-2023</a></p>
<p><br />Avec nous vous trouverez forcément votre bonheur, alors venez !</p>
<p><a href="/pages/escalade.html">EN SAVOIR PLUS ...</a></p>
