<p>L'escalade au CAF de Lyon est une activité à multiples facettes : en salle, en falaise ou en grande voies, en sorties simples, cycles ou séjours ...</p>
<p><a href="https://www.clubalpinlyon.fr/article/programme-escalade-2023-2024-j-1541.html?commission=jeunes">Programme 2023-2024 Jeunes</a></p>
<p><a href="https://www.clubalpinlyon.fr/article/test-programme-escalade-ne-pas-1503.html?commission=escalade">Programme 2023-2024 escalade en salle SAE </a></p>
<p><a href="https://www.clubalpinlyon.fr/article/programme-2023-24-escalade-en--1560.html">Programme 2023-24 escalade en extérieur "cycles SNE"</a></p>
<p><br />Avec nous vous trouverez forcément votre bonheur, alors venez !</p>
<p><a href="/pages/escalade.html">EN SAVOIR PLUS ...</a></p>
