<p>La saison ski de fond s'étale de décembre à mars suivant l'enneigement. Quel que soit votre type de pratique ou votre niveau, nous vous invitons à venir mêler vos spatules aux nôtres : du sport certes, mais aussi, surtout et avant tout du plaisir.</p>
<p>Nous sommes une petite équipe. Venez nous rejoindre !</p>
<p><a href="/pages/ski-de-fond.html">EN SAVOIR PLUS ...</a></p>
