<p>Quoi de mieux que le <strong>vélo</strong> pour découvrir de façon écologique notre nature et notre patrimoine ?<br /><strong>Débutants ou confirmé</strong>, le <strong>Club Alpin</strong> vous propose des sorties <strong>VTT</strong> de tous types, autour de Lyon et bien sûr dans nos montagnes, en fonction de la saison.</p>
<p><a href="/pages/vtt.html">EN SAVOIR PLUS ...</a></p>
