<p>La section Ouest-Lyonnais accueille tous les cafistes de l'Ouest Lyonnais à l’Espace Ecully le jeudi soir à 19h00 en toute convivialité.</p>
<p><a href="/pages/section-ouest-lyonnais.html">EN SAVOIR PLUS ...</a></p>
