<h1>Splitboard</h1>
<p>A splitboard is a snowboard that can be separated into two ski-like parts used with climbing skins to ascend slopes the same way alpine touring or telemark skis are. The two halves can then be connected to form a regular snowboard for descent.</p>
