<h2>Les objectifs de la commission envrionnement durable sont :</h2>
<ul>
<li style="text-align: justify;"><strong>Sensibiliser</strong> pour faire prendre conscience de la fragilité et du caractère irremplaçable du milieu montagnard.</li>
<li style="text-align: justify;"><strong>Informer</strong> de l'urgence de la situation pour décider de nouveaux comportements.</li>
<li style="text-align: justify;"><strong>Agir</strong> pour transmettre une nature harmonieuse et préservée aux générations futures et s'opposer aux projets la mettant en danger.</li>
</ul>
<p><a href="/pages/environnement.html">EN SAVOIR PLUS ...</a></p>
