<p><strong>Ski de randonnée</strong> ou <strong>ski alpinisme</strong>, si vous rêvez de parcourir les sommets en hiver ski aux pieds, cette activité est pour vous...</p>
<p>Le Club Alpin de Lyon vous propose :</p>
<ul>
<li>Des sorties collectives le week-end ou le mercredi</li>
<li>Des cycles de formation</li>
<li>Des raids à ski</li>
</ul>
<p><a href="/pages/ski-de-randonnee.html">EN SAVOIR PLUS ...</a></p>
