<p><em><strong>La montagne n'est pas réservée qu'aux adultes!</strong> <br /></em></p>
<p><span style="color: #333333;">Vous avez envie d'effectuer des activités en extérieur avec vos enfants. Néanmoins, vous ne trouvez pas d'autres familles pour partager ces moments.</span> </p>
<p><span style="text-decoration: underline;">Le Mini CAF est orienté sur un concept Multi Activités :</span></p>
<p>=&gt; <span style="font-style: italic;">Randonnées douces estivales ou hivernales</span></p>
<p><span style="font-style: italic;">=&gt; </span><em>Vélo facile avec carriole ou siège BB</em></p>
<p><em>=&gt; Escalade facile sur site école</em></p>
