<p>Le Club Alpin de Lyon propose tout au long de l'année des randonnées de tous niveaux dans les massifs des alentours, allant des Monts de Lyonnais ou du Pilat jusqu'aux Alpes.</p>
<p><a href="/pages/randonnee.html">EN SAVOIR PLUS ...</a></p>
