<p>Envie de conjuguer passion pour la course à pied et amour de la montagne ? <br />Venez rejoindre l'équipe de la nouvelle activité Trail du Club Alpin de Lyon-Villeurbanne.</p>
<p><a href="/pages/trail.html">EN SAVOIR PLUS ...</a></p>
