<p>La raquette, c'est très chouette ! <br />Venez pratiquer avec le Club Alpin de Lyon cette activité ludique et accessible qui permet, de décembre à avril, d'aller s'oxygèner en montagne.</p>
<p><a href="/pages/raquette.html">EN SAVOIR PLUS ...</a></p>
