<p>Modifiez vos informations sur le site, et votre photo. Ne joignez aucun fichier image si vous souhaitez conserver la photo actuelle.</p>
<p>Les <strong>informations publiques</strong> sont visibles par tous les visiteurs du site, votre pseudonyme vous aide à conserver l'anonymat.</p>
<p>Les <strong>informations privées</strong> ne sont accessibles qu'au responsables du CAF et sont indispensables pour des raisons évidentes de sécurité, et pour vous identifier lors de la préparation des sorties. Les responsables des sorties valident les inscriptions en vérifiant votre profil, prenez donc soin de le tenir à jour.</p>
<p>Enfin, pour sauvegarder l'ensemble des modifications entrées ci-dessous, cliquez sur le bouton <em>Enregistrer</em> en bas de page.</p>
