<p><img style="float: left; margin-right: 5px;" title="En attente" src="./ftp/images/valid_president_0.png" alt="En attente" width="24" height="24" />Validation en attente :<br />Cette sortie n'a <strong>pas encore</strong> été validée par les responsables du CAF.</p>
