<p><img style="float:left; margin-right: 5px;" title="Validée" src="/ftp/images/valid_president_1.png" alt="Validée" width="24" height="24" />Validation du président :<br />Cette sortie est officiellement validée par le CAF ! </p>
