<p><img style="float: left; margin-right: 5px;" title="Non validée" src="/ftp/images/valid_president_2.png" alt="Non validée" width="24" height="24" />Cette sortie <strong>n'est pas validée</strong> par le Club Alpin Français. La responsabilité du club n'est pas engagée en cas d'incident.</p>
