<p>Supprimer définitivement la sortie et les fichiers liés. <strong>Attention</strong> : vous ne devriez jamais supprimer une sortie qui a été publiée sur le site car la conserver permet d'établir des statistiques, et l'URL de la page dédiée à cette sortie retournera une erreur si des utilisateurs souhaitent y retourner.</p>
