<p>Ces sorties sont publiées sur le site. Vous pouvez les valider comme sortie officielle du CAF, ou bien refuser de les afficher en tant que telles. Ceci n'annulera pas la sortie pour autant, libre à vous de contacter l'organisateur. Les boutons de validation / refus se trouvent <em>uniquement</em> sur la page dédiée à la sortie.</p>
<p>  </p>
