<!DOCTYPE html>
<html lang="fr">
    <head>
        {% block stylesheets %}
            {% include 'stylesheets.html.twig' %}
        {% endblock %}

        {% block scripts %}
            {% include 'javascripts.html.twig' %}
        {% endblock %}
    </head>
    <body class="tw-flex tw-flex-col tw-justify-center tw-items-center tw-w-full tw-h-full">
        {% block body %}
        {% endblock %}
    </body>
</html>
