{% import 'macros/user-image.html.twig' as user_image %}

<form action="{{ path('article_comment', {'id': article.id}) }}" method="post" id="comment-form" class="loading">
    <input type="hidden" name="csrf_token" value="{{ csrf_token('article_comment') }}" />
    <input type="hidden" name="unlock1" value="0" />

    <div style="float:left; width:75px; padding-top:3px;">
        {{ user_image.user_img(app.user, 'pic') }}
    </div>
    <div style="float:left; width:530px;">
        <textarea name="cont_comment" class="type2" style="width:460px; height:90px;" placeholder="Laisser un commentaire" ></textarea>
        <br />
        <input type="submit" class="rond" value="OK" />
    </div>
    <br style="clear:both" />
    <br />
    <br />
</form>

<script type="text/javascript">
    // js pour diminuer le risque de spams autos.
    // Deverrouillage du formulaire lors de l'interaction
    $().ready(function(){
        $('#comment-form input.rond').bind('focus mouseenter', function(){
            $('#comment-form input[name=unlock1]').val('unlocked');
        });
    });
</script>
<br />
