{% extends 'base.html.twig' %}

{% block title %}404 : Page introuvable{% endblock %}

{% block body %}
    <div id="404" class="vide"><p style="text-align: center;"> </p>
        <h2 style="text-align: center;">404</h2>
        <p style="text-align: center;">Désolé, cette page est introuvable. Vous avez peut-être suivi un lien obsolète en dehors de ce site ? <br />Sinon, si c'est un lien dans ce site qui provoque cette erreur, merci de nous contacter.</p>
        <p style="text-align: center;">Bref, <a href="/">revenir à l'accueil</a> ?</p>
    </div>
{% endblock %}
