{% extends 'base.html.twig' %}

{% block title %}Erreur interne{% endblock %}

{% block body %}
    <div class="vide" style="max-width:720px;margin:40px auto;">
        <h2>Oups, une erreur interne s'est produite</h2>
        <p>
            Désolé pour la gêne occasionnée. Nous avons été automatiquement alertés.
            Si le problème persiste, merci de réessayer plus tard ou de contacter le support.
        </p>
        <p>
            <a href="/" class="nice2">Retour à l'accueil</a>
        </p>
    </div>
{% endblock %}

