<!-- éUTF8 -->
<!-- la string templateimgs doit être dynamiquement remplacé par sa version absolue ! -->
<body style="background:#90d0dc; padding:0; margin:0; border:0; font-family:Trebuchet MS; font-size:11px; line-height:18px; ">
	<table style="border-collapse:collapse; width:100%">
		<tr style="vertical-align:top;">
			<td style="width:215px; overflow:hidden;"><a href="[RACINE]" title=""><img src="templateimgs/titleimage.jpg" alt="[SITENAME]" title="[SITENAME]" style="border:none" border="0" /></a></td>
			<td style="padding:10px 25px; background:url('templateimgs/paper.jpg'); background-color:#e5e5e5">
				[HEADER]
				[MAIN]
				[FOOTER]
			</td>
			<td style="width:50px;"><img src="templateimgs/bord.jpg" alt="" title="" /></td>
		</tr>
	</table>
	<style type="text/css">
		p, ul{ font-size:15px; }
		a{ color:gray }
		h1{ font-size:25px; font-weight:bold; }
		h2{ font-size:20px; font-weight:bold; }
	</style>
</body>