.white-box {
    background: white;
    box-shadow: $box-shadow;
    box-sizing: border-box;
    padding: $gutter;
    margin: 0 $gutter-double 0 0;
}

.green-box {

    box-sizing: border-box;
    color: $black;
    border: 1px solid $green-dark;
    margin: $gutter $gutter-double $gutter 0;
    padding: $gutter;
    background: $green-light;
    box-shadow: $box-shadow;
}